[2020-10-09 16:48] KiranAkadas opened #1 "3 | Longest Substring Without Repeating Characters | Python"
Problem name: Longest Substring Without Repeating Characters
Difficulty: Medium
Language: Python

[2020-10-09 16:48] KiranAkadas commented on #1
Please assign this to me

[2020-10-09 16:54] noisefilter19 commented on #1
Go ahead @KiranAkadas

[2020-10-09 17:12] #1 closed

[2020-10-09 17:18] KiranAkadas opened #3 "55 | JumpGame | Python"
Problem name: Jump Game
Difficulty: Medium
Language: Python

[2020-10-09 17:19] KiranAkadas commented on #3
Taking this up

[2020-10-09 17:26] KiranAkadas opened #4 "214 | Shortest Palindrome | Python"
Problem name: Shortest Palindrome
Difficulty: 214
Language: Python

[2020-10-09 19:12] shubhamnag14 commented on #4
can i solve this issue

[2020-10-10 01:52] noisefilter19 commented on #4
@shubhamnag14 feel free to open a new issue in other language or any other algorithm. Assigning it to @KiranAkadas as he created rhis

[2020-10-10 04:36] #3 closed

[2020-10-10 04:39] noisefilter19 opened #6 "22 | Generate Parentheses | Go"
Problem name: Generate Parentheses
Difficulty: Medium
Language: Go

[2020-10-10 04:41] noisefilter19 opened #7 "6 | ZigZag Conversion | C"
Problem name: ZigZag Conversion
Difficulty: Medium
Language: C

[2020-10-10 04:42] noisefilter19 opened #8 "6 | ZigZag Conversion | Go"
Problem name:ZigZag Conversion
Difficulty: Medium
Language: Go

[2020-10-10 04:43] noisefilter19 opened #9 "41 | First Missing Positive | C++"
Problem name: First Missing Positive
Difficulty: 41
Language: C++

[2020-10-10 05:26] nainys opened #11 "1402 | Reducing Dishes | C++"
Problem name: Reducing Dishes
Difficulty: Hard
Language: C++

[2020-10-10 05:48] amanjain97 commented on #9
@noisefilter19 Can I take this.

[2020-10-10 05:49] JackTNorris commented on #9
Already submitted PR

[2020-10-10 05:58] noisefilter19 commented on #9
@JackTNorris please read the contribution guidelines before submitting the PR.

[2020-10-10 05:59] noisefilter19 commented on #9
please take up an existing issue or open a new issue and wait for the assignment @JackTNorris

[2020-10-10 06:36] amanjain97 commented on #9
@noisefilter19 Please review https://github.com/noisefilter19/LeetCode_Algorithms/pull/14
Thanks

[2020-10-10 06:37] amanjain97 commented on #8
@noisefilter19 Can I take this issue ?

[2020-10-10 06:50] ankush1024 opened #15 "5 | Longest Palindromic Substring | Python"

[2020-10-10 06:51] #15 closed

[2020-10-10 06:53] ankush1024 opened #16 "5 | Longest Palindromic Substring | Python"
Problem name: Longest Palindromic Substring
Difficulty: Medium
Language: Python

[2020-10-10 06:55] ankush1024 commented on #16
Please assign this to me. :)

[2020-10-10 06:56] amanjain97 commented on #6
@noisefilter19 Can I take this issue ?

[2020-10-10 06:56] jarvisdev opened #17 "794 | Valid Tic-Tac-Toe State | C++"
Problem name: Valid Tic-Tac-Toe State
Difficulty: Medium
Language: C++

[2020-10-10 07:00] yvshah23365 commented on #17
I am working on this.

[2020-10-10 07:15] yvshah23365 commented on #17
Please look at the following PR : https://github.com/noisefilter19/LeetCode_Algorithms/pull/18 . Please Review and merge.

[2020-10-10 07:55] jarvisdev commented on #17
Why is it closed?

[2020-10-10 07:56] shubhamnag14 commented on #16
can i solve this issue..please assign me then

[2020-10-10 08:35] noisefilter19 commented on #16
Assigned to @ankush1024

[2020-10-10 09:16] #4 closed

[2020-10-10 09:17] #11 closed

[2020-10-10 09:22] ankush1024 opened #28 "14 | Longest Common Prefix | Python"
Problem name: Longest Common Prefix
Difficulty: Easy
Language: Python

[2020-10-10 09:22] ankush1024 commented on #28
Please assign it to me. :)

[2020-10-10 09:32] #9 closed

[2020-10-10 09:39] noisefilter19 commented on #6
Hey Aman, let's make it one issue at a time. Please complete the other one and then this is all yours

[2020-10-10 09:40] noisefilter19 commented on #9
@JackTNorris have merged your solution as well as it took a slight different approach.

[2020-10-10 09:45] noisefilter19 commented on #28
One at a time.

[2020-10-10 09:45] amanjain97 commented on #8
@noisefilter19 Please review https://github.com/noisefilter19/LeetCode_Algorithms/pull/29

[2020-10-10 09:47] su-madeye opened #30 "1578 | Minimum Deletion Cost to Avoid Repeating Letters | CPP"
Hey I would like to contribute to the repo by adding the CPP solution to the problem Minimum Deletion Cost to Avoid Repeating Letters of leetcode. If already not assigned it to anyone, please assign it to me.

Problem name: Minimum Deletion Cost to Avoid Repeating Letters
Difficulty: Medium
Language: C++

[2020-10-10 09:49] hruday-tej commented on #7
Please Assign this to me, I've already solved it

[2020-10-10 09:55] #8 closed

[2020-10-10 09:55] hellache opened #31 "142 | Linked List Cycle II | Java"
Problem name: Linked List Cycle II
Difficulty: Medium
Language: Java

[2020-10-10 09:55] noisefilter19 commented on #30
Go ahead

[2020-10-10 09:56] noisefilter19 commented on #7
@htu

[2020-10-10 10:00] amanjain97 commented on #6
@noisefilter19 Please review https://github.com/noisefilter19/LeetCode_Algorithms/pull/33

[2020-10-10 10:01] #16 closed

[2020-10-10 11:39] shagunarora opened #36 "91 | Decode Ways | C++"
Problem name: Decode Ways
Difficulty: Medium
Language: C++

[2020-10-10 11:40] shagunarora commented on #36
can you assign me this issue in c++

[2020-10-10 12:13] jarvisdev opened #37 "406 | Queue Reconstruction by Height | C++"
Problem name: Queue Reconstruction by Height
Difficulty: Medium
Language: C++

[2020-10-10 12:14] jarvisdev commented on #37
@noisefilter19 if #17 is not assigned to me I can contribute this one

[2020-10-10 13:12] saurabh-172 opened #38 "189 | Rotate Array | python"
hi, I'm new to open source contribution and hacktoberfest but I have read your contribution guidelines and I would like to contribute to this repo by adding python solution to the problem Rotate Array of LeetCode. Please assign this to me if not assigned to anyone.
I also had a doubt that are we allowed to use the built-in function in algorithm questions like if the question is to sort then except

[2020-10-10 13:50] noisefilter19 commented on #38
Hey, you can use any standard library provided by the language. Also, make sure that the solutions are accepted on leetcode. I've assigned the issue to you

[2020-10-10 14:16] saurabh-172 commented on #38
thanks for assigning me and clearing my doubts. Accordingly, I have made PR please check #38

[2020-10-10 15:24] kaash-bot opened #42 "50 | Pow(x, n) | C"
Problem name: Implement pow(x, n), which calculates x raised to the power n (i.e. x^n).
Difficulty: Medium
Language: C

[2020-10-10 15:50] rks-69 opened #43 "15 | 3 Sum | Java"
Problem name: 3 Sum
Difficulty: Medium
Language: Java

[2020-10-10 15:50] rks-69 commented on #43
Please assign me this problem, as I have already solved it.

[2020-10-10 16:05] arindam9999 commented on #42
Can you please assign this issue to me?
@noisefilter19 I would like to work on this issue

[2020-10-10 16:07] hruday-tej commented on #7
Hey I have added the code snippet and made a Pull Request kindly check that, **Thank you**

[2020-10-10 16:09] noisefilter19 commented on #42
@arindam9999 feel free to open a new issue with a new problem it different language

[2020-10-10 16:10] hruday-tej commented on #31
Hey I have O(n) solution using the **Floyds algorithm**, if possible please assign this issue to me

[2020-10-10 16:11] arindam9999 commented on #42
Sure

[2020-10-10 16:11] hruday-tej commented on #42
@noisefilter19 I have a Solution to this in JAVA and Python as well, can You assign me this?

[2020-10-10 16:22] arindam9999 opened #45 "200 | Number of Islands | Python"
Problem name: Number of Islands
Difficulty: 200
Language: Python

[2020-10-10 16:23] arindam9999 commented on #45
I would like to work on this problem please assign this to me

[2020-10-10 16:33] bharath2000 opened #46 "Problem name: 3 Sum Difficulty: Medium Language: Java"

[2020-10-10 16:33] #46 closed

[2020-10-10 16:36] SaimantikaBasu opened #47 "5 | Longest_Palindromic_Substring | C++"
Problem name: Longest_Palindromic_Substring
Difficulty: Medium
Language: C++

[2020-10-10 16:39] arindam9999 commented on #45
Thanks

[2020-10-10 16:39] bharath2000 opened #48 "44 | WILDCARD MATCHING| C++"
Problem name: Wildcard Matching
Difficulty: hard
Language: C++

[2020-10-10 16:39] bharath2000 commented on #48
please assign me this problem, i have already solved it.

[2020-10-10 16:40] aroradhruv2308 opened #49 "1277 | Count Square Sub-matrices with All Ones | C++"
Problem name: Count Square Submatrices with All Ones
Difficulty:  Medium
Language: C++

[2020-10-10 16:42] aroradhruv2308 commented on #49
Hey can you assign this issue to me ?

[2020-10-10 17:34] reshma-avvaru commented on #49
is it still open

[2020-10-10 17:34] SaimantikaBasu commented on #47
Hi @noisefilter19 I've added the solution in the C++ folder. Please check and let me know.

[2020-10-10 17:35] JackTNorris commented on #9
@noisefilter19 So sorry! Kinda new to this. I will make sure to do that next time

[2020-10-10 17:46] #38 closed

[2020-10-10 17:52] #45 closed

[2020-10-10 18:27] iamsnj opened #55 "338 | Counting Bits | Python"
Problem name: Counting Bits
Difficulty: Medium
Language: Python

Please assign it to me.

[2020-10-10 18:33] #43 closed

[2020-10-10 18:33] #30 closed

[2020-10-10 18:55] #47 closed

[2020-10-10 19:02] iamsnj opened #59 "338 | Counting Bits | Python"
Problem name: Counting Bits
Difficulty: Medium
Language: Python

[2020-10-10 19:03] iamsnj commented on #55
Sorry, I created this issue without template.

[2020-10-10 19:03] #55 closed

[2020-10-10 19:04] iamsnj commented on #59
Please assign this issue to me.
Thanks :)

[2020-10-10 21:29] mandloiaditi opened #60 "45 | Jump Game II | C++"
Problem name: Jump Game II
Difficulty: Hard
Language: C++

[2020-10-10 21:30] mandloiaditi commented on #60
Please assign it to me.

[2020-10-10 21:39] #60 closed

[2020-10-10 23:23] SushanthReddyManda opened #61 "1551.| Minimum Operations to Make Array Equal | Python"
Problem name: Minimum Operations to Make Array Equal
Difficulty: Medium
Language: Python

[2020-10-10 23:27] SushanthReddyManda commented on #61
Can I take this issue ?   .  Hope to hear from u soon :)

[2020-10-11 00:16] saurabh-172 opened #62 "142 | Linked List Cycle II | python"
Problem name: Linked List Cycle II
Difficulty: medium
Language: python

I would like to contribute by providing solution to this problem in python from LeetCode. Please assign me if anyone is not assigned. I had a doubt that someone already given solution to this in Java and I have solved this in python this would be allowed right if not then my apologies and also I will remove this issue in that

[2020-10-11 00:50] aditya113141 opened #63 "Problem No.32 | Problem name- Longest Valid Parentheses | Language- C++"
Problem name:Longest Valid Parentheses
Difficulty:Hard
Language:C++

I would like to contribute my solution for this problem.
Please assign me to do it.

[2020-10-11 00:54] saurabh-172 opened #64 "1535 | Find the Winner of an Array Game | python"
Problem name: Find the Winner of an Array Game
Difficulty: medium
Language: python

I tried hard to solve this problem on LeetCode and I would like to contribute by adding the solution to this problem. please assign me if anyone is not assigned.

[2020-10-11 02:01] qf-jonathan opened #65 "8 | String to Integer (atoi) | Python"
Problem name: String to Integer (atoi)
Difficulty: Medium
Language: Python

[2020-10-11 02:13] fernandakawasaki opened #66 "212 | Word Search II | Python"
Problem name: Word Search II
Difficulty: Hard
Language: Python

[2020-10-11 02:50] Vpingdevil commented on #65
I can submit this solution.. Please assign me

[2020-10-11 02:53] qf-jonathan opened #67 "420 | Strong Password Checker | C++"
Problem name: Strong Password Checker
Difficulty: Hard
Language: C++

[2020-10-11 03:11] Vpingdevil commented on #65
can I submit pull request??

[2020-10-11 03:19] qf-jonathan commented on #65
@Vpingdevil I think you need to read the [Contribution Guidelines](https://github.com/noisefilter19/LeetCode_Algorithms/blob/main/CONTRIBUTION.md) first

[2020-10-11 03:21] Vpingdevil commented on #65
You mean, I've to raise an issue for the problem I've to contribute..
If so, Thank you!!

[2020-10-11 04:26] grpnpraveen commented on #6
Can I add leetcode in other than python

[2020-10-11 04:33] sark-2110 opened #68 "334 | Increasing Triplet Subsequence | Python"
Problem name: Increasing Triplet Subsequence
Difficulty: Medium
Language: Python

[2020-10-11 04:37] neil007m opened #69 "692 | Top K Frequent Words | Python"
Problem name: 692 Top K Frequent Words
Difficulty: Medium
Language: Python

[2020-10-11 04:42] neil007m opened #70 "16 | 3Sum Closest | Python"
Problem name: 3Sum Closest
Difficulty: Medium
Language: Python

[2020-10-11 04:44] neil007m opened #71 "215 | Kth Largest Element in an Array | Python"
Problem name: Kth Largest Element in an Array
Difficulty: Medium
Language: Python

[2020-10-11 04:45] neil007m opened #72 "973 | K Closest Points to Origin | Python"
Problem name: K Closest Points to Origin
Difficulty: Medium
Language: Python

[2020-10-11 04:46] neil007m opened #73 "297 | Serialize and Deserialize Binary Tree | Python"
Problem name: Serialize and Deserialize Binary Tree
Difficulty: Hard
Language: Python

[2020-10-11 04:48] neil007m opened #74 "103 | Binary Tree Zigzag Level Order Traversal | Python"
Problem name: Binary Tree Zigzag Level Order Traversal
Difficulty: Medium
Language: Python

[2020-10-11 05:33] learn-everyday-with-me commented on #70
Can you please assign this to me.

[2020-10-11 05:34] kalpeshT101 commented on #74
assign

[2020-10-11 05:40] neil007m commented on #70
Please read [CONTRIBUTING.md](https://github.com/noisefilter19/LeetCode_Algorithms/blob/main/CONTRIBUTION.md)

[2020-10-11 05:40] neil007m commented on #74
Please read [CONTRIBUTING.md](https://github.com/noisefilter19/LeetCode_Algorithms/blob/main/CONTRIBUTION.md)

[2020-10-11 05:42] JackTNorris opened #75 "1008 | Construct Binary Search Tree from Preorder Traversal | C++"
Problem name: Construct Binary Search Tree from Preorder Traversal
Difficulty: Medium
Language: C++

I would like to contribute my solution for this problem.
Please assign me to do it.

[2020-10-11 05:53] learn-everyday-with-me opened #76 "22 | Generate Parentheses | Python"
Problem name: Generate Parentheses
Difficulty: Medium
Language: Python

Can you assign this problem to me.

[2020-10-11 05:59] #42 closed

[2020-10-11 06:03] noisefilter19 commented on #61
Go ahead

[2020-10-11 06:08] noisefilter19 commented on #74
@neil007m Would you like to work on this?

[2020-10-11 06:09] jarvisdev opened #77 "Rename CONTRIBUTION.md to CONTRIBUTING.md"
According to Hacktoberfest website, the repo should have a contribution guideline file named `CONTRIBUTING.md`

[2020-10-11 06:13] noisefilter19 commented on #77
Right. But that would be a very small issue to work on and not a quality PR. I'll do that myself. Thanks for pointing it out :)

[2020-10-11 06:13] #77 closed

[2020-10-11 06:15] noisefilter19 commented on #65
@qf-jonathan Go ahead!

[2020-10-11 06:18] noisefilter19 commented on #74
@kalpeshT101 Feel free to pick some other issue or open a new one

[2020-10-11 06:22] #6 closed

[2020-10-11 06:25] Vpingdevil opened #79 "2 | Add Two Numbers | Python"
Problem name: Add Two Numbers
Difficulty: Medium
Language: Python

[2020-10-11 06:50] Ahkam95 commented on #79
@Vpingdevil  are you doing this ?

[2020-10-11 06:50] michal-dbrnowski opened #80 "139 | Word Break | Python"
Problem name: 139. Word Break
Difficulty: Medium
Language: Python

[2020-10-11 06:51] Vpingdevil commented on #79
yes.. I want to..

[2020-10-11 06:51] michal-dbrnowski commented on #80
Please, assign me to this issue.

[2020-10-11 06:58] Ahkam95 opened #81 "4. | Median of Two Sorted Arrays | Python"
Problem name: 4. Median of Two Sorted Arrays
Difficulty: hard
Language: python

[2020-10-11 06:59] ZarghamDanial commented on #81
Hey, can i take up this issue?

[2020-10-11 07:03] Ahkam95 commented on #81
@ZarghamDanial  Actually I 'm interested in this problem and currently developing it. I'm awaiting for the permission to make a PR.
@amanjain97  please assign me.
BTW sorry @ZarghamDanial. Try another one:)

[2020-10-11 07:04] michal-dbrnowski opened #82 "54 | Spiral Matrix | Python"
Problem name: 54. Spiral Matrix
Difficulty: Medium
Language: Python

[2020-10-11 07:04] michal-dbrnowski commented on #82
Please, assign me to this issue.

[2020-10-11 07:15] SushanthReddyManda opened #84 "1545 | Find Kth Bit in Nth Binary String | Python"
Problem name: Find Kth Bit in Nth Binary String
Difficulty: Medium
Language: Python

[2020-10-11 07:15] SushanthReddyManda commented on #84
Can I take up this issue . Hope to hear from u soon :)

[2020-10-11 07:22] amanjain97 commented on #81
@Ahkam95 I am not admin/ maintainer of this repo or issue. Please ask @noisefilter1

[2020-10-11 07:25] Ahkam95 commented on #81
It was a mistake @amanjain97  :)
@noisefilter19  please assign me

[2020-10-11 07:33] Ahkam95 opened #87 "38 | Count and Say | Python"
Problem name: Count and Say
Difficulty: Easy
Language: Python

[2020-10-11 07:35] Ahkam95 commented on #87
@noisefilter19  I would like to work on this issue since i really love this problem. Please assign me

[2020-10-11 07:47] neil007m commented on #74
@noisefilter19 yes. I opened a few other issues as well.

[2020-10-11 07:53] ZarghamDanial commented on #81
Its okay @Ahkam95 , all the best!

[2020-10-11 08:18] ankitsri98 commented on #7
Hello , I have added an Explanation And Clear Code And Tried To Explain it. Please have a look at it . THANK YOU

[2020-10-11 09:12] learn-everyday-with-me commented on #76
Done, Please check it.

[2020-10-11 09:19] learn-everyday-with-me opened #95 "96 | Decode Ways | Python"
Problem name: Decode Ways
Difficulty: Medium
Language: Python

Can you assign this problem to me.

[2020-10-11 09:40] GudlaArunKumar opened #97 "4. | Median of Two Sorted Arrays | C++"
Problem name: Median of Two Sorted Arrays
Difficulty: Medium
Language: C++

[2020-10-11 09:49] learn-everyday-with-me commented on #95
Can you please assign this to me.

[2020-10-11 10:22] kaash-bot opened #99 "450 | Delete Node in a BST | C"
**Problem name:** Given a root node reference of a BST and a key, delete the node with the given key in the BST. Return the root node reference (possibly updated) of the BST.

Basically, the deletion can be divided into two stages:

Search for a node to remove.
If the node is found, delete the node.

**Difficulty:** Medium

**Language:** C

[2020-10-11 10:25] #37 closed

[2020-10-11 10:26] #76 closed

[2020-10-11 10:33] #59 closed

[2020-10-11 10:46] grpnpraveen opened #100 "Problem No. | Problem name | Language"
Problem name: Median of Two Sorted Arrays

Difficulty: HARD
Language: python

[2020-10-11 10:56] maxily1 commented on #65
Wait, Is the mission just to convert a string to integer?
If so, I would like to work on this.

[2020-10-11 10:58] grpnpraveen opened #102 "Problem No. | Problem name | Language"
Problem name: Wildcard_Matching
Difficulty:HARD
Language:python

[2020-10-11 11:01] ganm0 opened #104 "72 | Edit Distance | C++"
Problem name: Edit Distance
Difficulty: Hard
Language: C++

Can you assign this problem to me.

[2020-10-11 11:03] Rares-AndreiVasiu commented on #71
[documentation](https://www.geeksforgeeks.org/kth-smallestlargest-element-unsorted-array/)

[2020-10-11 11:20] Vpingdevil opened #107 "10 | Regular Expression Matching | Python"
Problem name: Regular Expression Matching
Difficulty: Hard
Language: Python

[2020-10-11 11:37] TheFenrisLycaon commented on #107
I can do it

[2020-10-11 11:38] TheFenrisLycaon commented on #82
I finished it in my PR. #108

[2020-10-11 11:41] TheFenrisLycaon commented on #102
I can do it. Assign me.

[2020-10-11 11:41] TheFenrisLycaon commented on #100
I can do it. Assign me.

[2020-10-11 11:44] kalpeshT101 commented on #104
Assign

[2020-10-11 11:57] #79 closed

[2020-10-11 12:01] #48 closed

[2020-10-11 12:33] sark-2110 opened #113 "535 | Encode and Decode TinyURL | C++"
Problem name: Encode and Decode TinyURL
Difficulty: Medium
Language: C++

[2020-10-11 12:33] aditya113141 commented on #63
Hey, I have added the code snippet and made a pull request.
Please let me know if any changes are needed to be done.

[2020-10-11 12:43] noisefilter19 opened #114 "Call for Co-Maintainers"
Hey guys,
I've received a very positive response in the recent Hacktoberfest event and feel that a helping hand in reviewing and assignment of issues would be much required and thus need someone to help me out. Please comment down below if anyone is interested, I'll review your profile.
Thanks
Also, to reduce the spam PR's and issues, we have decided to review github activity of users before assig

[2020-10-11 13:08] vizhnu opened #115 "449 | Serialize and Deserialize BST | Java"
Problem name: Serialize and Deserialize BST
Difficulty: Medium
Language: Java

[2020-10-11 13:08] vizhnu commented on #115
I have solved this. Assign this to me please.

[2020-10-11 14:02] Ahkam95 commented on #87
@noisefilter19  may I proceed??

[2020-10-11 14:35] pranavaddepalli opened #117 "2 | Add Two Numbers | Python"
Problem name: Add Two Numbers
Difficulty: Medium
Language: Python

If this could be assigned to me, that would be great.

[2020-10-11 14:37] pranavaddepalli opened #118 "2 | Add Two Numbers | Java"
Problem name: Add Two Numbers
Difficulty: Medium
Language: Java

I've also completed this problem in Java. If this could be assigned to me, that would also be great.

[2020-10-11 14:40] eg180 commented on #117
Interested in this. I am really trying to find my first 'hacktoberfest' labeled issue! Thank you.

[2020-10-11 14:41] #62 closed

[2020-10-11 14:43] #81 closed

[2020-10-11 14:49] #36 closed

[2020-10-11 14:51] #63 closed

[2020-10-11 14:55] #68 closed

[2020-10-11 14:55] saurabh-172 commented on #64
Please assign me to this I would like to add a solution to this problem

[2020-10-11 14:57] noisefilter19 commented on #74
@neil007m Please solve one at a time

[2020-10-11 15:00] bharath2000 opened #120 "97 | Interleaving String | C++"
Problem name: Interleaving String
Difficulty: hard
Language: C++

[2020-10-11 15:01] bharath2000 commented on #120
please assign me this problem, i have already solved it.

[2020-10-11 15:05] tanushree57 commented on #118
I've solved this one. If you could kindly check the PR I've submitted for this issue

[2020-10-11 15:19] bharath2000 opened #124 "84 | Largest Rectangle in Histogram | C++"
Problem name: Largest Rectangle in Histogram
Difficulty: hard
Language: C++

[2020-10-11 15:19] bharath2000 commented on #124
please assign me this problem, i have already done it.

[2020-10-11 15:33] rahulatrkm opened #125 "316. | Remove Duplicate Letters | Python"
Problem name: Remove Duplicate Letters
Difficulty: Medium
Language: Python

[2020-10-11 15:34] bharath2000 opened #126 "85. | Maximal Rectangle | C++"
Problem name: Maximal Rectangle
Difficulty: hard
Language: C++

[2020-10-11 15:34] bharath2000 commented on #126
please assign me this problem

[2020-10-11 15:36] iamsnj opened #127 "1447 | Simplified Fractions | Python"
Problem name: Simplified Fractions
Difficulty: Medium
Language: Python

[2020-10-11 15:37] iamsnj commented on #127
Please assign this issue to me.
Thanks :)

[2020-10-11 15:37] Tuntai commented on #125
hey man! please can you assign it to me? would love to work on it.

[2020-10-11 15:43] Pulkit-100 opened #128 "449 | Serialize and Deserialize BST | Python"
Problem name: Serialize and Deserialize BST
Difficulty: Medium
Language: Python

[2020-10-11 15:43] Pulkit-100 commented on #128
Assign this to me. Thanks

[2020-10-11 15:56] Tuntai commented on #125
tried adding the solution. do check!

[2020-10-11 16:00] jarvisdev commented on #77
Yeah. Understood. Even I just raised this issue to draw attention. I was not expecting this one for hacktoberfest

[2020-10-11 16:13] tenzu15 commented on #71
I would like to give it a try! Looking for my first hacktober issue.

[2020-10-11 16:19] grpnpraveen commented on #100
it is solved already

[2020-10-11 16:50] ByteCode-Test commented on #124
i can solve this Problem efficiently. plz assign me .
thank you

[2020-10-11 16:50] ByteCode-Test commented on #120
i can solve this Problem efficiently. plz assign me .
thank you

[2020-10-11 17:09] AggRag opened #136 "56 | Merge Intervals | Python"
Problem name: Merge Intervals
Difficulty: Medium
Language: Python

[2020-10-11 17:15] #136 closed

[2020-10-11 17:25] gaurav7019 opened #138 "19 | Remove Nth Node From End of List | C++"
Problem name: Remove Nth Node From End of List
Difficulty: Medium
Language: C++

[2020-10-11 17:50] ByteCode-Test commented on #138
Sir please Assign this to me , i can resolve it.
thank you

[2020-10-11 18:07] ankitsri1998 commented on #127
Please Assign this to me, I can do this efficiently.
Thank You.

[2020-10-11 18:07] ankitsri1998 commented on #126
Please Assign this to me, I can do this efficiently.
Thank You.

[2020-10-11 18:08] ankitsri1998 commented on #125
Please Assign this to me, I can do this efficiently.
Thank You.

[2020-10-11 18:18] iamsnj commented on #127
@ankitsri1998 you can take other problem, as I have raised the issue first.
I hope you get it.
Thanks :)

[2020-10-11 19:19] SushanthReddyManda commented on #84
@noisefilter19  Can I take up this issue ?

[2020-10-11 19:29] Jainchhavi16 opened #143 "887 | Super Egg Drop | C++"
Problem name: Super Egg Drop
Difficulty: Hard
Language: C++

[2020-10-11 19:30] Jainchhavi16 commented on #143
I would like to work on this issue that I have created . Please assign it to me. Thanks in advance

[2020-10-11 19:34] Jainchhavi16 commented on #143
I have created a pr too. Please look into it.
Thanks

[2020-10-11 20:00] ankitsri1998 commented on #143
can a person create and then itself resolve its doubt
is it possible ?

[2020-10-11 20:08] Jainchhavi16 commented on #143
Yes

On Mon 12 Oct, 2020, 1:30 AM ankitsri1998, <notifications@github.com> wrote:

[2020-10-11 22:40] na-vural opened #153 "273 | Integer to English Words | Python"
Problem name: Integer to English Words
Difficulty: Hard
Language: Python

[2020-10-11 22:41] na-vural commented on #153
I will solve this, assign me pls :)

[2020-10-11 22:41] na-vural opened #154 "891 | Sum of Subsequence Widths | Python"
Problem name: Sum of Subsequence Widths
Difficulty: Hard
Language: Python

[2020-10-11 22:42] na-vural commented on #154
Can you assign me pls :) thanks

[2020-10-11 23:33] neil007m commented on #71
@tenzu15 You have to raise issues for problems and @noisefilter19 will assign them. Most issues raised here are by people who want to contribute those particular questions. Please read [CONTRIBUTING.md](https://github.com/noisefilter19/LeetCode_Algorithms/blob/main/CONTRIBUTING.md) for more details

[2020-10-11 23:35] neil007m commented on #114
Hi @noisefilter19 - I'm happy to take on some responsibilities.

[2020-10-12 00:27] frank731 opened #155 "841 | Keys and Rooms | Python"
Problem name: Keys and Rooms
Difficulty: Medium
Language: Python

[2020-10-12 00:35] shivamraj6288 opened #156 "62 | Unique Paths | C++"
Problem name:Unique Paths
Difficulty:Medium
Language:C++

[2020-10-12 01:06] glyve99 opened #158 "11 | Container With Most Water | Go"
Problem name: Container With Most Water
Difficulty: Medium
Language: Go

[2020-10-12 01:07] glyve99 commented on #158
Hey, can you assign this problem to me? thx :)

[2020-10-12 02:18] Vpingdevil opened #160 "2 | Add Two Numbers | C++"
Problem name: Add Two Numbers
Difficulty: Medium
Language: C++

[2020-10-12 02:40] AbhishekTiwari07 commented on #160
Please assign this issue to me

[2020-10-12 02:40] linuxpatel commented on #160
Hello there! Please assign this issue to me. Thank You

[2020-10-12 02:47] linuxpatel commented on #156
Hello! I am working on this issue. Please assign this issue to me. Thank You.

[2020-10-12 04:01] TheFenrisLycaon commented on #100
@grpnpraveen he/se/they hasn't/haven't closed the issue yet. I thought it was still open.

[2020-10-12 04:14] ravidyarev commented on #67
Please assign to me

[2020-10-12 04:18] tenzu15 commented on #71
@neil007 Thanks

[2020-10-12 04:19] TheFenrisLycaon opened #163 "1561 | Maximum Number of Coins You Can Get | Python"
Problem name: Maximum Number of Coins You Can Get
Difficulty: Medium
Language: Python

[2020-10-12 04:38] VinayakaGosula commented on #163
I'll work on this.

[2020-10-12 04:40] TheFenrisLycaon commented on #163
It's finished.

[2020-10-12 04:55] sark-2110 commented on #114
@noisefilter19 I can help you with this. You can check my account @sark-2110 .Thanks.

[2020-10-12 05:23] grpnpraveen commented on #102
sry but it is solved

[2020-10-12 05:24] grpnpraveen commented on #100
oh but they are not seeing my pull requests , dont know why

[2020-10-12 06:02] ritesh-dt opened #165 "647 | Palindromic Substrings | Python"
Problem name: Palindromic Substrings
Difficulty: Medium
Language: Python

[2020-10-12 06:05] ritesh-dt commented on #165
I would like to work on this issue/problem? @noisefilter19 Could you assign this to me?

[2020-10-12 06:05] dhanika08 commented on #160
Please assign this issue to me

[2020-10-12 06:11] ByteCode-Test commented on #165
PLEASE Assign this to me i'm good at it

[2020-10-12 06:55] hardik7e opened #167 "1111 | Maximum Nesting Depth of Two Valid Parentheses Strings | C++"
Problem name: Maximum Nesting Depth of Two Valid Parentheses Strings
Difficulty: Medium
Language: C++

[2020-10-12 06:56] hardik7e commented on #167
Please assign this problem to me

[2020-10-12 06:56] kaunik07 commented on #138
I would like to solve this , Please assign it to me

[2020-10-12 07:03] kaunik07 opened #169 "452 | Minimum Number of Arrows to Burst Balloons | C++"
Problem name: Minimum Number of Arrows to Burst Balloons
Difficulty: Medium
Language: C++

[2020-10-12 07:03] kaunik07 commented on #169
Please assign this question to me .

[2020-10-12 08:01] cakon2 opened #170 "1282 | Group the People Given the Group Size They Belong To | Python"
Problem name: Group the People Given the Group Size They Belong To
Difficulty: Medium
Language: Python

Link: https://leetcode.com/problems/group-the-people-given-the-group-size-they-belong-to/

[2020-10-12 08:01] cakon2 commented on #170
Please assign me to this issue !

[2020-10-12 08:17] KevinYc5 opened #171 "934 | shortest-bridge | C++"
Problem name: shortest-bridge
Difficulty: Medium
Language: C++

[2020-10-12 08:18] KevinYc5 commented on #171
Please assign this question to me .

[2020-10-12 08:33] invisibleflame commented on #28
Please assign this to me

[2020-10-12 08:35] KevinYc5 opened #172 "10 | regular-expression-matching | C++"
Problem name: regular-expression-matching
Difficulty: Hard
Language: C++

[2020-10-12 08:36] KevinYc5 commented on #172
Please assign this question to me.

[2020-10-12 08:44] Harivind opened #173 "1395 | Count Number of Teams | Python"
Problem name: Count Number of Teams
Difficulty: Medium
Language: Python

[2020-10-12 09:03] Harivind commented on #173
Please assign me to this issue !

[2020-10-12 10:16] arpita2712 commented on #118
Please assign this to me . I have solution ready.

[2020-10-12 11:04] Kadermiyanyedi commented on #173
Can you assign me to this issue for c++?

[2020-10-12 11:05] flick-23 commented on #117
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 11:05] flick-23 commented on #172
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 11:05] flick-23 commented on #173
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 11:05] flick-23 commented on #120
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 11:06] flick-23 commented on #118
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 11:06] flick-23 commented on #125
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 11:06] flick-23 commented on #82
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 11:06] SpasZahariev opened #176 "46 | Permutations | Python"
Problem name: Permutations
Difficulty: Medium
Language: Python

[2020-10-12 11:06] flick-23 commented on #67
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 11:07] flick-23 commented on #167
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 11:07] SpasZahariev commented on #176
Hello, could you please assign to me

[2020-10-12 11:07] flick-23 commented on #113
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 11:34] chAlekhya commented on #176
@noisefilter19 please assign this to me.

[2020-10-12 11:35] gaurav7019 commented on #138
@ByteCode-Test  @kaunik07  Read Contribution Guidelines first.

[2020-10-12 12:19] shagunarora opened #179 "22 | Generate Parentheses | C++"
Problem name: Generate Parentheses
Difficulty: Medium
Language: C++

[2020-10-12 12:20] shagunarora commented on #179
@noisefilter19 Hey could you please assign this issue to me?

[2020-10-12 12:21] SpasZahariev commented on #158
hello, I'd like to participate and write a Python solution for this as well if you could assign that to me :) @noisefilter19

[2020-10-12 12:50] conradojordan opened #180 "869 | Reordered Power of 2 | Python"
Problem name: Reordered Power of 2
Difficulty: Medium
Language: Python

[2020-10-12 12:50] conradojordan commented on #180
I would like this issue assigned to me, if possible

[2020-10-12 12:51] vivek-alt opened #181 "1302 | Deepest Leaves Sum | C++"
Problem name:Deepest Leaves Sum
Difficulty:Medium
Language:C++

[2020-10-12 12:52] vivek-alt commented on #181
Hi, I would like this issue to be assigned to me if possible.

[2020-10-12 12:58] aal2015 opened #182 "61 | Rotate List | C++"
Problem name: Rotate List
Difficulty: Medium
Language: C++

[2020-10-12 12:59] ByteCode-Test commented on #138
@gaurav7019 Sir i have read the guidelines now you can assign me.
Problem No. 19  | Remove Nth Node From End of List  | C++

[2020-10-12 12:59] aal2015 commented on #182
I would like to solve this issue, please assign it to me

[2020-10-12 13:03] kaunik07 commented on #138
Yes sir , I have read and solving new problem . Thank You

[2020-10-12 14:02] Rudransh24 commented on #182
Can you assign this to me?

[2020-10-12 15:04] sasthan opened #183 "94. | Binary Tree Inorder Traversal | Python"
Problem name: Binary Tree Inorder Traversal
Difficulty: Medium
Language: Python

[2020-10-12 15:05] sasthan commented on #183
I would like to be assigned this issue

[2020-10-12 15:07] sasthan opened #184 "19. | Remove Nth Node From End of List | Python"
Problem name:Remove Nth Node From End of List
Difficulty:Medium
Language:Python

[2020-10-12 15:08] sasthan commented on #184
Please assign me this issue so I can work on it.

[2020-10-12 15:23] #61 closed

[2020-10-12 15:25] #74 closed

[2020-10-12 15:26] #80 closed

[2020-10-12 15:29] #31 closed

[2020-10-12 15:45] #128 closed

[2020-10-12 15:46] #82 closed

[2020-10-12 15:54] KevinYc5 commented on #171
I make a hand mistake that removing the assignment.😅Please assign this question to me again...

[2020-10-12 16:14] SpasZahariev opened #190 "Problem No. | Problem name | Language"
Problem name: Letter Combinations of a Phone Number
Difficulty: Medium
Language: Python

[2020-10-12 16:14] SpasZahariev opened #191 "17 | Letter Combinations of a Phone Number | Python"
Problem name: Letter Combinations of a Phone Number
Difficulty: Medium
Language: Python

[2020-10-12 16:14] SpasZahariev commented on #191
Hi, please assign when convenient

[2020-10-12 16:25] PradeepNalluri opened #192 "316 | Remove Duplicate Letters | Java"
Problem name: Remove Duplicate Letters
Difficulty: Medium
Language: Java

Kindly, please assign this question to me.

Thanks
PN

[2020-10-12 16:31] PradeepNalluri opened #193 "61 | Rotate List | Java"
Problem name: Rotate List
Difficulty: Medium
Language: Java
Please assign this task to me.

Thanks
PN

[2020-10-12 16:58] jackson132002 commented on #160
Heyy, Please assign this to me , I like to do CP

[2020-10-12 17:30] neil007m commented on #69
@noisefilter19 I can pick this one up next

[2020-10-12 17:32] #84 closed

[2020-10-12 17:33] SushanthReddyManda opened #196 "1545 | Find Kth Bit in Nth Binary String | Python"
Problem name:  Find Kth Bit in Nth Binary String
Difficulty:  Medium
Language:  Python

[2020-10-12 17:34] SushanthReddyManda commented on #196
@noisefilter19   Can I take up this Issue .   Hope to hear from u soon :)

[2020-10-12 17:36] tht-jxny opened #197 "15 | 3 Sum | Python"
Problem name: 3 Sum
Difficulty: Medium
Language: Python

I'd like to work on that. Could you please assign it to me?

[2020-10-12 17:48] jackson132002 commented on #156
please assign this to me. I have completed it.

[2020-10-12 18:11] SpasZahariev opened #199 "11 | Container With Most Water | Python"
Problem name: Container With Most Water
Difficulty: Medium
Language: Python

[2020-10-12 18:12] SpasZahariev commented on #199
hello, please assign to me when convenient @noisefilter19

[2020-10-12 18:39] vivekray903 opened #203 "65 | Valid Number | C++"
Problem name:Valid Number
Difficulty: Hard
Language: C++

[2020-10-12 19:50] devarshiporwal commented on #72
Can I work on this issue?
Thank you!

[2020-10-12 19:54] glyve99 opened #207 "54 | Spiral Matrix | Go"
Problem name: Spiral Matrix
Difficulty: Medium
Language: Go

[2020-10-12 19:55] glyve99 commented on #207
Can you assign this problem to me, please?

[2020-10-12 20:00] RuanGOA opened #208 "1476 | Subrectangle Queries | Python"
Problem name: Subrectangle Queries
Difficulty: Medium
Language: Python

[2020-10-12 20:01] RuanGOA commented on #208
Can you assign this problem to me?

[2020-10-12 20:35] chankruze commented on #72
Kro kro PR submit kro

[2020-10-12 21:47] manas-init commented on #190
Hi @SpasZahariev, I've created a PR for solution to this problem.: https://github.com/noisefilter19/LeetCode_Algorithms/pull/210

[2020-10-12 22:03] iyerkritika opened #211 "165| Compare Version Numbers | C++"
This is the description on leetCode.

Given two version numbers, version1 and version2, compare them.

Version numbers consist of one or more revisions joined by a dot '.'. Each revision consists of digits and may contain leading zeros. Every revision contains at least one character. Revisions are 0-indexed from left to right, with the leftmost revision being revision 0, the next revision being re

[2020-10-12 22:05] iyerkritika commented on #211
please assign to me. solution is 0ms solution but uses memory. Currently trying to better space complexity.

[2020-10-12 22:46] neil007m commented on #72
@devarshiporwal Please raise issues for problems that don't already have an open issue or existing solution for them. @noisefilter19 will assign you issues and you can go ahead and submit a pull request. Most issues raised here are by people who want to contribute those particular questions (me, in this case). Please read [CONTRIBUTING.md](https://github.com/noisefilter19/LeetCode_Algorithms/blob/

[2020-10-13 03:18] vikas9905 opened #215 "84 | Largest Rectangle in Histogram | cpp"
Problem name:Largest Rectangle in Histogram
Difficulty:Hard
Language:CPP

[2020-10-13 03:23] vikas9905 opened #216 "532. | K-diff Pairs in an Array| CPP"
Problem name: K-diff Pairs in an Array
Difficulty:Medium
Language:CPP

[2020-10-13 03:41] divyagupta-98 commented on #216
@vikas9905 Could you please assign this to me?

[2020-10-13 05:11] grpnpraveen opened #217 "About pullrequests"
I made a pull request before two days and in the hacktoberfest site, it also showed that. But, today in the site it's showing that no pull requests are made.
anyone help me.

[2020-10-13 05:24] AbhishekTiwari07 commented on #215
please assign this to me

[2020-10-13 05:34] bharath2000 commented on #120
made a pull request, please check on it.
[https://github.com/noisefilter19/LeetCode_Algorithms/pull/218](url)

[2020-10-13 05:38] bharath2000 commented on #120
#218

[2020-10-13 06:06] opentechnologist opened #219 "2 | Add Two Numbers | Javascript"
Problem name: Add Two Numbers
Difficulty: Medium
Language: Javascript

[2020-10-13 06:07] opentechnologist commented on #219
i would like to contribute my solution that is already accepted in leetcode for this problem.
it's at **124ms** runtime, faster than **90.92%** amongst all the existing javascript submissions.

if you agree, please assign this issue to me? thanks! :grin:

[2020-10-13 06:22] BittuRoxs opened #220 "1561 | Maximum Number of Coins You Can Get | C++"
Problem name: Maximum Number of Coins You Can Get
Difficulty: Medium
Language: C++

[2020-10-13 07:06] UdeshAthukorala opened #221 "6 | ZigZag Conversion | Python"
Problem name: ZigZag Conversion
Difficulty: Medium
Language: Python

[2020-10-13 07:07] Ms3105 commented on #220
1561 | Maximum Number of Coins You Can Get | C++ #220
Please assign me.

[2020-10-13 07:08] UdeshAthukorala commented on #221
@noisefilter19  I'd like to work on this problem. Can you please assign it to me?

[2020-10-13 08:09] salfaris opened #222 "443 | String Compression | Python"
Problem name: String Compression
Difficulty: Medium
Language: Python

[2020-10-13 08:09] salfaris commented on #222
It would be awesome if you could assign this problem to me. Cheers!

[2020-10-13 08:29] cakon2 opened #224 "890 | Find and Replace Pattern | Python"
Problem name: Find and Replace Pattern
Difficulty: Medium
Language: Python

Link: https://leetcode.com/problems/find-and-replace-pattern/

[2020-10-13 08:29] cakon2 commented on #224
Please assign me to this !

[2020-10-13 09:01] gaurav7019 commented on #138
@noisefilter19 Check #195

[2020-10-13 09:43] grpnpraveen commented on #217
oh ok

[2020-10-13 12:23] duilio92 commented on #73
Hi I will be working on this if it is still available

[2020-10-13 12:24] eduardoluiz7 opened #225 "43 | Multiply Strings | Python"
Problem name: Multiply Strings
Difficulty: Medium
Language: Python

[2020-10-13 12:31] eduardoluiz7 commented on #225
Please assign me to this issue!

[2020-10-13 12:38] rickben opened #226 "5 | Longest Palindromic Substring | Java"
Problem name: Longest Palindromic Substring
Difficulty: Medium
Language: Java

Please assign to me this problem @noisefilter19

[2020-10-13 12:38] ofekMula opened #227 "5 | Longest Palindromic Substring | C"
Problem name: Longest Palindromic Sequence
Difficulty: Medium.
Language: C.

please assign to me this problem.

[2020-10-13 12:39] duilio92 opened #228 "654 | Maximum Binary Tree | Python"
Problem name: https://leetcode.com/problems/maximum-binary-tree/
Difficulty: Medium
Language: Python

link: https://leetcode.com/problems/maximum-binary-tree/

[2020-10-13 12:39] duilio92 commented on #228
Please I would like to have this issue assigned to me

[2020-10-13 12:58] Melvin-Abraham opened #229 "349 | Intersection of Two Arrays | Python"
**Problem name:** 349. Intersection of Two Arrays
**Difficulty:** Easy
**Language:** Python

[2020-10-13 13:00] Melvin-Abraham commented on #229
I would like to work on this. Please assign me this issue...

[2020-10-13 13:26] myllenaalves commented on #66
I would like to work on this issue/problem? @fernandakawasaki  Could you assign this to me? (i don't understand if it is assign for someone else)

[2020-10-13 13:32] myllenaalves commented on #70
I would like to work on this issue/problem? @neil007m  Could you assign this to me?

[2020-10-13 14:05] DesmondWasHere commented on #73
I would like to solve this issue, please assign it to me

[2020-10-13 14:54] neil007m commented on #70
Thanks for your interest @myllenaalves
Please raise issues for problems that don't already have an open issue or existing solution for them. The owner @noisefilter19  will assign you issues and you can go ahead and submit a pull request. Most issues raised here are by people who want to contribute those particular questions (me, in this case). Please read [CONTRIBUTING.md](https://github.com/noise

[2020-10-13 14:55] neil007m commented on #73
Thanks for your interest @DesmondWasHere
Please raise issues for problems that don't already have an open issue or existing solution for them. The owner @noisefilter19  will assign you issues and you can go ahead and submit a pull request. Most issues raised here are by people who want to contribute those particular questions (me, in this case). Please read [CONTRIBUTING.md](https://github.com/noi

[2020-10-13 15:28] #49 closed

[2020-10-13 15:30] #65 closed

[2020-10-13 15:31] noisefilter19 commented on #66
@fernandakawasaki Are you working on this?

[2020-10-13 15:32] #97 closed

[2020-10-13 15:33] #115 closed

[2020-10-13 15:33] basharfarid77 commented on #227
Would be happy to contribute if assigned :)

[2020-10-13 15:35] #75 closed

[2020-10-13 15:37] #138 closed

[2020-10-13 15:40] #165 closed

[2020-10-13 15:41] #155 closed

[2020-10-13 15:43] #167 closed

[2020-10-13 15:44] #170 closed

[2020-10-13 15:46] #173 closed

[2020-10-13 15:47] #176 closed

[2020-10-13 15:47] #180 closed

[2020-10-13 15:49] #181 closed

[2020-10-13 15:50] noisefilter19 commented on #183
Why are there 2 files?

[2020-10-13 15:59] noisefilter19 commented on #221
I suppose this has been added already

[2020-10-13 16:02] UdeshAthukorala commented on #221
Thank you.

[2020-10-13 16:17] JaniniRami07 opened #238 "350 | Quick-Sort Algorithim | Python3.8"
Problem name: Quick-Sort Algorithm visualized in Matplotlib.
Difficulty: Medium
Language: Python3.8

I would like to assign this problem to myself.

[2020-10-13 16:18] vivekray903 commented on #203
Submitted my Code

[2020-10-13 16:18] #203 closed

[2020-10-13 16:19] Shubham2227 opened #239 "Problem No. | Problem name | Language"
Problem name: Reverse Nodes in k-Group
Difficulty:Hard
Language:Python
[code]

[2020-10-13 16:20] Shubham2227 commented on #239
this is python code

[2020-10-13 16:26] fernandakawasaki commented on #66
I was quite busy so I didn't start. You can definitely work on this issue :). @noisefilter19 can you assign her?

[2020-10-13 16:48] rickben opened #241 "647 | Palindromic Substrings | Java"
Problem name: Palindromic Substrings
Difficulty: Medium
Language: Java

@noisefilter19 please assign it to me

[2020-10-13 16:52] ofekMula commented on #227
It seems that there is already an implementation of this problem in Python.
so I wish to implement it in C.

[2020-10-13 17:05] vikas9905 opened #243 "99. | Recover Binary Search Tree | Python3"
Problem name: Recover Binary Search Tree
Difficulty: Hard
Language: Python

[2020-10-13 17:05] vikas9905 commented on #243
assing this to me.

[2020-10-13 17:08] vikas9905 opened #244 "98. | Validate Binary Search Tree | CPP"
Problem name: Validate Binary Search Tree
Difficulty: Medium
Language:CPP

[2020-10-13 17:09] vikas9905 commented on #244
assign this to me.

[2020-10-13 17:10] vikas9905 opened #245 "72. | Edit Distance | CPP"
Problem name: Edit Distance
Difficulty: Hard
Language: CPP

[2020-10-13 17:11] vikas9905 commented on #245
please assign this to me.

[2020-10-13 17:12] noisefilter19 commented on #217
@grpnpraveen I don't see any issue assigned to you. Please read the contribution guidelines before raising a PR. I'm the only maintainer for this repo and it's tough to look into all PR's so I'm going only over the issues assigned.
@kaash-bot I might have missed your issue. There are many first time contributors, that I'm giving priority to. Please don't take it as an easy opportunity to score a f

[2020-10-13 17:12] #217 closed

[2020-10-13 17:43] ofekMula opened #247 "647 | Palindromic Substrings | C++"
Problem name:Palindromic Substring
Difficulty: Medium
Language:C++

please assign me this issue.

[2020-10-13 17:52] sasthan commented on #183
Please review my new PR

[2020-10-13 18:00] rickben opened #250 "19 | Remove Nth Node From End of List | Java"
Problem name: Remove Nth Node From End of List
Difficulty: Medium
Language: Java

[2020-10-13 18:02] rickben opened #251 "2 | Add Two Numbers | Java"
Problem name: Add Two Numbers
Difficulty: Medium
Language: Java
@noisefilter19 please assign it to me. Thanks

[2020-10-13 18:20] PradeepNalluri commented on #192
#253 PR is the implementation of this question

[2020-10-13 18:25] na-vural commented on #154
I am waiting for being assigned, my solution is ready @noisefilter19 :)

[2020-10-13 18:26] ofekMula opened #255 "2 | Add Two Numbers| C++"
Problem name: Add Two Numbers
Difficulty:Medium
Language: C++

please assign me to this issue.

[2020-10-13 18:28] subhadeep1912 commented on #255
I can do this

[2020-10-13 18:38] PradeepNalluri opened #256 "39 | Combination Sum | Java"
Problem name: Combination Sum
Difficulty: Medium
Language: Java
Problem Link: https://leetcode.com/problems/combination-sum/

[2020-10-13 18:41] PradeepNalluri opened #257 "199 | Binary Tree Right Side View | Java"
Problem name: Binary Tree Right Side View
Difficulty: Medium
Language: Java
Problem Link: https://leetcode.com/problems/binary-tree-right-side-view/

[2020-10-13 18:49] widget10 commented on #216
can I solve this ?

[2020-10-13 19:06] JimmyFromRobotics commented on #257
Can you please assign this to me?

[2020-10-13 19:56] Hardikkr commented on #251
I want to work on this issue, please assign this to me.

[2020-10-13 20:09] DesmondWasHere opened #263 "61. | Rotate List | C"
Problem name:  Rotate List
Difficulty: Medium
Language: C
Problem Link : - https://leetcode.com/problems/rotate-list/
I would like to solve this issue, please assign it to me.

[2020-10-13 20:24] gruiz90 opened #264 "2 | Add Two Numbers | Go"
Problem name: Add Two Numbers
Difficulty: Medium
Language: Go

[2020-10-13 20:30] gruiz90 commented on #264
@noisefilter19 Pls assign me this one, I have the solution ready in Leetcode

[2020-10-13 20:44] hardik7e opened #265 "127 | Word Ladder | C++"
Problem name: Word Ladder
Difficulty: Medium
Language: C++

[2020-10-13 20:44] hardik7e commented on #265
I request you to please assign this issue to me.

[2020-10-13 22:26] Nishant2907 commented on #191
Hello, please assign me for this issue as i have a nice command on python. And i have tried this code on LeetCode and solved it correctly.

[2020-10-14 00:20] frank731 opened #268 "406 | Queue Reconstruction by Height | Python"
Problem name: Queue Reconstruction by Height
Difficulty: Medium
Language: Python

[2020-10-14 02:02] giovanisleite opened #269 "31 | Next Permutation | Python"
Problem name: Next Permutation
Difficulty: Medium
Language: Python

I would like to work on it, please assign it to me

[2020-10-14 02:33] gruiz90 opened #270 "36 | Valid Sudoku | Go"
Problem name: Valid Sudoku
Difficulty: Medium
Language: Go

@noisefilter19 Pls assign me this one.

[2020-10-14 02:35] DesmondWasHere commented on #73
Thanks @neil007m , I was not aware of that. I have also edited my previous comment.

[2020-10-14 03:06] reshma-avvaru opened #271 "36 | Valid Sudoku| C++"
Problem name: Valid Sudoku
Difficulty: medium
Language: C++

I have solved this question please assign it to me

[2020-10-14 04:55] Achyut-sudo commented on #269
hey @giovanisleite  can you please assign this to me??

[2020-10-14 04:56] Achyut-sudo commented on #268
hey @frank731  can you assign this to me ??

[2020-10-14 04:57] Achyut-sudo commented on #238
hey @JaniniRami07  can you assign this to me ???

[2020-10-14 05:04] JaniniRami07 commented on #238
Only @noisefilter19 can assign this, And sorry I would like it to be assigned to me as written above!

[2020-10-14 05:30] divyagupta-98 commented on #269
@giovanisleite I will like to work on this.

[2020-10-14 06:11] Aathira123 opened #282 "151| Reverse Words in a String | Python3"
Problem name: Reverse words in a string
Difficulty: Medium
Language: Python3
Link to problem - https://leetcode.com/problems/reverse-words-in-a-string/

[2020-10-14 06:31] radadiyamohit81 commented on #282
Can i solve this issue?

[2020-10-14 06:31] radadiyamohit81 commented on #282
if yes please assign it to me

[2020-10-14 06:34] radadiyamohit81 commented on #282
I have done this, please assign to me.

[2020-10-14 07:30] Harshavardhan153 opened #287 "1553 | Minimum Number of Days to Eat N OrangesProblem No. | C++"
Problem name:1553. Minimum Number of Days to Eat N Oranges
Difficulty:Hard
Language:cpp

[2020-10-14 07:48] AbhishekTiwari07 opened #288 "119 | Pascal's Triangle II | Java"
Problem name:Pascal's Triangle II
Difficulty:Medium
Language:Java

[2020-10-14 07:49] AbhishekTiwari07 commented on #288
@noisefilter19 please assign this to me

[2020-10-14 07:51] DasithEdirisinghe opened #290 "12 | Implementing the Breadth First Search | Python3"
Problem name:Implementing the Breadth First Search
Difficulty:Medium
Language:Python3

I would like to work on this.

[2020-10-14 07:52] DasithEdirisinghe commented on #282
I also like to contribute to this.please assign me

[2020-10-14 07:54] Harshavardhan153 commented on #287
#289 done

[2020-10-14 07:54] Aathira123 opened #291 "152 | Maximum Product SubArray | Java"
Problem name: Maximum Product SubArray
Difficulty: Medium
Language: Java
Problem Link-  https://leetcode.com/problems/maximum-product-subarray/
I know the code to this question . I have solved it . Pleade so assign to me.

[2020-10-14 08:06] radadiyamohit81 commented on #290
Assign it to me

[2020-10-14 08:19] #290 closed

[2020-10-14 08:40] rickben opened #293 "36 | Valid Sudoku | Java"
Problem name: Valid Sudoku
Difficulty: Medium
Language: Java
I solved this problem. @noisefilter19  please assign it to me.

[2020-10-14 08:43] DasithEdirisinghe opened #294 "1352 | Product of the last k numbers | Python3"
Problem name:product of the last k numbers
Difficulty:medium
Language:python3
link : https://leetcode.com/problems/product-of-the-last-k-numbers/

Please assign me.I like to work on this problem

[2020-10-14 08:53] Nishant2907 opened #295 "0420_Strong Password Checker_Python-3"
**Description of the Problem**

Problem name: Strong Password CheckerDifficulty: Hard
Language: Python3

A password is considered strong if below conditions are all met:

It has at least 6 characters and at most 20 characters.
It must contain at least one lowercase letter, at least one uppercase letter, and at least one digit.
It must NOT contain three repeating characters in a row ("...aaa..." is

[2020-10-14 08:54] Nishant2907 commented on #295
I would like to work on this issue, as it is highly competitive coding and requires nice coding skills.

[2020-10-14 09:08] GudlaArunKumar opened #296 "1305 | All Elements in Two Binary Search Trees | cpp"
Problem name: All Elements in Two Binary Search Trees
Difficulty: Medium
Language: cpp

[2020-10-14 09:08] GudlaArunKumar commented on #296
Please assign to me

[2020-10-14 10:12] bjastrzebs002 commented on #69
https://github.com/noisefilter19/LeetCode_Algorithms/pull/267

[2020-10-14 10:12] bjastrzebs002 commented on #199
https://github.com/noisefilter19/LeetCode_Algorithms/pull/266

[2020-10-14 10:44] shreyrai99 opened #298 "11 | Container With Most Water | C++"
Problem name: Container With Most Water
Difficulty: Medium
Language: C++

[2020-10-14 10:44] shreyrai99 commented on #298
Please assign this problem to me

[2020-10-14 11:08] RedHeadphone opened #299 "713 | Subarray Product Less Than K | Python"
Problem name: Subarray Product Less Than K
Difficulty: Medium
Language: Python

[2020-10-14 11:31] Lakshmikittur opened #300 "449 | Serialize and Deserialize BST | C++"
Problem name: Serialize and Deserialize BST
Difficulty:Medium
Language:C++

[2020-10-14 11:39] ravireddy07 commented on #294
I would like to work on this... Assign to me..!!!

[2020-10-14 12:09] Dreamvendorg opened #301 "Problem: No. 37| Problem name: Sudoku Solver | Language: Python3"
Problem name: Sudoku Solver
Difficulty: Hard
Language: Python3

Please assign it to me.

[2020-10-14 12:10] ravireddy07 commented on #114
I would like to help...

[2020-10-14 13:09] ofekMula opened #304 "713 | Subarray Product Less Than K | C++"
Problem name: Subarray Product Less Than K
Difficulty:medium
Language:C++

please assign me this issue. i have the solution.

[2020-10-14 13:09] rickben opened #305 "713 | Subarray Product Less Than K | Java"
Problem name: Subarray Product Less Than K
Difficulty: Medium
Language: Java
@noisefilter19 Please assign me this issue, I have the solution.

[2020-10-14 13:23] atshaya-anand opened #306 "360 | Dictionary Attack | Python"
Problem name: Dictionary Attack Algorithm
Difficulty: Medium
Language: Python

[2020-10-14 14:01] ravireddy07 opened #307 "207 | Course Schedule | C++"
Problem name: Course Schedule
Difficulty: Medium
Language: C++

[2020-10-14 14:03] ravireddy07 opened #308 "207 | Course Schedule | Java"
Problem name: Course Schedule
Difficulty: Medium
Language: Java

[2020-10-14 14:04] ravireddy07 opened #309 "1604 | Alert Using Same Key-Card Three or More Times in a One Hour Period | C++"
Problem name: Alert Using Same Key-Card Three or More Times in a One Hour Period
Difficulty: Medium
Language: C++

[2020-10-14 14:05] ravireddy07 opened #310 "1605 | Find Valid Matrix Given Row and Column Sums | C++"
Problem name: Find Valid Matrix Given Row and Column Sums
Difficulty: Medium
Language: C++

[2020-10-14 14:49] deepanshuoct12 commented on #216
can u please assign me this issue?i can solve it in cpp

[2020-10-14 16:29] ayushmaz opened #315 "516 | Longest Palindromic Subsequence | CPP"
Problem name: Longest Palindromic Subsequence
Difficulty: Medium
Language: CPP

[2020-10-14 16:43] todi-2000 commented on #300
I would like to contribute on this issue. Please assign it to me.

[2020-10-14 16:43] ayushmaz opened #316 "49 | Group Anagrams | Cpp"
Problem name: Group Anagrams
Difficulty: Medium
Language: Cpp

[2020-10-14 16:44] eeshita19 opened #317 "TicTacToe| Python"
Problem name: TicTacToe
Difficulty: Medium
Language: Python

[2020-10-14 16:49] Lakshmikittur commented on #300
Hey this issue I want to solve that's why before making the PR it is told to open an issue. Please check some other question and you can open an issue for it

[2020-10-14 16:49] gruiz90 opened #318 "468 | Validate IP Address | Go"
Problem name: Validate IP Address
Difficulty: Medium
Language: Go

I have this one ready to merge..

[2020-10-14 16:50] Dreamvendorg opened #319 "1401 | Circle and Rectangle Overlapping (Medium) | Python3"
Problem name: 1401. Circle and Rectangle Overlapping
Difficulty: Medium
Language: Python3

Please, assign it to me.

[2020-10-14 16:55] todi-2000 commented on #300
Okay thanks.

[2020-10-14 16:59] todi-2000 opened #322 "316 | Remove Duplicate Letters | C++"
Problem name: Remove Duplicate Letters
Difficulty: Medium
Language: C++

[2020-10-14 17:00] todi-2000 commented on #322
Please assign this issue to me.

[2020-10-14 17:03] Hinal-Srivastava commented on #318
I'll do it👍

[2020-10-14 17:31] AparnaJuhi commented on #317
I wanna work on this issue.Please assign it to me

[2020-10-14 17:55] angel112 opened #324 "3 | Longest Substring Without Repeating Characters | C++"
Problem name: Longest Substring Without Repeating Characters
Difficulty: Medium
Language: C++

[2020-10-14 17:55] angel112 commented on #324
please assign me this issue

[2020-10-14 18:39] frank731 commented on #268
I can't assign issues sorry, plus I have already finished this problem and am waiting for it to be assigned to me so I can open the pull request.

[2020-10-14 19:30] ashvinimore commented on #306
Hello,
Could you please elaborate the problem.
So,I could understand it properly.
Thank You

[2020-10-14 20:24] lestgabo opened #329 "213 | House Robber 2 | JavaScript"
Problem name: House Robber 2
Difficulty: Medium
Language: JavaScript

Please assign to me.

[2020-10-14 20:28] lestgabo opened #330 "253 | Meeting Rooms 2 | JavaScript"
Problem name: Meeting Rooms 2
Difficulty: Medium
Language: JavaScript

I did it myself.

[2020-10-14 20:34] lestgabo opened #331 "322 | Coin Change | JavaScript"
Problem name: Coin Change
Difficulty: Medium
Language: JavaScript

I did it myself. Used dynamic programming (dp). Added comments to understand whats happening in the dp steps.

[2020-10-14 20:34] obaoba96 commented on #299
I would like to work on this, can you assign this to me?

[2020-10-14 20:44] lestgabo opened #332 "323 | Number of Connected Components in an Undirected Graph | JavaScript"
Problem name: Number of Connected Components in an Undirected Graph
Difficulty: Medium
Language: JavaScript

I did it myself. Used DFS.

[2020-10-14 20:49] lestgabo opened #333 "338 | Counting Bits | JavaScript"
Problem name: Counting Bits
Difficulty: Medium
Language: JavaScript

Only faster than 5% 😂 but it passes all tests.

[2020-10-14 20:53] obaoba96 opened #334 "279 | Perfect Squares | Python"
Problem name: Perfect Squares
Difficulty: Medium
Language: Python

[2020-10-14 20:54] lestgabo opened #335 "347 | Top K Frequent Elements | JavaScript"
Problem name: Top K Frequent Elements
Difficulty: Medium
Language: JavaScript

Very efficient O(n) time complexity. But also O(n) space complexity😂.
Literally just saved into a hash and sorted it.

[2020-10-14 21:03] lestgabo opened #336 "417 | Pacific Atlantic Water Flow | JavaScript"
Problem name: Pacific Atlantic Water Flow
Difficulty: Medium
Language: JavaScript

I did this twice.

One way from doing it the way I understood the problem. Starting from any point in the grid, check to see if you can touch both oceans even after the constraints (can only move to cell lower or equal to).

The other way was when I watched a YouTube video of the "real" way to do it. Start from the

[2020-10-14 21:04] LanceChuang opened #337 "148 | Sort List | Python"
Problem name: Sort List
Difficulty: Medium
Language: Python

I can do it to align with the followup requirement: `O(n logn) time and O(1) memory`
Please assign to me

[2020-10-14 21:07] lestgabo opened #338 "371 | Sum of Two Integers | JavaScript"
Problem name: Sum of Two Integers
Difficulty: Medium
Language: JavaScript

Tried my best to explain the steps in comments. Its just hard to understand the bit manipulations without seeing it. Its easier to see in Python. Using JavaScript means not really converting the integers to bits first or at all. Its all implicit with the operators.

[2020-10-14 21:15] lestgabo opened #339 "424 | Longest Repeating Character Replacement | JavaScript"
Problem name: Longest Repeating Character Replacement
Difficulty: Medium
Language: JavaScript

In JavaScript `s.charCodeAt(right) - 'A'.charCodeAt(0)` is the way to get a letters charcode. This one was hard, I had to watch a YouTube video to understand the algorithm. I just knew to use a sliding window, but that was it.

[2020-10-14 21:21] obaoba96 opened #340 "274 | H-Index | Python"
Problem name: H-Index
Difficulty: Medium
Language: Python

[2020-10-14 21:22] lestgabo opened #341 "300 | Longest Increasing Subsequence | JavaScript"
Problem name: Longest Increasing Subsequence
Difficulty: Medium
Language: JavaScript

Used dp.

[2020-10-14 21:35] Nishant2907 commented on #338
Please assign this issue to me.

[2020-10-14 21:39] lestgabo commented on #338
@Nishant2907 Sorry! I already did this. We have to make the issues though since we cant assign to ourselves.

[2020-10-14 21:41] Nishant2907 commented on #338
Okay

[2020-10-14 22:07] BitLegion opened #343 "678 | Valid Parentheses String | Python"
Problem name: Valid Parenthesis String
Difficulty: Medium
Language: Python

[2020-10-14 22:08] BitLegion commented on #343
I have a solution, may I submit it?

[2020-10-14 22:23] obaoba96 opened #345 "275 | H-Index II | Python"
Problem name: H-Index II
Difficulty: Medium
Language: Python

[2020-10-14 22:36] obaoba96 opened #346 "4 | Median of Two Sorted Arrays | Python"
Problem name: Median of Two Sorted Arrays
Difficulty: Hard
Language: Python

[2020-10-14 22:42] #346 closed

[2020-10-14 22:42] obaoba96 commented on #346
I saw it was already solved

[2020-10-15 02:07] neil007m commented on #69
@bjastrzebs002 Please read [contributing guidelines](https://github.com/noisefilter19/LeetCode_Algorithms/blob/main/CONTRIBUTING.md) before contributing

[2020-10-15 02:43] first-brick commented on #345
Working on it

[2020-10-15 02:45] first-brick commented on #341
Working on this

[2020-10-15 02:45] first-brick commented on #340
Working on this

[2020-10-15 03:11] atshaya-anand commented on #306
Sure, So basically a dictionary attack uses a word list, which is a predefined list of words, and each word in the list is hashed. If the cracking person/software matches the hash output from the dictionary attack to the password hash, the attacker has successfully identified the original password.
I have the solution for this problem. Please Assign this to me.

[2020-10-15 03:45] lestgabo commented on #341
Hey @first-brick I already have a passing solution to this question in JavaScript. You can definitely add your code to the PR once I post mine. Since no one answer is the same.

[2020-10-15 03:56] yash170106065 commented on #341
Hey can i work on this?

[2020-10-15 05:28] jatinsaini137 commented on #317
hey please assign this issue to me I had added "tictactoe.py" and created a file with this name .
Thank you

[2020-10-15 05:35] Jeremy850407 opened #351 "152 | Maximum Product Subarray | Python"
Problem name: 152. Maximum Product Subarray
Difficulty: Medium
Language: Python

[2020-10-15 05:37] Jeremy850407 opened #352 "165 | Compare Version Numbers | Python"
Problem name: 165. Compare Version Numbers
Difficulty: Medium
Language: Python

[2020-10-15 05:39] Jeremy850407 opened #353 "980 | Unique Paths III | Python"
Problem name: 980. Unique Paths III
Difficulty: Hard
Language: Python

[2020-10-15 06:01] LanceChuang opened #354 "213. | House Robber II | Python"
Problem name: House Robber II
Difficulty: Medium
Language: Python

Please assign it to me, thx!

[2020-10-15 06:36] snjazim opened #357 "650 | 2 Keys Keyboard | Java"
Problem name: 2 Keys Keyboard
Difficulty: Medium
Language: Java

[2020-10-15 06:40] snjazim commented on #357
Please assign this issue to me. I have already solved the problem and here is the acceptance result.
![image](https://user-images.githubusercontent.com/6854303/96086055-ac5fbe00-0e8f-11eb-9b3e-578233d164c4.png)

[2020-10-15 07:22] escher-m opened #358 "189 | Rotate Array | C++"
Problem name: Rotate Array
Difficulty: Medium
Language: C++

[2020-10-15 07:23] obaoba96 commented on #345
Hi @first-brick I already solved the problem, just waiting for @noisefilter19  to assign it to me. Tou can create a new issue following the contribution guidelines and solve another problem.

[2020-10-15 07:23] obaoba96 commented on #340
Hi @first-brick I already solved the problem, just waiting for @noisefilter19  to assign it to me. Tou can create a new issue following the contribution guidelines and solve another problem.

[2020-10-15 07:24] obaoba96 commented on #334
Hi @noisefilter19  I already solve the problem, can you assign it to me?

[2020-10-15 07:47] obaoba96 opened #361 "365 | Water and Jug | Python"
Problem name: Water and Jug
Difficulty: Medium
Language: Python

[2020-10-15 07:48] obaoba96 commented on #361
Hi, @noisefilter19 I solved the problem, can you please assign this to me?

[2020-10-15 08:09] #251 closed

[2020-10-15 08:10] rickben commented on #251
It turns out this issue was already opened...

[2020-10-15 08:13] rickben commented on #226
#246 This is the relevant PR to this issue.

[2020-10-15 08:46] Akshat1Nar opened #366 "64. | Minimum Path Sum | C++"
Problem name: Minimum Path Sum
Difficulty: Medium
Language: C++

[2020-10-15 08:47] Akshat1Nar commented on #366
Assign this to me.

[2020-10-15 09:15] Sindhu-321 commented on #366
May I get this task assigned? Thanks

[2020-10-15 09:31] ieshaan12 commented on #354
I'll take this up

[2020-10-15 09:55] #287 closed

[2020-10-15 09:56] Harshavardhan153 commented on #287
#289 solved..

[2020-10-15 10:11] RedHeadphone opened #368 "98 | Validate Binary Search Tree | Python"
Problem name: Validate Binary Search Tree
Difficulty: Medium
Language: Python

[2020-10-15 10:18] goodgodth commented on #352
Please assign to me

[2020-10-15 10:23] 1sarthakbhardwaj commented on #368
I would like to contribute here, please assign it to me

[2020-10-15 10:44] RedHeadphone commented on #299
plz assign it to me

[2020-10-15 10:46] RedHeadphone commented on #368
I would like to it myself , sorry
waiting for getting assigned

[2020-10-15 10:56] balasbk opened #376 "Problem No. | Problem name | Language"
Problem name: Minimum Path Sum
Difficulty: Medium
Language: c++

[2020-10-15 11:03] ManavRanawat opened #377 "92 | Reverse Linked List II | Python"
Problem name:  Reverse Linked List II
Difficulty: Medium
Language: Python

[2020-10-15 11:04] Banseedhar01 commented on #351
please assign this issue to me.

[2020-10-15 11:24] SaumiaSinghal commented on #307
Hi @ravireddy07! I would like to work on this issue.

[2020-10-15 11:46] Tismas commented on #358
I'm on it

[2020-10-15 11:54] escher-m commented on #358
Hi, I actually opened the issue so it could be assigned to me

[2020-10-15 11:55] Tismas commented on #358
Oh, okay

[2020-10-15 12:04] vaishnavi-kotturu opened #379 "98 | Validate Binary Search Tree | C++"
Problem name: Validate Binary Search Tree
Difficulty: Medium
Language: C++

[2020-10-15 12:05] vaishnavi-kotturu opened #380 "102 | Binary Tree Level Order Traversal | C++"
Problem name: Binary Tree Level Order Traversal
Difficulty: Medium
Language: C++

[2020-10-15 12:09] Saharsh979 commented on #215
Please assign this to me

[2020-10-15 12:14] 1sarthakbhardwaj opened #381 "Problem No. - 15| Problem name - 3sum| Language - c++"
Problem name:3sum
Difficulty: Medium
Language: c++

[2020-10-15 12:17] neil007m commented on #73
@DesmondWasHere No problem!

[2020-10-15 12:18] 1sarthakbhardwaj commented on #381
hey @noisefilter19  please assign this to me as I have already worked on this problem and I will shoot my PR asap.

[2020-10-15 12:19] 1sarthakbhardwaj commented on #368
ok no issue :)

[2020-10-15 12:23] SaumiaSinghal opened #382 "1192 | Critical Connections in a Network | C++"
Problem name: Critical Connections in a Network
Difficulty: Hard
Language: C++

[2020-10-15 12:36] sourabhmandal opened #384 "75. | Sort Colors | C++"
Problem name: Sort Colors
Difficulty: Medium
Language: cpp

[2020-10-15 12:42] sourabhmandal commented on #384
I have created a pull request please review

[2020-10-15 12:47] sourabhmandal opened #386 "442. | Find All Duplicates in an Array | C++"
Problem name: Find All Duplicates in an Array
Difficulty: Medium
Language: c++

[2020-10-15 13:20] kumarisurbhi opened #387 "19. | Remove Nth Node From End of List | C++"
Problem name:  Remove Nth Node From End of List
Difficulty: Medium
Language: C++

[2020-10-15 13:32] sailok opened #390 "368 | Largest Divisible Subset | Python"
Problem name: Largest Divisible Subset
Difficulty: Medium
Language: Python

[2020-10-15 13:34] ary1733 commented on #304
Please assign this to me

[2020-10-15 13:36] ayoolafelix commented on #390
Hey @sailok @noisefilter19, I would love to perform this task in Python, can you assign this to me?

[2020-10-15 13:50] achuth10 opened #394 "684. | Redundant Connection | Python"
Problem name: Redundant Connection
Difficulty: Medium
Language: Python

[2020-10-15 13:51] achuth10 opened #395 "1557. | Minimum Number of Vertices to Reach All Nodes | Java"
Problem name: Minimum Number of Vertices to Reach All Nodes
Difficulty: Medium
Language: Java

[2020-10-15 13:53] achuth10 opened #396 "814| Binary Tree Pruning | Python"
Problem name:  Binary Tree Pruning
Difficulty: Python
Language: Medium

[2020-10-15 13:54] achuth10 opened #397 "1286 | Iterator for Combination | Python"
Problem name: Iterator for Combination
Difficulty: Medium
Language: Python

[2020-10-15 14:14] till-tomorrow commented on #298
@shreyrai99 are you working on it?

[2020-10-15 14:15] till-tomorrow commented on #387
I will take up this problem

[2020-10-15 14:19] rijusougata13 opened #398 "23 | Merge k Sorted Lists | java"
Problem name:Merge k Sorted Lists
Difficulty:medium
Language: java

[2020-10-15 14:28] Khushaliketan opened #400 "438 | Find All Anagrams in a String | Java"
Problem name: Find All Anagrams in a String
Difficulty: Medium
Language: Java

[2020-10-15 14:40] ashish-2412 commented on #398
Can you please assign this to me?

[2020-10-15 14:42] ashish-2412 commented on #377
Can you please assign this to me?

[2020-10-15 14:48] rijusougata13 commented on #398
you can not add same code  as mine you have to create another pull request

[2020-10-15 15:04] ashish-2412 commented on #398
Yeah cool, sounds good
I'll create a new request with different code

[2020-10-15 15:09] Rohith-03 commented on #386
Hey! @sourabhmandal, I would like to work on this problem, can you assign this problem to me!

[2020-10-15 15:13] ManavRanawat commented on #377
Hi, @ashish-2412 I have already solved the problem, just waiting for @noisefilter19 to assign it to me. You can create a new issue following the contribution guidelines and solve another problem.

[2020-10-15 15:39] janLuke opened #404 "218 | The Skyline Problem | Java"
Problem name: The Skyline Problem
Difficulty: Hard
Language: Java

[2020-10-15 15:42] janLuke opened #405 "329 | Longest Increasing Path in a Matrix | Python"
Problem name: Longest Increasing Path in a Matrix
Difficulty: Hard
Language: Python

[2020-10-15 15:48] janLuke opened #406 "NOT SOLVED (782 | Transform to Chessboard | Java)"
Problem name: Transform to Chessboard
Difficulty: Hard
Language: Java

[2020-10-15 16:12] pretam591 commented on #216
Sir, I can contibute, in whichever issue you assign me.
Please give me one.

Thanking You!!

[2020-10-15 16:19] sonus2884 commented on #376
@balasbk Please assigned me this task.

[2020-10-15 16:23] sonus2884 commented on #380
@vaishnavi-kotturu Please assigned me this Task

[2020-10-15 16:31] Banseedhar01 opened #407 "390 | Merge sorting algorithm| c++"
Problem name:Merge Algorithm
Difficulty:medium
Language:c++

[2020-10-15 16:34] sonus2884 opened #408 "174. | Dungeon Game | C++"
Problem name: Dungeon Game
Difficulty: Hard
Language: C++

[2020-10-15 16:36] sonus2884 opened #409 "72. | Edit Distance | C++"
Problem name: Edit Distance
Difficulty: Hard
Language: C++

[2020-10-15 16:38] sonus2884 opened #410 "207. | Course Schedule | C++"
Problem name: Course Schedule
Difficulty: Medium
Language: C++

[2020-10-15 16:43] sonus2884 opened #411 "532. | K-diff Pairs in an Array | C++"
Problem name: K-diff Pairs in an Array
Difficulty: Medium
Language: C++

[2020-10-15 16:47] jjjding2 opened #412 "129. | Sum Root to Leaf Numbers | C++"
Problem name: [Sum Root to Leaf Numbers](https://leetcode.com/problems/sum-root-to-leaf-numbers/)
Difficulty: Medium
Language: C++

I would love to attempt this problem.

[2020-10-15 16:47] sonus2884 opened #413 "236. | Lowest Common Ancestor of a Binary Tree | C++"
Problem name: Lowest Common Ancestor of a Binary Tree
Difficulty: Medium
Language: C++

[2020-10-15 17:03] jordanchristine opened #415 "Problem No. 54 | Spiral Matrix | C++"
Problem name: Spiral Matrix
Difficulty: Medium
Language: C++

Hello! I would like to attempt this :-)

[2020-10-15 17:14] #153 closed

[2020-10-15 17:16] #28 closed

[2020-10-15 17:16] #183 closed

[2020-10-15 17:17] #182 closed

[2020-10-15 17:19] #193 closed

[2020-10-15 17:19] #192 closed

[2020-10-15 17:21] #208 closed

[2020-10-15 17:22] sbm1arora commented on #215
could you assign this to me ?

[2020-10-15 17:22] #211 closed

[2020-10-15 17:23] #215 closed

[2020-10-15 17:23] noisefilter19 commented on #215
@sbm1arora This is already solved

[2020-10-15 17:24] sbm1arora commented on #215
ok

[2020-10-15 17:24] #219 closed

[2020-10-15 17:26] #221 closed

[2020-10-15 17:27] #222 closed

[2020-10-15 17:28] #224 closed

[2020-10-15 17:28] #226 closed

[2020-10-15 17:30] noisefilter19 commented on #227
Cool. Thanks

[2020-10-15 17:30] #227 closed

[2020-10-15 17:31] #228 closed

[2020-10-15 17:32] #229 closed

[2020-10-15 17:34] tharani247 opened #420 "673 | Number of Longest Increasing Subsequence | Python"
Problem name: Number of Longest Increasing Subsequence
Difficulty: Medium
Language:Python

Submitted my own code for this problem and opened a pull request do check it :)

[2020-10-15 17:42] noisefilter19 commented on #239
Please read the guidelines. There's no proper issue title

[2020-10-15 17:42] #239 closed

[2020-10-15 17:54] Ruchi101 commented on #409
Please assign this to me. Thanks

[2020-10-15 17:55] Ruchi101 commented on #412
Please assign this to me. Thanks.

[2020-10-15 17:56] UdeshAthukorala opened #422 "12 | Integer to Roman | Python"
Problem name: Integer to Roman
Difficulty: Medium
Language: Python

[2020-10-15 17:56] jjjding2 commented on #412
@Ruchi101 I have already created a pull request fixing this issue (as mentioned above).

[2020-10-15 17:57] UdeshAthukorala commented on #422
@noisefilter19  I'd like to work on this problem. Can you please assign it to me?

[2020-10-15 18:08] 13snehitha commented on #422
Can you assign this to me @noisefilter19 .

[2020-10-15 18:14] UdeshAthukorala commented on #422
@13snehitha I already select this problem. So can you please select another problem from the rest of Leetcode problems? :)

[2020-10-15 18:16] 13snehitha commented on #386
@noisefilter19
Can you assign this to me!

[2020-10-15 18:17] 13snehitha commented on #413
@noisefilter19
I'd like to work on this. Can you assign this to me

[2020-10-15 18:22] 13snehitha commented on #422
Sure.:)

[2020-10-15 18:24] 13snehitha commented on #407
@noisefilter19
Can you assign this to me, I'd like to work on this issue.

[2020-10-15 18:52] Sourabh025 commented on #411
Can i work on it ?

[2020-10-15 18:53] Sourabh025 commented on #407
Can i work in it ?

[2020-10-15 18:58] sbm1arora commented on #216
can you assign me any python issue ?

[2020-10-15 19:00] sbm1arora commented on #405
can you assign this to me ?

[2020-10-15 21:26] Saptarshi-Nag189 commented on #411
Can I work on it?

[2020-10-15 21:37] Saptarshi-Nag189 commented on #411
Can I work on this?

[2020-10-15 22:50] LyndonFan opened #435 "701 | Insert into a Binary Search Tree | Python"
Problem name: Insert into a Binary Search Tree
Difficulty: Medium
Language: Python

[2020-10-15 23:02] LyndonFan opened #436 "1480 | Running Sum of 1d Array | Python"
Problem name: Running Sum of 1d Array
Difficulty: Medium
Language: Python

[2020-10-15 23:07] TestPrab commented on #436
Can you assign me this?

[2020-10-15 23:13] jjge732 commented on #435
Could I be assigned this problem?

[2020-10-15 23:17] LyndonFan opened #438 "1513 | Number of Substrings With Only 1s | Python"
Problem name: Number of Substrings With Only 1s
Difficulty: Medium
Language: Python

[2020-10-15 23:25] LyndonFan opened #439 "700 | Search in a Binary Search Tree | Python"
Problem name: Search in a Binary Search Tree
Difficulty: ~~Medium~~Easy (Edited)
Language: Python

[2020-10-15 23:44] Aravindha1234u commented on #438
Can you assign this to me Bro

[2020-10-16 01:19] myllenaalves commented on #66
I realized that maybe I won't be able to do it and I think it's better to pass it on to someone else, thank you!

[2020-10-16 02:53] aksh-02 opened #441 "474 | Ones and Zeroes | Python"
Problem name: Ones and Zeroes
Difficulty: Medium
Language: Python

[2020-10-16 03:01] sneha-pujari opened #443 "10 | Regular Expression Matching | Java"
Problem name: Regular Expression Matching
Difficulty: Hard
Language: Java

[2020-10-16 03:08] sneha-pujari opened #445 "34 | Find First and Last Position of Element in Sorted Array | Java"
Problem name: Find First and Last Position of Element in Sorted Array
Difficulty: Medium
Language: Java

[2020-10-16 03:15] sneha-pujari opened #447 "22 | Generate Parentheses | Java"
Problem name: Generate Parentheses
Difficulty: Medium
Language: Java

[2020-10-16 03:30] rudhrasekar commented on #445
Can you assign me this to work ?

[2020-10-16 03:35] PradeepNalluri opened #449 "213 | House Robber 2 | Java"
Problem name:  House Robber 2
Difficulty: Medium
Language: Java

Please assign me to this problem.
Thanks
PN

[2020-10-16 04:00] aksh-02 opened #451 "1049 | Last Stone Weight II | Python"
Problem name: Last Stone Weight II
Difficulty: Medium
Language: Python

[2020-10-16 04:00] therohanrao opened #452 "6 | ZigZag Conversion | Python3"
Problem name: ZigZag Conversion
Difficulty: Medium
Language: Python 3

[2020-10-16 04:00] therohanrao commented on #452
I have a solution ready for this problem

[2020-10-16 04:20] sneha-pujari commented on #447
I would like to work on this issue.
Please assign it to me.

[2020-10-16 04:20] sneha-pujari commented on #445
I would like to work on this issue.
Please assign it to me.

[2020-10-16 04:20] sneha-pujari commented on #443
I would like to work on this issue.
Please assign it to me.

[2020-10-16 04:23] suraj0223 commented on #449
@PradeepNalluri  I would like to work in C++, for this issue.

[2020-10-16 04:26] escher-m commented on #358
@noisefilter19 please assign this issue to me.

[2020-10-16 04:26] cakon2 opened #454 "1347 | Minimum Number of Steps to Make Two Strings Anagram | Python"
Problem name: Minimum Number of Steps to Make Two Strings Anagram
Difficulty: Medium
Language: Python

Link: https://leetcode.com/problems/minimum-number-of-steps-to-make-two-strings-anagram/

[2020-10-16 04:27] cakon2 commented on #454
Please assign me to this issue ! Would like to try !

[2020-10-16 04:41] Banseedhar01 commented on #407
i already have a solution for this problem.

[2020-10-16 04:43] janethavi commented on #439
Hi! Can I get assigned for this issue?

[2020-10-16 04:57] cakon2 opened #457 "1387 | Sort Integers by The Power Value | Python"
Problem name: Sort Integers by The Power Value
Difficulty: Medium
Language: Python

Link: https://leetcode.com/problems/sort-integers-by-the-power-value/

[2020-10-16 05:57] sourabhmandal commented on #386
hi @Rohith-03 @13snehitha . I wish to assign this to you guys but I think only @noisefilter19 can assign issues or maybe I don't know how to assign issues.

[2020-10-16 05:58] sourabhmandal commented on #386
Hi @noisefilter19 I have created a pull request for this issue #385

[2020-10-16 06:04] d3xt3r0 opened #460 "43 | Multiply Strings | Python"
Problem name: Multiply Strings
Difficulty: Medium
Language: Python

[2020-10-16 06:23] Error404m commented on #460
Can I work on this pl ?

[2020-10-16 06:26] d3xt3r0 commented on #460
I have submitted the PR for this #461

[2020-10-16 07:41] friday-james opened #465 "126 | Word Ladder II | C++"
Problem name: Word Ladder II
Difficulty: Hard
Language: C++

[2020-10-16 07:43] friday-james commented on #465
#467 126 | Word Ladder II | C++

[2020-10-16 07:44] DesmondWasHere opened #469 "74. | Search a 2D Matrix | C++"
Problem name: Search a 2D Matrix
Difficulty: Medium
Language: C++

Link: https://leetcode.com/problems/search-a-2d-matrix/

[2020-10-16 07:45] friday-james opened #470 "23| Merge k Sorted Lists | C++"
Problem name: Merge k Sorted Lists
Difficulty: Hard
Language: C++

[2020-10-16 07:46] DesmondWasHere commented on #263
Fixed this issue.
Pull Request #464

[2020-10-16 07:54] friday-james commented on #470
#471 23| Merge k Sorted Lists | C++

[2020-10-16 07:56] friday-james opened #472 "329 | Longest Increasing Path in a Matrix | C++"
Problem name: Longest Increasing Path in a Matrix
Difficulty: Hard
Language: C++

[2020-10-16 07:58] friday-james commented on #472
#473 329 | Longest Increasing Path in a Matrix | C++

[2020-10-16 08:02] friday-james opened #474 "668 | Kth Smallest Number in Multiplication Table | Python"
Problem name: Kth Smallest Number in Multiplication Table
Difficulty: Hard
Language: Python

[2020-10-16 08:07] sidrakshe28 opened #476 "151 | Reverse Words in a String| C++"
Problem name: Reverse Words in a String
Difficulty: 151
Language: C++

[2020-10-16 08:08] sidrakshe28 commented on #476
Please assign me this issue. Would like to try this problem.

[2020-10-16 08:33] tejasvicsr1 opened #479 "1492 | The kth factor of n | Python"
Problem name: The kth factor of n
Difficulty: Medium
Language: Python

[2020-10-16 08:33] tejasvicsr1 commented on #479
I would like to be assigned to this.

[2020-10-16 08:48] Nishant2907 opened #481 "389 | Find the Difference | Python-3"
Problem name: Find the Difference
Difficulty:  Easy
Language: Python-3

You are given two strings s and t.

String t is generated by random shuffling string s and then add one more letter at a random position.

Return the letter that was added to t.

**Description**
Example 1:

Input: s = "abcd", t = "abcde"
Output: "e"
Explanation: 'e' is the letter that was added.
Example 2:

Input: s = "", t =

[2020-10-16 08:49] Nishant2907 commented on #481
Kindly assign me this issue.

[2020-10-16 09:12] ofekMula opened #482 "994 Rotting Oranges"
Problem name: Rotting Oranges
Difficulty: Medium
Language:C++

please assign me to this issue.

[2020-10-16 09:15] ofekMula commented on #247
Can you assign me to this issue?
I solved it.

[2020-10-16 09:21] rohan-04 commented on #451
I would Like work on it.

[2020-10-16 09:30] tht-jxny opened #483 "36 | Valid Sudoku | Python"
Problem name: Valid Sudoku
Difficulty: Medium
Language: Python

I'd like to work on that. Could you please assign it to me?

[2020-10-16 11:21] PradeepNalluri commented on #449
@suraj0223  consider raising a new issue because the assignment is done by the repo maintainer himself.

[2020-10-16 11:25] na-vural opened #490 "30 | Substring with Concatenation of All Words | Python3"
Problem name: Substring with Concatenation of All Words
Difficulty: Hard
Language: Python3

[2020-10-16 11:25] na-vural commented on #490
Can you assign me to this problem please :)

[2020-10-16 11:38] PrishabhDwivedi commented on #481
I have a solution for this

[2020-10-16 11:48] PrishabhDwivedi commented on #490
Can you assign me to this problem

[2020-10-16 11:55] PrishabhDwivedi commented on #479
could you please assign me this issue

[2020-10-16 12:06] SudhanshuBlaze commented on #445
I would be really happy to work on this project as I'm currently in University and these type of contribution will also help me. Please assign it to me. _/\_

[2020-10-16 12:18] PradeepNalluri opened #493 "74 | Search a 2D Matrix | Java"
Problem name: Search a 2D Matrix
Difficulty: Medium
Language: Java
Please assign this issue to me.

Thanks
PN

[2020-10-16 12:20] SudhanshuBlaze commented on #493
I want to work on this project.

[2020-10-16 12:20] SudhanshuBlaze commented on #493
Please assign this issue to me.

[2020-10-16 12:22] SudhanshuBlaze commented on #441
Please assign it to me

[2020-10-16 12:28] PradeepNalluri commented on #493
Hi @SudhanshuBlaze, please read the guidelines [here](https://github.com/noisefilter19/LeetCode_Algorithms/blob/main/CONTRIBUTING.md) and consider picking a medium/hard problem from Leetcode which was not raised yet in the issues tab and raise the issue with the template provided. The maintainer will assign the task to you.
Thanks
PN

[2020-10-16 12:33] ohadico opened #496 "18. | 4Sum | Python"
Problem name: 4Sum
Difficulty: Medium
Language: Python

[2020-10-16 12:52] Muskan0 opened #497 "75 | Sort Colors | Python"
Problem name: Sort Colors
Difficulty: Medium
Language: Python

[2020-10-16 12:57] RuanGOA opened #499 "535 | Encode and Decode TinyURL | Python"
Problem name: Encode and Decode TinyURL
Difficulty: Medium
Language: Python

[2020-10-16 12:59] RuanGOA commented on #499
Can you assign this problem to me?

[2020-10-16 13:28] ofekMula opened #502 "73 | Set Matrix Zeroes | C++"
Problem name:Set Matrix Zeroes
Difficulty:Medium
Language:C++

please assign me to this issue.
I have a solution which give the below results:
Runtime: 28 ms, faster than 67.05% of C++ online submissions for Set Matrix Zeroes.
Memory Usage: 13.5 MB, less than 39.41% of C++ online submissions for Set Matrix Zeroes.

[2020-10-16 13:45] DasithEdirisinghe opened #503 "1471 | The k Strongest Values in an Array | Python3"
Problem name:The k Strongest Values in an Array
Difficulty:Medium
Language:python3
link:https://leetcode.com/problems/the-k-strongest-values-in-an-array/

[2020-10-16 14:48] duilio92 opened #505 "980 | Unique Paths III | Python3"
Problem name: Unique Paths III
Difficulty: Hard
Language: Python3

please assign this issue to me

[2020-10-16 14:59] Aryan11072002 commented on #457
Assign me this issue I would like to work on it.

[2020-10-16 15:02] Riddhima-jain commented on #454
Could you assign me this issue? I would like to contribute

[2020-10-16 15:08] Riddhima-jain opened #506 "10 | Regular Expression Matching | C++"
Problem name: Regular Expression Matching
Difficulty: Hard
Language: C++

Please assign this issue to me.

[2020-10-16 15:09] Thesohan commented on #457
Hi!
Please assign this issue to me. Will be happy to work on it.
Thanks.

[2020-10-16 15:10] Thesohan commented on #436
Hi @LyndonFan !
Please assign this issue to me. Will be happy to work on it.
Thanks.

[2020-10-16 15:12] Riddhima-jain opened #507 "72 | Edit Distance | C++"
Problem name: Edit Distance
Difficulty: Hard
Language: C++

Please assign this issue to me.

[2020-10-16 15:53] UdeshAthukorala commented on #452
@therohanrao Hi, My solution is already committed and merged to the repository. So can you please select another problem? :)

[2020-10-16 16:10] ayushmaz opened #509 "19 | Remove Nth Node From End Of List | Cpp"
Problem name:  Remove Nth Node From End Of List
Difficulty: Medium
Language: Cpp

[2020-10-16 16:22] Ranagal11 commented on #445
I would like to work on this issue. could you please assign this topic to me??

[2020-10-16 16:56] Sanatan-Shrivastava opened #511 "78 | Subsets | Java"
Problem name: Subsets
Difficulty: Medium
Language: Java

[2020-10-16 16:56] sbm1arora opened #512 "138 | Copy List with Random Pointer | Python"
Problem name: Copy list with random pointer
Difficulty: Medium
Language: Python

[2020-10-16 16:57] xcyraxx commented on #482
hey can i do this?

[2020-10-16 16:59] sbm1arora opened #513 "137. | Top K frequent elements | Python"
Problem name: Top K frequent elements
Difficulty: Medium
Language: Python

[2020-10-16 17:00] xcyraxx opened #514 "1431 | Kids With the Greatest Number of Candies"
Leetcode Problem
Difficulty: Easy
Language: Python

[2020-10-16 17:05] sbm1arora opened #515 "1092. | Shortest Common Supersequence | Python"
Problem name: Shortest Common Supersequence
Difficulty: Hard
Language: Python

[2020-10-16 17:10] Swadha-27 commented on #497
I would like to work on this problem.
Please assign me this.

[2020-10-16 17:12] Swadha-27 commented on #460
I would like to work on this

[2020-10-16 17:18] Swadha-27 commented on #513
Problem name: Top K frequent elements
Difficulty: Medium
Language: Python

[2020-10-16 17:19] Swadha-27 commented on #497
Problem name: Sort Colors
Difficulty: Medium
Language: Python

[2020-10-16 17:19] Swadha-27 commented on #482
Problem name: Rotting Oranges
Difficulty: Medium
Language: Python

[2020-10-16 17:21] Swadha-27 commented on #354
Problem name: House Robber II
Difficulty: Medium
Language: Python

[2020-10-16 17:22] Swadha-27 commented on #299
Problem name: Subarray Product Less Than K
Difficulty: Medium
Language: Python

Please assign.

[2020-10-16 17:33] sg-4 commented on #515
I would like to contribute

[2020-10-16 17:33] therohanrao commented on #452
Whoops didn't see that. Will do!

[2020-10-16 17:33] #452 closed

[2020-10-16 17:49] Swadha-27 commented on #454
Problem name: Minimum Number of Steps to Make Two Strings Anagram
Difficulty: Medium
Language: Python

[2020-10-16 17:52] Swadha-27 commented on #191
Problem name: Letter Combinations of a Phone Number
Difficulty: Medium
Language: Python

Please assign this problem to me , I have already solved it through recursion.

[2020-10-16 18:34] anirudherabelly commented on #511
assign it to me!

[2020-10-16 18:46] Sanatan-Shrivastava commented on #511
Leetcode 78 - Subsets submitted in Java, please check the PR.

[2020-10-16 18:46] ambuj2000 commented on #515
I  would like to contribute and resolve the issue

[2020-10-16 18:46] ambuj2000 commented on #509
i would like to contribute

[2020-10-16 18:47] ambuj2000 commented on #507
I would like to contribute please assign me

[2020-10-16 18:49] ambuj2000 commented on #476
Please assign me this problem

[2020-10-16 18:49] Riddhima-jain commented on #507
Hey , I've already selected this problem. Can you please look for another one ?
Thanks! :)

[2020-10-16 18:49] ambuj2000 commented on #470
please assign me this problem

[2020-10-16 18:59] rajat1401 commented on #514
Hi, I would like to contribute towards this. Please assign it to me.

[2020-10-16 19:10] rajat1401 commented on #514
I have made a PR for the issue. Review and merge please. Thanks!

[2020-10-16 19:55] Srikark-17 commented on #515
Same I would like to resolve this issue. Please assign this to me.

[2020-10-16 19:59] d3xt3r0 commented on #460
I have submitted the PR for this #461

[2020-10-16 20:00] ambuj2000 commented on #507
Ok no problem

On Sat, 17 Oct 2020, 00:19 Riddhima-jain, <notifications@github.com> wrote:

[2020-10-16 20:37] Jeewantha95 commented on #380
can i contribute

[2020-10-16 20:46] DmitryBakunovich opened #522 "143 | Reorder List | Python"
Problem name: Reorder List
Difficulty: Medium
Language: Python

[2020-10-16 20:53] DmitryBakunovich opened #523 "19 | Remove Nth Node From End of List | Python"
Problem name: Remove Nth Node From End of List
Difficulty: Medium
Language: Python

[2020-10-16 21:40] JeanGarcia commented on #522
Reorder according to which attribute? can an example of the list be given?
If this issue is not taken yet I would like to.

[2020-10-16 23:43] alexbmoreira opened #525 "890. Find and Replace Pattern"
Problem name: Find and Replace Pattern
Difficulty: Medium
Language: Python

[2020-10-17 01:35] nik555max commented on #454
Please assign me to this issue ! Would like to try !

[2020-10-17 01:53] #525 closed

[2020-10-17 03:18] #197 closed

[2020-10-17 03:23] noisefilter19 commented on #238
@JaniniRami07 This doesn't seem to be a leetcode problem. Athough I would've merged it, it wouldn't be appropriate for the content this repository hosts. If you want you can open a new issue and tag this issue so I can assign it to you

[2020-10-17 03:24] #241 closed

[2020-10-17 03:25] #243 closed

[2020-10-17 03:26] #263 closed

[2020-10-17 03:27] #264 closed

[2020-10-17 03:28] #269 closed

[2020-10-17 03:32] #288 closed

[2020-10-17 03:34] #294 closed

[2020-10-17 03:35] #295 closed

[2020-10-17 03:36] #298 closed

[2020-10-17 03:36] #299 closed

[2020-10-17 03:37] Ranagal11 commented on #447
Problem Name : Swap nodes in pairs
difficulty : Medium
language : java

I would like to work on this problem.
Could you please assign this to me?

[2020-10-17 03:40] #315 closed

[2020-10-17 03:42] #324 closed

[2020-10-17 03:43] #329 closed

[2020-10-17 03:45] noisefilter19 commented on #384
Read Contribution Guidelines

[2020-10-17 03:46] #405 closed

[2020-10-17 03:46] #410 closed

[2020-10-17 04:41] JaniniRami07 commented on #238
I have been assigned with this issue (quick sorting algorithm) but I couldnt clone the repo because of the error, anyways it turns out to be a problem with my git version its all good and working and I am probably going to submit my pull request today!

[2020-10-17 04:49] kumarisurbhi opened #531 "189. | Rotate Array | C++"
Problem name: Rotate Array
Difficulty: Medium
Language: C++

[2020-10-17 04:53] heyyviv commented on #531
i want to work on this

[2020-10-17 05:49] RachnaShriwas commented on #531
Please assign this issue to me. I'd be happy to take care of it

[2020-10-17 05:50] RachnaShriwas opened #539 "33. | Search in Rotated Sorted Array | C++"
Problem name: Search in Rotated Sorted Array
Difficulty: Medium
Language: C++

[2020-10-17 05:55] RachnaShriwas commented on #539
Please assign this issue to me.

[2020-10-17 05:58] Rajeet10 commented on #531
I would love to contribute to this issue if you may assign to me.

[2020-10-17 05:59] Rajeet10 commented on #476
plz assign me this issue

[2020-10-17 06:42] eeshita19 commented on #317
Please review Pull Request #428

[2020-10-17 06:50] Jeremy850407 commented on #351
#419

[2020-10-17 07:37] muskanvk commented on #472
kindly assign this to me

[2020-10-17 07:38] muskanvk commented on #394
kindly assign this to me

[2020-10-17 07:56] muskanvk opened #545 "60. | Permutation Sequence | Python"
Problem name:  Permutation Sequence
Difficulty: Hard
Language: Python

[2020-10-17 07:56] muskanvk commented on #545
Please assign this issue to me

[2020-10-17 08:06] palmcm opened #546 "91 | Decode Ways | Python"
Problem name: Decode Ways
Difficulty: Medium
Language: Python

[2020-10-17 08:39] v-sonawane commented on #546
I am willing to work on this issue. Could you please assign it to me.

[2020-10-17 08:41] v-sonawane commented on #503
I am willing to work on this issue. Could you please assign it to me?

[2020-10-17 08:52] nainys opened #548 "1529 | Bulb Switcher IV | C++"
Problem name: Bulb Switcher IV
Difficulty: Medium
Language: C++

[2020-10-17 08:52] nainys commented on #548
Please assign this to me.

[2020-10-17 08:54] gitarthasarma opened #551 "90 | Subsets II | C++"
Problem name: Given a collection of integers that might contain duplicates, nums, return all possible subsets (the power set).
Difficulty: Medium
Language: C++

[2020-10-17 08:55] gitarthasarma commented on #551
I would like to work on it.

[2020-10-17 09:10] MohitRustagi commented on #546
Hi, Can you please assign it to me? I write quality code and will try to resolve asap.

[2020-10-17 09:11] todi-2000 opened #552 "39 | Combination Sum | C++"
Problem name: Combination Sum
Difficulty: Medium
Language: C++

[2020-10-17 09:11] todi-2000 commented on #552
Please assign this issue to me.

[2020-10-17 09:12] ipapast opened #553 "76 | Minimum Window Substring | Java"
Problem name: Minimum Window Substring
Difficulty: Hard
Language: Java

[2020-10-17 09:13] ipapast commented on #553
Pull request for the issue here https://github.com/noisefilter19/LeetCode_Algorithms/pull/554

[2020-10-17 09:15] todi-2000 opened #555 "15| 3Sum | C++"
Problem name: 3Sum
Difficulty: Medium
Language: C++

[2020-10-17 09:15] todi-2000 commented on #555
Please assign this issue to me.

[2020-10-17 09:23] MohitRustagi opened #556 "188. | Best Time to Buy and Sell Stock IV | Python"
Problem name: Best Time to Buy and Sell Stock IV
Difficulty: Hard
Language: Python

Can you please assign it to me?

[2020-10-17 09:23] ksinha5nov commented on #555
Please assign this to me, Thank you.

[2020-10-17 09:25] MohitRustagi opened #557 "41. | First Missing Positive | Python"
Problem name: First Missing Positive
Difficulty: Hard
Language: Python

Can you please assign it to me?

[2020-10-17 09:27] MohitRustagi opened #558 "31. | Next Permutation | Python"
Problem name: Next Permutation
Difficulty: Medium
Language: Python

Can you please assign it to me?

[2020-10-17 09:35] varishtsg opened #559 "146 | LRU Cache | Python"
Problem name: LRU Cache
Difficulty: Medium
Language: Python

[2020-10-17 09:36] varishtsg commented on #559
Could you please assign this issue to me?

[2020-10-17 09:58] todi-2000 commented on #555
Hey
I want to solve this issue that's why before making the PR it is told to open an issue. Please check some other question and you can open an issue for that.

[2020-10-17 10:10] nomanarshad94 commented on #457
Hi,
I want to contribute to it. Please assign this issue to me. I have read the contribution guide and just waiting to be assigned to it so I can open PR!
Thanks.

[2020-10-17 10:19] nomanarshad94 commented on #559
Hi,
I want to contribute to it. Please assign this issue to me. I have read the contribution guide and just waiting to be assigned to it so I can open PR!
Thanks.

[2020-10-17 10:28] nomanarshad94 commented on #558
Hi,
I want to contribute to it. Please assign this issue to me. I have read the contribution guide and just waiting to be assigned to it so I can open PR!
Thanks.

[2020-10-17 10:36] nomanarshad94 commented on #513
Hi,
I want to contribute to it. Please assign this issue to me. I have read the contribution guide and just waiting to be assigned to it so I can open PR!
Thanks.

[2020-10-17 10:46] jntushar commented on #511
Assign this to me

[2020-10-17 10:46] jntushar commented on #505
Assign tbis issue to me

[2020-10-17 11:04] jntushar opened #560 "Problem No. | Problem name | Language"
Problem name:
Difficulty:
Language:

[2020-10-17 11:05] Swadha-27 commented on #557
Problem name: First Missing Positive
Difficulty: Medium
Language: Python

I have already done this problem. Can you please assign it to me?

[2020-10-17 11:06] jntushar commented on #560
Please assign this issue to me so that i can raise a pull request.

[2020-10-17 11:08] jntushar commented on #400
Please assign this issue to me

[2020-10-17 11:10] jntushar opened #561 "51 | N-Queens | Java"
Problem name: N-Queens
Difficulty: Hard
Language: Java

[2020-10-17 11:11] jntushar commented on #561
Please assign this issue to me so that I can raise a pull request.

[2020-10-17 11:11] Swadha-27 commented on #481
Problem name: Find the Difference
Difficulty: Easy
Language: Python

Can you please assign it to me?

[2020-10-17 11:14] jntushar opened #562 "48 | Rotate Image | Java"
Problem name: Rotate Image
Difficulty: Medium
Language: Java

[2020-10-17 11:14] jntushar commented on #562
Please assign this issue to me

[2020-10-17 11:16] jntushar opened #563 "189 | Rotate Array | Java"
Problem name: Rotate Array
Difficulty: Medium
Language: Java

[2020-10-17 11:16] jntushar commented on #563
Please assign this issue to me

[2020-10-17 11:24] #127 closed

[2020-10-17 11:57] akhand123 opened #564 "78 | Subsets | Javascript"
Problem name: Subsets
Difficulty: Medium
Language: Javascript

[2020-10-17 12:01] akhand123 commented on #564
Please assign this issue to me.

[2020-10-17 12:01] Raghavendra-Sunkollu commented on #531
hey @
kumarisurbhi  can you assign this task to me

[2020-10-17 12:03] akhand123 opened #566 "31 | Next Permutation | Javascript"
Problem name: Next Permutation
Difficulty: Medium
Language: Javascript

[2020-10-17 12:03] akhand123 commented on #566
Please assign this issue to me.

[2020-10-17 12:05] akhand123 opened #567 "15 | 3Sum | Javascript"
Problem name: 3Sum
Difficulty: Medium
Language: Javascript

[2020-10-17 12:06] akhand123 commented on #567
Please assign this issue to me.

[2020-10-17 12:07] akhand123 opened #568 "98 | Validate Binary Search Tree | Javascript"
Problem name: Validate Binary Search Tree
Difficulty: Medium
Language: Javascript

[2020-10-17 12:07] akhand123 commented on #568
Please assign this issue to me.

[2020-10-17 12:20] anshitabaid opened #569 "49 | Group Anagrams | Python"
Problem name: Group Anagrams
Difficulty: Medium
Language: Python

[2020-10-17 12:28] aniruddhav25 opened #570 "1019 | Next Greater Node In Linked List | Java"
Problem name:Next Greater Node In Linked List
Difficulty:Medium
Language:Java

[2020-10-17 12:29] aniruddhav25 commented on #570
@noisefilter19 Please assign this issue to me.

[2020-10-17 12:29] duilio92 commented on #505
Thanks for your interest @jntushar
Please raise issues for problems that don't already have an open issue or existing solution for them. The owner @noisefilter19  will assign you issues and you can go ahead and submit a pull request. Most issues raised here are by people who want to contribute those particular questions (me, in this case). Please read [CONTRIBUTING.md ](https://github.com/noisefil

[2020-10-17 12:57] An335h commented on #447
will you please assign me C file please?

[2020-10-17 13:06] Curiouspaul1 opened #572 "50 | Pow(x,n) | Python3"
Problem name: Pow(x,n)
Difficulty: Medium
Language:python3

[2020-10-17 13:11] Error404m commented on #572
Can I solve this pl ?

[2020-10-17 13:17] RedHeadphone opened #576 "187 | Repeated DNA Sequences | python"
Problem name: Repeated DNA Sequences
Difficulty: Medium
Language: Python

[2020-10-17 13:17] RedHeadphone commented on #576
pls assign it to me

[2020-10-17 13:20] RedHeadphone opened #577 "48 | Rotate Image | python"
Problem name: Rotate Image
Difficulty: Medium
Language: Python

[2020-10-17 13:20] RedHeadphone commented on #577
pls assign it to me

[2020-10-17 13:24] RedHeadphone opened #578 "394| Decode String | Python"
Problem name: Decode String
Difficulty: Medium
Language: Python

[2020-10-17 13:24] RedHeadphone commented on #578
pls assign it to me

[2020-10-17 13:28] UdeshAthukorala opened #579 "23 | Merge k Sorted Lists | Python"
Problem name: Merge k Sorted Lists
Difficulty: Hard
Language: Python

[2020-10-17 13:29] Error404m opened #580 "Problem No. | Articulation Point and Bridges points | C++"
Problem name:  Find Articulation Point and Bridges points in Graph
Difficulty:  MEDIUM
Language:  C++

[2020-10-17 13:29] UdeshAthukorala commented on #579
@noisefilter19 Can you please assign this issue to me.

[2020-10-17 13:31] Sounak97 commented on #451
I would like to work on it. Could I be assigned to it?

[2020-10-17 13:38] bhawnajoshi1304 opened #582 "31. Next Permutation | C++"
Problem name: Next Permutation
Language: C++
Difficulty: Medium
Please assign this issue to me.

[2020-10-17 13:39] sourabhmandal commented on #384
Hi @noisefilter19 . I have amended the changes and created a new PR #581 . Please review

[2020-10-17 13:45] Curiouspaul1 commented on #572
I actually want to solve it, but you know you have to raise an Issue before making a PR so that's why this is here

[2020-10-17 13:45] Sounak97 commented on #457
Please assign this issue to me! Would love to work on it, thank you!

[2020-10-17 13:46] Curiouspaul1 commented on #572
@noisefilter19 could you please assign this issue to me

[2020-10-17 13:53] sbm1arora commented on #513
Hey, @nomanarshad94 i cannot assign the issue to you. if you'll read the guidelines you would understand.

[2020-10-17 13:59] bhawnajoshi1304 opened #584 "287. Find the Duplicate Number"
Problem Name: Find the Duplicate Number
Difficulty: Medium
Language: C++

Please assign this issue to me.

[2020-10-17 14:01] bhawnajoshi1304 opened #585 "56. | Merge Intervals | C++"
Problem name: Merge Intervals
Difficulty: Medium
Language: C++

Please assign this issue to me.

[2020-10-17 14:03] #584 closed

[2020-10-17 14:04] bhawnajoshi1304 opened #587 "287 | Find the Duplicate Number | C++"
Problem Name: Find the Duplicate Number
Difficulty: Medium
Language: C++

Please assign this issue to me.

[2020-10-17 14:05] #582 closed

[2020-10-17 14:05] sg-4 commented on #587
please assign this to me.

[2020-10-17 14:06] bhawnajoshi1304 opened #588 "31 | Next Permutation | C++"
Problem name: Next Permutation
Language: C++
Difficulty: Medium

Please assign this issue to me.

[2020-10-17 14:25] rajat1401 commented on #514
@xcyraxx can you please review and merge

[2020-10-17 14:26] #238 closed

[2020-10-17 14:37] ambrish-02 commented on #558
Hey! I want to work on this issue. Can I go ahead?

[2020-10-17 15:03] papillonbee commented on #457
pls assign to me i have a solution in python

[2020-10-17 15:09] rahulatrkm commented on #125
@noisefilter19 kindly please check this issue?

[2020-10-17 15:18] jatinsaini137 commented on #317
Hey guys i am new to git hub could you please suggest me what to do next.
Thank You

[2020-10-17 15:31] SuryankDixit opened #589 "1092 | Shortest Common Supersequence | C++"
Problem name:  Shortest Common Supersequence
Difficulty:  Hard
Language: C++

[2020-10-17 15:31] SuryankDixit commented on #589
Please assign this problem to me.

[2020-10-17 15:38] cakon2 commented on #457
I've prepared a branch to create PR once I've been assigned :>

[2020-10-17 16:10] kaustavy2k commented on #476
please assign me this work. i would like to work on it

[2020-10-17 16:24] Sanatan-Shrivastava commented on #511
@noisefilter19 Please assign this to me

[2020-10-17 16:34] yuktagautam commented on #415
Please assign this to me!!

[2020-10-17 16:36] tharani247 opened #591 "673 | Number of Longest Increasing Subsequences | Python"
Problem name: Number of Longest Increasing Subsequences
Difficulty: Medium
Language: Python

[2020-10-17 16:37] tharani247 commented on #591
I am interested to work on it
Please assign me this issue

[2020-10-17 16:46] Muskan0 commented on #497
@muskanvk  @Swadha-27 Please read the contributing guidelines first.

[2020-10-17 16:46] #497 closed

[2020-10-17 16:46] Muskan0 opened #593 "75 | Sort Colors | Python"
Problem name: Sort Colors
Difficulty: Medium
Language: Python

[2020-10-17 16:50] aryan-iitj opened #594 "2 |Add Two Numbers | JAVA"
Problem name: Add Two Numbers
Difficulty: Medium
Language: Java

[2020-10-17 16:55] Muskan0 opened #595 "322| Coin Change | Python"
Problem name: Coin Change
Difficulty: Medium
Language: Python

[2020-10-17 16:56] aryan-iitj commented on #594
Hi. I have gone through CONTRIBUTING.md, I myself consider eligible to work on this issue raised by me, as I am coding for a long time in JAVA. The problem is adding two numbers whose digits are stored in LinkedList in reverse order. I have thought of an algorithm which certainly passing its test cases. Please assign me this issue so that I could contribute.

[2020-10-17 17:22] nomanarshad94 commented on #513
Oh, I got it. So I believe you want to contribute to this so you created this right? Correct me if I am missing something.

[2020-10-17 17:24] Muskan0 opened #598 "78| Subsets | Python"
Problem name: Subsets
Difficulty: Medium
Language: Python

[2020-10-17 17:28] Muskan0 opened #599 "230 | Kth Smallest Element in a BST | Python"
Problem name: Kth Smallest Element in a BST
Difficulty: Medium
Language: Python

[2020-10-17 17:32] jordanchristine commented on #415
Maybe Im confused on how this works, but I open the issue because I wanna do it.

[2020-10-17 17:35] Muskan0 opened #600 "62 | Unique Paths | Python"
Problem name: Unique Paths
Difficulty: Medium
Language: Python

[2020-10-17 17:37] nomanarshad94 opened #601 "55 | Jump Game | Python"
Problem name: Jump Game
Difficulty: Medium
Language: Python

[2020-10-17 17:40] nomanarshad94 commented on #601
Hi,
Please assign this issue to me. I have read the contribution guide and just waiting to be assigned to it so I can open PR!
Thanks.

[2020-10-17 17:42] nomanarshad94 opened #602 "1143 | Longest Common Subsequence | Python"
Problem name: Longest Common Subsequence
Difficulty: Medium
Language: Python

[2020-10-17 17:43] nomanarshad94 commented on #602
Hi,
Please assign this issue to me. I have read the contribution guide and just waiting to be assigned to it so I can open PR!
Thanks.

[2020-10-17 17:44] nomanarshad94 opened #603 "1387 | Sort Integers by The Power Value | Python"
Problem name: Sort Integers by The Power Value
Difficulty: Medium
Language: Python

[2020-10-17 17:44] nomanarshad94 commented on #603
Hi,
Please assign this issue to me. I have read the contribution guide and just waiting to be assigned to it so I can open PR!
Thanks.

[2020-10-17 17:45] nomanarshad94 opened #604 "347 | Top K Frequent Elements | Python"
Problem name: Top K Frequent Elements
Difficulty: Medium
Language: Python

[2020-10-17 17:45] nomanarshad94 commented on #604
Hi,
Please assign this issue to me. I have read the contribution guide and just waiting to be assigned to it so I can open PR!
Thanks.

[2020-10-17 17:46] nomanarshad94 opened #605 "560 | Subarray Sum Equals K | Python"
Problem name: Subarray Sum Equals K
Difficulty: Medium
Language: Python

[2020-10-17 17:51] nomanarshad94 commented on #605
Hi,
Please assign this issue to me.
Thanks.

[2020-10-17 17:58] Saurabh-Dadhich opened #606 "338. | counting_bits | c++"
Problem name: counting_bits
Difficulty:medium
Language:c++

[2020-10-17 17:59] Saurabh-Dadhich commented on #606
hello, I have created this issue please assign me for this task.

[2020-10-17 18:16] asha15 commented on #569
Shall i work on this?

[2020-10-17 18:44] Utkarsh-byte-bot opened #608 "185. | | Language| | Replace each element of an array with product of every other element without using Division Operator.."
Problem name: Replace each element of an array with product of every other element without using Division Operator..
Difficulty: Medium
Language: Java

[2020-10-17 18:47] Utkarsh-byte-bot opened #609 "323. | Sort a K-Sorted Array | C++..."
Problem name: K-sorted Array
Difficulty: Medium
Language: C++

[2020-10-17 18:53] Utkarsh-byte-bot opened #610 "187. | Huffman Coding Compression Algorithm| Java"
Problem name: Huffman Coding Compression Algorithm
Difficulty: Medium
Language: Java

[2020-10-17 18:56] Utkarsh-byte-bot opened #611 "523. | Find optimal cost to construct Binary Search Tree | Python"
Problem name: Find optimal cost  to construct Binary Search Tree
Difficulty: Medium
Language: Python

[2020-10-17 19:08] Utkarsh-byte-bot opened #612 "252. | Longest Bitonic Subsequence | Java"
Problem name: Longest Bitonic Subsequence
Difficulty: Medium
Language: Java

[2020-10-17 19:09] sahebsunny opened #613 "89 | Gray Code | C++"
Problem name: Gray Code
Difficulty: Medium
Language: C++

[2020-10-17 19:12] sahebsunny commented on #613
Sir, I appreciate it if you could assign this issue to me. I really love to work on it.
Thank you.

[2020-10-17 19:15] Utkarsh-byte-bot opened #614 "762 .| Matrix Chain Multiplication using Dynamic Programming | C++"
Problem name: Matrix Chain Multiplication using Dynamic Programming
Difficulty: Medium
Language: C++

[2020-10-17 19:17] sahebsunny opened #615 "42 | Trapping Rain Water | C++"
Problem name: Trapping Rain Water
Difficulty: Hard
Language: C++

[2020-10-17 19:18] Utkarsh-byte-bot opened #616 "468. | Flood Fill Algorithm| Python"
Problem name: Flood Fill Algorithm
Difficulty: Medium
Language: Python

[2020-10-17 19:18] sahebsunny commented on #615
I appreciate it if you could assign this issue to me. I love to work on it.
Thank you.

[2020-10-17 19:20] Utkarsh-byte-bot opened #617 "169. |Activity Selection Problem | Java"
Problem name: Activity Selection Problem
Difficulty: Medium
Language: Java

[2020-10-17 19:21] sahebsunny opened #618 "287 | Find the Duplicate Number | C++"
Problem name: Find the Duplicate Number
Difficulty: Medium
Language: C++

[2020-10-17 19:23] sahebsunny commented on #618
I really appreciate it if you could assign this issue to me, sir.
I love to work on it.
Thank you.

[2020-10-17 19:24] Utkarsh-byte-bot opened #619 "323. | Merging OverLapping Intervals | Java"
Problem name: Merging OverLapping Intervals
Difficulty: Medium
Language: Java

[2020-10-17 19:26] Utkarsh-byte-bot opened #620 "762. | Find Lexicographically minimal String Rotation | C++"
Problem name: Find Lexicographically minimal String Rotation
Difficulty: Medium
Language: C++

[2020-10-17 19:28] hellache opened #621 "287 | Find the Duplicate Number | Java"
Problem name: Find the Duplicate Number
Difficulty: Medium
Language: Java

[2020-10-17 19:29] felipehfs commented on #595
Hello Can I take it, please?

[2020-10-17 19:30] Utkarsh-byte-bot opened #623 "152. | Shortest SuperString Problem | C++"
Problem name:  Shortest SuperString Problem
Difficulty: Medium
Language: C++

[2020-10-17 19:43] abelkmathew opened #624 "225 | Menu Driven Polynomial addition and multiplication | C |"
Problem name:Menu Driven Polynomial addition and multiplication
Difficulty:Medium
Language:C

[2020-10-17 20:12] Rohan-GD commented on #593
Hi, can I be assigned to this issue, I would like to solve it

[2020-10-17 20:46] shivanshuman021 commented on #454
Can I be assigned this issue?

[2020-10-17 20:55] shivanshuman021 commented on #599
Hi!
Could you please assign this issue to me!
Thanks.

[2020-10-17 20:57] shivanshuman021 commented on #598
Hi
Please assign me this issue !
Thanks

[2020-10-17 20:59] shivanshuman021 commented on #587
Hi !
Please assign me this issue . I would like to contribute.
Thanks!

[2020-10-17 21:01] shivanshuman021 commented on #585
Hi!
Please assign me this issue !
Thanks!

[2020-10-17 21:08] aryansarkar13 opened #625 "1619 | Mean of Array After Removing Some Elements | Python3"
Problem name: Mean of Array After Removing Some Elements
Difficulty: Medium
Language: Python3

[2020-10-17 21:13] davisschenk commented on #625
I can do this one

[2020-10-17 21:31] Curiouspaul1 commented on #572
@noisefilter19 I opened this issue just as the contribution guidelines says. Can you please assign me this task

[2020-10-17 21:41] MitadruDatta opened #626 "137 | Single Number II | Python"
Problem name: Single Number II
Difficulty: Medium
Language: Python

[2020-10-17 21:48] sbm1arora commented on #513
@nomanarshad94 yes

[2020-10-17 21:52] MitadruDatta commented on #626
Please assign this issue to me.

[2020-10-17 21:57] bhumikabhatia commented on #408
Can I please work on this?

[2020-10-17 23:46] radsn23 commented on #626
I would really like to work on this issue!

[2020-10-17 23:47] radsn23 commented on #616
I can work on this issue!

[2020-10-17 23:50] radsn23 opened #627 "460 | LFU Cache | Python"
Problem name: LFU Cache
Difficulty: Hard
Language: Python

[2020-10-17 23:50] radsn23 commented on #627
Please assign this issue to me!

[2020-10-17 23:52] radsn23 opened #628 "1269 | Number of Ways to Stay in the Same Place After Some Steps | Python"
Problem name: Number of Ways to Stay in the Same Place After Some Steps
Difficulty: Hard
Language: Python

[2020-10-17 23:53] radsn23 commented on #628
Please assign this issue to me!

[2020-10-17 23:53] yagotome opened #629 "523 | Continuous Subarray Sum | Python"
Problem name: Continuous Subarray Sum
Difficulty: Medium
Language: Python

[2020-10-17 23:57] radsn23 opened #630 "994 | Rotting Oranges | Python"
Problem name: Rotting Oranges
Difficulty: Medium
Language: Python

[2020-10-17 23:58] radsn23 commented on #630
Please assign this issue to me!

[2020-10-18 00:08] yagotome opened #631 "968 | Binary Tree Cameras | Python"
Problem name: Binary Tree Cameras
Difficulty: Hard
Language: Python

[2020-10-18 00:10] yagotome opened #632 "743 | Network Delay Time | Python"
Problem name: Network Delay Time
Difficulty: Medium
Language: Python

[2020-10-18 00:11] yagotome opened #633 "282 | Expression Add Operators | Python"
Problem name: Expression Add Operators
Difficulty: Hard
Language: Python

[2020-10-18 01:02] Precillieo commented on #625
Hi @aryansarkar13
Can you assign the this to me?
I would like to work on this

[2020-10-18 01:07] Precillieo commented on #514
Hi @xcyraxx
I would like to work on this issue if I'm permitted.
Awaiting your response

[2020-10-18 01:12] Precillieo commented on #481
Hi @Nishant2907
I would like to work on this issue, would you please assign me this?

[2020-10-18 01:13] Precillieo commented on #499
Would you please assign this issue to me?
I would like to work on this

[2020-10-18 01:16] Precillieo commented on #436
Hi @LyndonFan
I would like to work on this. Would you please assign me this??

[2020-10-18 02:26] sarthakforwet commented on #629
Hey, can I work on this issue?

[2020-10-18 03:31] GoodGuyGregory commented on #623
@Utkarsh-byte-bot. Pardon my ignorance but where is this problem? I don't think that it matches 152.

[2020-10-18 03:31] GoodGuyGregory commented on #623
@Utkarsh-byte-bot I would like to take a crack at this if no one else has

[2020-10-18 04:58] TarunTomar122 commented on #633
Hello Sir, I would like to do this. Can you assign this issue to me?

[2020-10-18 05:06] Muskan0 commented on #598
@shivanshuman021 I want this to be assigned to me, You should open a new issue.

[2020-10-18 05:07] Muskan0 commented on #599
@shivanshuman021 I want this to be assigned to me, You should open a new issue.

[2020-10-18 05:08] Muskan0 commented on #595
@felipehfs I want this issue to be assigned to me, You should open a new issue.

[2020-10-18 05:09] Muskan0 commented on #593
@Rohan-GD I want this issue to be assigned to me, You should open a new issue.

[2020-10-18 05:11] Rohan-GD commented on #593
Alright no problem

[2020-10-18 06:36] piyush-kash opened #638 "75 | SortColors | Java"
Problem name: Sort Colors
Difficulty: Medium
Language: Java

[2020-10-18 06:38] piyush-kash commented on #638
Please assign me this issue sir @noisefilter19

[2020-10-18 06:46] apoorv-0204 opened #639 "312 | Burst Balloons | Python"
Problem name: Burst Balloons
Difficulty: Hard
Language: Python

[2020-10-18 07:01] apoorv-0204 opened #640 "91 | Decode Ways | Python"
Problem name: Decode Ways
Difficulty: Medium
Language: Python

[2020-10-18 07:03] Jahnavi-Jonnalagadda commented on #616
Sir, Could you please assign this issue to me?

[2020-10-18 07:04] apoorv-0204 opened #641 "73 | Set Matrix Zeroes | Python"
Problem name: Set Matrix Zeroes
Difficulty: Medium
Language: Python

[2020-10-18 07:05] Jahnavi-Jonnalagadda commented on #605
Sir, Could you please assign this issue to me?

[2020-10-18 07:07] Jahnavi-Jonnalagadda commented on #604
Sir, could you please assign this issue to me?

[2020-10-18 07:08] apoorv-0204 opened #642 "18 | 4Sum | Python"
Problem name: 4Sum
Difficulty: Medium
Language: Python

[2020-10-18 07:14] devansh-07 opened #643 "52 | N-Queens II | Python"
Problem name: N-Queens II
Difficulty: Hard
Language: Python

[2020-10-18 07:15] Jahnavi-Jonnalagadda opened #644 "128 | Longest Consecutive Sequence | Python"
Problem name: Longest Consecutive Sequence
Difficulty: Hard
Language: Python

[2020-10-18 07:16] Jahnavi-Jonnalagadda commented on #644
Sir, Kindly assign this issue to me.

[2020-10-18 07:17] devansh-07 commented on #643
Sir, could you please assign this problem to me?

[2020-10-18 07:23] AaronF3PS commented on #441
please feel free to assign me the task.

[2020-10-18 07:23] Jahnavi-Jonnalagadda opened #645 "33 | Search in Rotated Sorted Array | Python"
Problem name: Search in Rotated Sorted Array
Difficulty: Medium
Language: Python

[2020-10-18 07:24] Jahnavi-Jonnalagadda commented on #645
Sir, could you please assign this issue to me?

[2020-10-18 07:26] devansh-07 opened #647 "93 | Restore IP Addresses | Python 3"
Problem name: Restore IP Addresses
Difficulty: Medium
Language: Python 3

[2020-10-18 07:28] devansh-07 commented on #647
Sir, could you please assign this issue to me?

[2020-10-18 07:32] devansh-07 opened #648 "131 | Palindrome Partitioning | Python"
Problem name: Palindrome Partitioning
Difficulty: Medium
Language: Python

[2020-10-18 07:33] devansh-07 commented on #648
Sir, Could you please assign this issue to me?

[2020-10-18 07:37] AaronF3PS opened #650 "3 | Longest Substring Without Repeating Characters | C++"
Problem name: **Longest Substring Without Repeating Characters**
Difficulty: **Medium**
Language: **C++**

[2020-10-18 07:38] AaronF3PS commented on #650
Please free to assign me this task

[2020-10-18 07:42] Jahnavi-Jonnalagadda opened #652 "200 | Number of Islands | Python"
Problem name: Number of Islands
Difficulty: Medium
Language: Python

[2020-10-18 07:42] devansh-07 opened #653 "79 | Word Search | Python"
Problem name: Word Search
Difficulty: Medium
Language: Python

[2020-10-18 07:42] Jahnavi-Jonnalagadda commented on #652
Sir, could you please assign this issue to me?

[2020-10-18 07:43] devansh-07 commented on #653
Could you please assign this issue to me?

[2020-10-18 07:44] Jahnavi-Jonnalagadda opened #654 "238 | Product of Array Except Self | Python"
Problem name: Product of Array Except Self
Difficulty: Medium
Language: Python

[2020-10-18 07:44] Jahnavi-Jonnalagadda commented on #654
Sir, could you please assign this issue to me?

[2020-10-18 07:49] Jahnavi-Jonnalagadda opened #655 "49 | Group Anagrams | Python"
Problem name: Group Anagrams
Difficulty: Medium
Language: Python

[2020-10-18 08:45] anneCoder1805 commented on #454
I have already solved this problem, I would really be grateful if you assign me this task for contribution.

[2020-10-18 09:03] bolu-tife commented on #600
Please assign this issue to me, Thanks!

[2020-10-18 09:22] nyctophiliacme opened #657 "236 | Lowest Common Ancestor of a Binary Tree | C++"
Problem name: Lowest Common Ancestor of a Binary Tree
Difficulty: Medium
Language: C++

[2020-10-18 10:48] Nishant2907 commented on #481
@Precillieo i just opened the issue, only the owner of the repository can assign the issue to us.

[2020-10-18 11:22] vasu2907 commented on #638
Please assign this issue to me, Sir.

[2020-10-18 11:28] vasu2907 opened #664 "148 | Sort List | C++"
Problem name: Sort List
Difficulty: Medium
Language: C++

[2020-10-18 11:28] vasu2907 commented on #664
Please assign this issue to me Sir.

[2020-10-18 11:32] rohitsingh2410 commented on #664
If possible kindly assign it to me?

[2020-10-18 11:51] rohitsingh2410 opened #666 "23. | Valid Parenthesis checker using stack | C++"
Problem name: Valid Parenthesis checker using stack
Difficulty: Medium
Language: C++

Hi I would like to implement this standard algorithm and mostly asked interview question to check if a given string have a valid parenthesis or not using CPP. Kindly assign it to me.
Thanks

[2020-10-18 11:51] rohitsingh2410 commented on #666
Problem name: Valid Parenthesis checker using stack
Difficulty: Medium
Language: C++

Hi I would like to implement this standard algorithm and mostly asked interview question to check if a given string have a valid parenthesis or not using CPP. Kindly assign it to me.
Thanks

[2020-10-18 12:25] Nyctophiliac1918 opened #667 "137 | Single Number II | C++"
Problem name: Single Number II
Difficulty: Medium
Language: C++

[2020-10-18 12:25] Nyctophiliac1918 commented on #667
Please assign this issue to me! I have read the contribution guide and am ready to pull a PR!

[2020-10-18 12:27] abinashstack commented on #642
@apoorv-0204 I would like to work on this issue

[2020-10-18 12:28] shankar51689 commented on #445
can you assing this topic to me I like to work on it

[2020-10-18 12:31] Nyctophiliac1918 opened #668 "220 | Contains Duplicate III | C++"
Problem name: Contains Duplicate III
Difficulty: Medium
Language: C++

[2020-10-18 12:31] Nyctophiliac1918 commented on #668
Please assign this issue to me!

[2020-10-18 14:23] saritpi opened #672 "1090 | Largest Values From Labels | Java"
Problem name: Largest Values From Labels
Difficulty: Medium
Language: Java

[2020-10-18 14:40] saritpi opened #673 "950 | Reveal Cards In Increasing Order | Java"
Problem name: Reveal Cards In Increasing Order
Difficulty: Medium
Language: Java

[2020-10-18 16:46] Jahnavi-Jonnalagadda commented on #655
@dhirajwork, did you work on this issue?

[2020-10-18 16:59] yogirajgutte commented on #625
I'll try to solve this.

[2020-10-18 17:10] ajeetjaiswal02 opened #676 "123 | Best Time to Buy and Sell Stock III | Python"
Problem name: Best Time to Buy and Sell Stock III
Difficulty: Hard
Language:Python

I've solved this problem. @noisefilter19 please assign it to me

[2020-10-18 17:12] scaredevil227 commented on #653
assign this to me please

[2020-10-18 17:45] iepsenn commented on #509
Can I be assigned this issue?

[2020-10-18 18:01] zealberth commented on #640
Hi! Can I solve this?

[2020-10-18 18:55] devansh-07 commented on #653
Hey @scaredevil227, I want this issue to be assigned to me and that's why I've opened it. You should open a new issue for a new problem.

[2020-10-18 20:19] GoodGuyGregory commented on #563
I have completed this one!

[2020-10-18 20:50] robertmacyiii commented on #496
I would like to work on this issue. Could you assign it to me?

[2020-10-18 21:15] GoodGuyGregory opened #680 "189. | Rotate Array | Javascript"
Problem name: Rotate Array
Difficulty: Medium
Language: Javascript

[2020-10-18 21:16] GoodGuyGregory commented on #680
@noisefilter19   please assign me to this Array. It references [PR #679 ](https://github.com/noisefilter19/LeetCode_Algorithms/pull/679)

[2020-10-18 22:11] robertmacyiii opened #681 "454. | 4Sum II | Python"
Problem name: 4Sum II
Difficulty: Medium
Language: Python

[2020-10-18 22:12] robertmacyiii commented on #681
@noisefilter19 please assign me to this issue.

[2020-10-19 01:57] jntushar commented on #563
@GoodGuyGregory
can't find it here: [https://github.com/noisefilter19/LeetCode_Algorithms/tree/main/Java](https://github.com/noisefilter19/LeetCode_Algorithms/tree/main/Java)

[2020-10-19 04:45] tusharck commented on #66
Can i take this issue?

[2020-10-19 05:03] DasithEdirisinghe commented on #503
@noisefilter19 can you please assign me and assign @v-sonawane if possible.

[2020-10-19 05:07] RoyalTechie opened #684 "1 | Palindrome checker | JavaScript"
Problem name: Palindrome Checker
Difficulty: Medium
Language: Javascript

It will be my first pull request (problem no.=1)
If there is anything wrong, i will make sure to Fix it...

[2020-10-19 05:26] Muskan0 commented on #600
@bolu-tife  I want this issue to be assigned to me, You should open a new issue of a new problem.

[2020-10-19 05:32] reshma-avvaru opened #685 "79 |Word Search| C++"
Problem name: word search
Difficulty: medium
Language: C++

[2020-10-19 06:39] gill876 commented on #684
Just make a JS function?

[2020-10-19 11:21] Dreamvendorg opened #686 "1390 | Four Divisors | Python3"
Problem name: 1390. Four Divisors
Difficulty: Medium
Language: Python3

Please, assign it to me.

[2020-10-19 12:30] manas-init commented on #190
Hi @SpasZahariev, I've updated the PR to a python file.

[2020-10-19 13:05] DasithEdirisinghe commented on #294
@noisefilter19 do this need to add hacktoberfest-accepted label in order to mark as a complete pull request.

[2020-10-19 14:32] manas-init commented on #685
Hi @reshma-avvaru, I've raised a PR for the word_search(79) problem. https://github.com/noisefilter19/LeetCode_Algorithms/pull/688

[2020-10-19 14:36] Dreamvendorg opened #689 "1329 | Sort the Matrix Diagonally | Python3"
Problem name: Sort the Matrix Diagonally
Difficulty: Medium
Language: Python3

Please, assign it to me.

[2020-10-19 14:49] mohinesh9999 commented on #689
i can do this in python3.
please assign me

[2020-10-19 15:02] iyerkritika opened #691 "654 | Maximum Binary Tree | cpp"
Problem name: Maximum Binary Tree
Difficulty: Medium
Language: CPP

https://leetcode.com/problems/maximum-binary-tree/

[2020-10-19 15:03] mohinesh9999 opened #692 "21 | Merge Two Sorted Lists| Python3"
Problem name: Merge Two Sorted Lists
Difficulty: Easy
Language: Python

please assign it to me

[2020-10-19 15:03] iyerkritika commented on #691
Please assign me to this issue. I have a solution 72ms ( beats 95% of the solutions )

[2020-10-19 15:29] PragyaSrivastava1 commented on #686
I want to contribute to this issue. Please assign.

[2020-10-19 17:12] yoki-07 commented on #692
I want to contribute in this. Can you please assign me this issue. @mohinesh9999

[2020-10-19 17:45] nyctophiliacme commented on #657
Hi, Can you please assign this issue to me.

[2020-10-19 18:10] trishnakalita660 opened #693 "451 | Sort Characters By Frequency | C++"
Problem name: Sort Characters By Frequency
Difficulty: Medium
Language: C++

[2020-10-19 18:10] trishnakalita660 commented on #693
Please assign me this problem .

[2020-10-19 19:03] kakashi215 opened #694 "1007 | Minimum Domino Rotations For Equal Row | Python"
Problem name: Minimum Domino Rotations For Equal Row
Difficulty: Medium
Language: Python

![Minimum Domino Rotations For Equal Row](https://user-images.githubusercontent.com/34543293/96499773-7cd3fb80-126b-11eb-8d3c-011adb4251ee.JPG)

This problem is very interesting and I am working on it.
Could I contribute my solution to this repository?

P.S. Thanks for this amazing repo!! Kudos.

[2020-10-19 20:29] aroma6700 opened #695 "17 | Letter Combinations of a Phone Number | C++"
Problem name: Letter Combinations of a Phone Number
Difficulty: Medium
Language: C++

[2020-10-19 20:29] aroma6700 commented on #695
Please assign this issue to me

[2020-10-20 00:08] felipehfs commented on #595
@Muskan0 Okay.

[2020-10-20 03:14] RoyalTechie commented on #684
@gill876 Actually i already created the JS function for it but asking for permission to create pull request.

[2020-10-20 03:19] gill876 commented on #684
Oooh ohh I see

[2020-10-20 04:28] rijusougata13 opened #696 "no one accept our pr or resolve our issues in this repository"

[2020-10-20 04:57] kakashi215 opened #697 "1362. | Closest Divisors | Python"
Problem name: Closest Divisors
Difficulty: Medium
Language: Python

![Closest Divisors](https://user-images.githubusercontent.com/34543293/96541926-abc78d00-12be-11eb-92ee-c54f4157af86.JPG)

An interesting problem displaying the nature of factors.
Please let me be assigned to this issue.

[2020-10-20 05:04] kakashi215 opened #698 "42. | Trapping Rain Water | Python"
Problem name: Trapping Rain Water
Difficulty: Medium
Language: Python
![Trapping Rain Water](https://user-images.githubusercontent.com/34543293/96542407-a585e080-12bf-11eb-8eb2-1f49d1a46cd9.JPG)
The classic problem of rainwater trapping between heights. I'd would compute the left and right maximums for the array in a single loop and then compute the amount of water trapped.
Requesting to be assign

[2020-10-20 05:07] kakashi215 opened #699 "161. | One Edit Distance | Python"
Problem name: One Edit Distance
Difficulty: Medium
Language: Python

Given two strings s0 and s1 determine whether they are one or zero edit distance away. An edit can be described as deleting a character, adding a character, or replacing a character with another character.
This is a pretty tricky question.
Requesting to be assigned to this issue.

[2020-10-20 05:52] kakashi215 opened #701 "224. | Basic Calculator |Python"
Problem name: Basic Calculator
Difficulty: Hard
Language: Python
![Basic Calculator](https://user-images.githubusercontent.com/34543293/96545657-7161ee00-12c6-11eb-9e2e-9656706708dd.JPG)

Requesting to be assigned to this task @noisefilter19 .

Happy Coding!

[2020-10-20 06:18] #684 closed

[2020-10-20 09:00] DanialAnsari commented on #701
I am interested in this issue and would like to work on it.

[2020-10-20 09:33] DanialAnsari commented on #698
Hey @kakashi215 .I would like to be assigned to this task.

[2020-10-20 10:53] kakashi215 commented on #701
Hey @DanialAnsari appreciate your help.
I think the better way would be to open a new issue of a problem which isn't there in the repo.
That way we'd have much more problems covered.

[2020-10-20 10:54] kakashi215 commented on #698
I'm actually working on this myself as of now.
Waiting on @noisefilter19 to assign to me.

[2020-10-20 14:25] noisefilter19 commented on #317
This repo is meant for leetcode problems only. Please dont open irrelevant issues. @eeshita19 if you want to work on some other issue, you are welcome to do so

[2020-10-20 14:25] #322 closed

[2020-10-20 14:26] #384 closed

[2020-10-20 14:33] #306 closed

[2020-10-20 14:35] #265 closed

[2020-10-20 14:39] noisefilter19 commented on #407
Irrelevant issue. This is a repo meant for leetcode solutions

[2020-10-20 14:39] #407 closed

[2020-10-20 14:41] sourabhmandal commented on #386
Hi @noisefilter19 I am working on this.. please assign it to me...

[2020-10-20 14:42] noisefilter19 commented on #696
Can't help. I'm the lone maintainer and can't spend the entire day doing this

[2020-10-20 14:42] #696 closed

[2020-10-20 14:47] noisefilter19 commented on #666
Sorry @rohitsingh2410 This repo is meant for leetcode problems only

[2020-10-20 14:47] #666 closed

[2020-10-20 14:49] sourabhmandal commented on #386
Hi I have created a PR for this issue.. please merge #703

[2020-10-20 15:37] SuryankDixit commented on #589
Thanks @noisefilter19

[2020-10-20 16:08] #685 closed

[2020-10-20 16:10] MohitRustagi commented on #558
@noisefilter19 There is already an existing python solution for this problem.

[2020-10-20 16:10] #558 closed

[2020-10-20 16:11] reshma-avvaru opened #708 "871 | minimum number of refueling stops | c++"
Problem name: minimum number of refueling stops
Difficulty: hard
Language: c++

[2020-10-20 16:25] MohitRustagi opened #709 "179. | Largest Number | Python"
Problem name: Largest Number
Difficulty: Medium
Language: Python

Very good problem. I see no existing solution. Can you please assign it to me?

[2020-10-20 16:59] Alekhya77 opened #711 "50 | Pow(x, n) | Python"
Problem name: Pow(x, n)
Difficulty: Medium
Language: Python

[2020-10-20 17:06] abelkmathew commented on #624
Pull request issued for 225 | Menu Driven Polynomial addition and multiplication | C | #624

[2020-10-20 17:10] abelkmathew commented on #624
Pull request issued #712

[2020-10-20 17:13] Alekhya77 commented on #711
@noisefilter19 please assign this to me.

[2020-10-20 17:28] Bhavesh27 commented on #709
@MohitRustagi Can i work on this. Can you assign me this?

[2020-10-20 18:03] mohinesh9999 commented on #692
successfully added pr please review it @noisefilter19 #717

[2020-10-20 18:16] nomanarshad94 commented on #605
#718
Created pull request please review and merge it.

[2020-10-20 18:36] kakabisht commented on #708
Hi, could I take this problem up?

[2020-10-20 19:20] Error404m commented on #580
Thanx a lot @noisefilter19 for assigning, Raised PR #723 .

[2020-10-20 21:30] janLuke commented on #406
Please, assign this to someone else.

[2020-10-20 21:30] #406 closed

[2020-10-20 23:32] robertmacyiii commented on #681
Pull request issued #725

[2020-10-21 04:52] cakon2 opened #728 "1079 | Letter Tile Possibilities | Python"
Problem name: Letter Tile Possibilities
Difficulty: Medium
Language: Python

Link: https://leetcode.com/problems/letter-tile-possibilities/

[2020-10-21 04:52] cakon2 commented on #728
I have a solution and would like to contribute ! Please assign to me !

[2020-10-21 05:35] sark-2110 commented on #668
i have assigned you this task. please follow guideline

[2020-10-21 05:42] cakon2 opened #729 "1338 | Reduce Array Size to The Half | Python"
Problem name: Reduce Array Size to The Half
Difficulty: Medium
Language: Python

Link: https://leetcode.com/problems/reduce-array-size-to-the-half/

[2020-10-21 05:43] cakon2 commented on #729
I have a solution and would like to contribute ! Please assign to me !

[2020-10-21 07:01] Alekhya77 opened #730 "50 | Pow(x, n) | Python"
Problem name: Pow(x, n)
Difficulty: Medium
Language: Python

[2020-10-21 07:02] #711 closed

[2020-10-21 07:02] Alekhya77 commented on #730
@noisefilter19 assign this to me.

[2020-10-21 08:08] javmarina opened #731 "307 | Range Sum Query - Mutable | Python 3"
Problem name: Range Sum Query - Mutable
Difficulty: Medium
Language: Python 3

@noisefilter19

[2020-10-21 08:10] javmarina opened #732 "636 | Exclusive Time of Functions | Python 2"
Problem name: Exclusive Time of Functions
Difficulty: Medium
Language: Python 2

@noisefilter19

[2020-10-21 09:51] Jahnavi-Jonnalagadda commented on #654
@noisefilter19, it is giving an error while cloning the repo. And says invalid path for "product of last k numbers.py". Could you please look into this issue?

[2020-10-21 11:04] DmitryBakunovich opened #736 "24 | Swap Nodes in Pairs | Python"
Problem name: Swap Nodes in Pairs
Difficulty: Medium
Language: Python

[2020-10-21 12:14] Saurabh-Dadhich commented on #606
hey, i have send you pull request #739  , please review it

[2020-10-21 12:43] kakashi215 commented on #694
Hey @noisefilter19 there seems to be some problem with the file 1352 | Product of the last k numbers.py in the Python folder.
Windows can't accept '|' in file names hence it won't let you clone the repo. Tried using git clone as well as Github desktop app.
So I rectified the file name to allow me to work on it.
Would that be comfortable?

Regards.

[2020-10-21 13:06] kakashi215 commented on #697
Hello @noisefilter19.
Could I be assigned this issue to allow me to contribute the solution to this.

Thanks and regards.

[2020-10-21 14:24] ranidu-harshana commented on #709
can you assign me??

[2020-10-21 14:27] ranidu-harshana commented on #730
assign me

[2020-10-21 16:05] noisefilter19 commented on #694
Hey thanks for making those changes

[2020-10-21 16:05] #694 closed

[2020-10-21 16:06] #692 closed

[2020-10-21 16:08] #681 closed

[2020-10-21 16:09] #668 closed

[2020-10-21 16:13] #404 closed

[2020-10-21 16:15] #553 closed

[2020-10-21 16:16] #522 closed

[2020-10-21 16:18] #511 closed

[2020-10-21 16:19] #499 closed

[2020-10-21 16:20] #588 closed

[2020-10-21 16:21] noisefilter19 commented on #580
This is not a Leetcode problem if i'm not wrong

[2020-10-21 16:22] noisefilter19 commented on #580
If so, I can't accept this

[2020-10-21 16:22] #579 closed

[2020-10-21 16:23] #562 closed

[2020-10-21 16:28] #605 closed

[2020-10-21 16:29] #595 closed

[2020-10-21 16:29] noisefilter19 commented on #654
Check now

[2020-10-21 16:30] #643 closed

[2020-10-21 16:30] bhumikabhatia commented on #465
take

[2020-10-21 16:30] #638 closed

[2020-10-21 16:32] #624 closed

[2020-10-21 16:51] #736 closed

[2020-10-21 16:52] DmitryBakunovich opened #743 "24 | Swap Nodes in Pairs | Python"
Problem name: Swap Nodes in Pairs
Difficulty: Medium
Language: Python

[2020-10-21 16:58] UdeshAthukorala opened #745 "25 | Reverse Nodes in k-Group | Python"
Problem name: Reverse Nodes in k-Group
Difficulty: Hard
Language: Python

[2020-10-21 16:59] UdeshAthukorala commented on #745
@noisefilter19 Can you please assign this issue to me.

[2020-10-21 17:16] kakashi215 commented on #698
@noisefilter19 requesting you for further assignment to contribute.

[2020-10-21 17:28] Jahnavi-Jonnalagadda commented on #654
No sorry, its the same @noisefilter19. This is the error message - "error: invalid path 'Python/1352 | Product of the last k numbers.py' "

[2020-10-21 17:30] noisefilter19 commented on #654
Nope. There is no such file as of now. Take a pull from repo again and try

[2020-10-21 18:32] ishikasinha-d commented on #664
Please assign this to me

[2020-10-21 18:58] ishikasinha-d commented on #686
Please assign this question to me

[2020-10-21 19:03] ishikasinha-d commented on #647
Please assign this to me

[2020-10-21 19:08] ishikasinha-d commented on #730
Please assign this to me...I want to contribute

[2020-10-21 19:19] ishikasinha-d commented on #470
Please assign this to me...I want to contribute..

[2020-10-21 21:22] kakashi215 commented on #694
My pleasure. Allow me to contribute more. @noisefilter19

[2020-10-21 21:26] #673 closed

[2020-10-22 05:33] Achyut-sudo commented on #731
@javmarina please assign this to me

[2020-10-22 06:43] javmarina commented on #731
I created the issue so that @noisefilter19 could assign it to me. Please create an issue for another problem.

[2020-10-22 10:05] bhumikabhatia commented on #695
Hi, can you please assign this issue to me?

[2020-10-22 11:18] rishiCS commented on #647
@devansh-07 Please assign this issue to me.

[2020-10-22 11:20] LyndonFan commented on #436
Please ask the author instead of me -- I can't assign issues!
Also the difficulty is actually easy (instead of medium -- I misread it initially).

[2020-10-22 11:45] Precillieo commented on #436
Ok @LyndonFan

@noisefilter19 would you please assign me to this task, I have a solution already to it

[2020-10-22 17:32] kakashi215 commented on #698
@noisefilter19 waiting to commit and make a pull request.
Please assign the issue.

Thanks!

[2020-10-23 03:50] pancholi-deep commented on #743
can you assign this to me?

[2020-10-23 04:39] Achyut-sudo commented on #731
@javmarina  okay

[2020-10-23 07:11] ofekMula opened #750 "994 | Rotting Oranges | C++"
Problem name: Rotting Oranges
Difficulty:Medium
Language:C++

please assign me this issue.

[2020-10-23 07:13] ofekMula opened #751 "189 | Rotate Array | C++"
Problem name: Rotate Array
Difficulty: Medium
Language: C++

please assign me this issue.

[2020-10-23 07:26] beertocode commented on #751
Please assign this issue to me

[2020-10-23 07:27] beertocode commented on #750
Please assign this issue to me.

[2020-10-23 08:07] kakashi215 commented on #699
@noisefilter19 Requesting you to assign the issue to allow me to pull request.

[2020-10-23 12:46] Subigya-Rai opened #753 "16 | 3Sum Closest | C++"
Problem name: 3Sum Closest
Difficulty: Medium
Language: C++

[2020-10-23 12:46] Subigya-Rai commented on #753
Please assign this problem to me

[2020-10-23 18:05] #523 closed

[2020-10-23 20:15] berkantay commented on #732
please assign this issue for me

[2020-10-24 06:22] reshma-avvaru commented on #708
i raised this because i wanted to solve .Please raise a issue for any other problem u wish to solve

[2020-10-24 10:04] #630 closed

[2020-10-24 10:05] #621 closed

[2020-10-24 15:19] SunitaBhat101 opened #758 "230 | Kth Smallest Element | Cpp"
Problem name: Kth Smallest
Difficulty: Med
Language: CPP

[2020-10-24 15:21] #743 closed

[2020-10-24 15:27] #606 closed

[2020-10-24 15:28] #589 closed

[2020-10-24 15:30] noisefilter19 commented on #439
Closing this as it's an easy problem

[2020-10-24 15:30] #439 closed

[2020-10-24 15:32] #758 closed

[2020-10-24 15:35] noisefilter19 opened #760 "PR -> ISSUE LINKING"
Hey guys! I find that most of the issues with assignees don't have a PR raised, even if there is I'm unable to find them among the large number of PR's. Please ensure that you link your PR with the issue that you are solving using the "Linked issue" tab on the right column of PR so that I can review and merge your PR's.

[2020-10-24 15:35] #648 closed

[2020-10-24 15:35] #653 closed

[2020-10-24 15:35] #647 closed

[2020-10-24 15:36] noisefilter19 commented on #750
@beertocode I will assign you a different issue. Feel free to work on that

[2020-10-24 17:14] jjjding2 commented on #412
@noisefil

[2020-10-24 17:14] #412 closed

[2020-10-24 17:56] #479 closed

[2020-10-24 18:27] #689 closed

[2020-10-24 19:12] javmarina commented on #732
Created PR #765

[2020-10-24 20:11] bhj2001 opened #767 "1624 | Largest Substring Between Two Equal Characters | C++"
Problem name: Largest Substring Between Two Equal Characters
Difficulty: Easy
Language: C++

[2020-10-24 20:12] bhj2001 opened #768 "1625 | Lexicographically Smallest String After Applying Operations | C++"
Problem name: Lexicographically Smallest String After Applying Operations
Difficulty: Medium
Language: C++

[2020-10-24 20:13] bhj2001 opened #769 "1626 | Best Team With No Conflicts | C++"
Problem name: Best Team With No Conflicts
Difficulty: Medium
Language: C++

[2020-10-24 20:14] bhj2001 opened #770 "1627 | Graph Connectivity With Threshold | C++"
Problem name: Graph Connectivity With Threshold
Difficulty: Hard
Language: C++

[2020-10-24 20:18] bhj2001 commented on #767
Easy problems aren't accepted.

[2020-10-24 20:19] bhj2001 commented on #767
Easy problems aren't accepted.

[2020-10-24 20:19] #767 closed

[2020-10-24 20:20] bhj2001 opened #771 "1622 | Fancy Sequence | C++"
Problem name:  Fancy Sequence
Difficulty: Hard
Language: C++

[2020-10-24 20:21] bhj2001 commented on #768
Assign this to me

[2020-10-24 20:21] bhj2001 commented on #769
Assign this to me

[2020-10-24 20:21] bhj2001 commented on #770
Assign this to me

[2020-10-24 20:21] bhj2001 commented on #771
Assign this to me

[2020-10-25 02:10] cakon2 commented on #729
@noisefilter19

[2020-10-25 07:00] trishnakalita660 opened #774 "948| Bag of Tokens |C++"
Problem name: Bag of Tokens
Difficulty:Medium
Language:C++

[2020-10-25 07:00] trishnakalita660 commented on #774
please assign me this issue.

[2020-10-25 07:40] Alekhya77 opened #777 "162 | Find Peak Element | Python"
Problem name: Find Peak Element
Difficulty: Medium
Language: Python

[2020-10-25 07:41] Alekhya77 commented on #777
@noisefilter19 assign this to me.

[2020-10-25 08:01] Alekhya77 opened #778 "151 | Reverse Words in a String | Python"
Problem name: Reverse Words in a String
Difficulty: Medium
Language: Python

@noisefilter19 assign this to me.

[2020-10-25 08:17] ravireddy07 commented on #307
@noisefilter19  Have a look at this once...

[2020-10-25 08:17] ravireddy07 commented on #310
@noisefilter19  Have a look at this once...

[2020-10-25 08:17] ravireddy07 commented on #308
@noisefilter19  Have a look at this once...

[2020-10-25 08:18] ravireddy07 commented on #309
@noisefilter19  Have a look at this once...

[2020-10-25 08:35] DanialAnsari opened #779 "639. | Decode Ways II | JavaScript"
Problem name:Decode Ways II
Difficulty: Hard
Language: JavaScript

I would like to be assigned the following problem please.

[2020-10-25 08:38] DanialAnsari opened #780 "640. | Solve the Equation | JavaScript"
Problem name: Solve the Equation
Difficulty: Medium
Language: JavaScript.
Would really like to work on this task please assign me.

[2020-10-25 17:21] DanialAnsari opened #786 "649. | Dota2 Senate | JavaScript"
Problem name: Dota2 Senate
Difficulty: Medium
Language: JavaScript
Hey I raised 2 issues earlier one which was accepted and one which was rejected . I want to make another pull request so please assign me this problem please. do lemme know if there is a limit to how many PR's you make.

[2020-10-25 23:39] radsn23 commented on #628
@noisefilter19 Please assign this to me, thanks!

[2020-10-26 13:50] bolu-tife commented on #600
okay, thanks

[2020-10-26 19:55] Harivind opened #791 "1282 | Group the People Given the Group Size They Belong To | Python"
Problem name: Group the People Given the Group Size They Belong To
Difficulty: Medium
Language: Python

[2020-10-26 20:46] patel-himanshu commented on #791
I have read the Contributions Guidelines and would request you to assign this issue to me.
I have solved this question and would like to submit a pull request for the same.
I have attached a screenshot of the Acceptance of my solution.
![image](https://user-images.githubusercontent.com/44549418/97226515-16665480-17fa-11eb-80a8-c79507cf751e.png)

[2020-10-27 00:06] kakashi215 opened #793 "227 | Basic Calculator II |Python"
Problem name: Basic Calculator II
Difficulty: Medium
Language: Python
![image](https://user-images.githubusercontent.com/34543293/97241181-50455400-1816-11eb-9a3c-35fcce775338.png)

Waiting to be assigned and contribute.

Cheers!

[2020-10-27 03:44] Harivind commented on #791
@noisefilter19, I'd like to contribute the code towards this issue

[2020-10-27 03:48] verma-shivani commented on #793
please assign this to me

[2020-10-27 04:48] Jahnavi-Jonnalagadda commented on #655
@noisefilter19, Could you please confirm if this issue can be assigned to me or not, so that I can work on any other issue.

[2020-10-27 05:33] ashutosh007865 commented on #793
can you please let me handle this work

[2020-10-27 07:06] PoorvaW opened #794 "633 | Sum of Square Numbers | C++"
Problem name: Sum of Square Numbers
Difficulty: Medium
Language: C++

Can you please assign this issue to me?

[2020-10-27 07:09] snehaa1989 commented on #794
please assign to me

[2020-10-27 07:13] snehaa1989 opened #795 "94 | Binary Tree Inorder Traversal | C++"
Problem name: Binary Tree Inorder Traversal
Difficulty: Medium
Language: C++

please assign this to me, I would like to work on this.

[2020-10-27 09:48] yuktagautam commented on #795
Please assign this to me

[2020-10-27 10:30] yuktagautam opened #796 "386 | Lexicographical Numbers | C++"
Problem name: Lexicographical Numbers
Difficulty: Medium
Language: C++

[2020-10-27 10:31] yuktagautam commented on #796
Please  assign this to me

[2020-10-27 11:24] yuktagautam opened #797 "50 | Pow(x,n) |C++"
Problem name:Pow(x,n)
Difficulty:Medium
Language:C++

[2020-10-27 11:25] yuktagautam commented on #797
@noisefilter19 Please assign this to me

[2020-10-27 12:12] kakashi215 commented on #793
@verma-shivani @ashutosh007865  guys you can open your own issues with problems that haven't been addressed yet.
That is the formal and much better way to contribute.
We would be able to cover a wider range of problems.
Lemme know if I could help you with that.

Cheers!

[2020-10-27 16:52] Alekhya77 commented on #777
@noisefilter19 assign this to me.

[2020-10-27 17:53] #794 closed

[2020-10-27 17:54] #795 closed

[2020-10-27 17:55] #768 closed

[2020-10-27 17:56] #750 closed

[2020-10-27 17:57] #732 closed

[2020-10-27 17:59] #728 closed

[2020-10-27 18:00] #701 closed

[2020-10-27 18:26] javmarina commented on #731
Hi @noisefilter19, can you assign this to me?

[2020-10-28 03:24] SousaPedro11 commented on #778
I solved it using split, join, and slicing #803

[2020-10-28 04:51] SousaPedro11 commented on #777
I used the iterative binary search in Python #805

[2020-10-28 06:40] ofekMula opened #806 "73 | Set Matrix Zeroes | C++"
Problem name:Set Matrix Zeroes
Difficulty:Medium
Language:C++
please assign me this issue.

[2020-10-28 07:31] Kapileson commented on #256
Hi @PradeepNalluri ,

I would like to solve this problem. Could you assign me to this issue?

[2020-10-28 08:00] vaibhav1865 commented on #806
I would like to work on this, Please assign this to me

[2020-10-28 13:46] SousaPedro11 opened #808 "65 | Valid Number | Python"
Problem name: Valid Number
Difficulty: Hard
Language: Python

[2020-10-28 13:47] SousaPedro11 commented on #808
Hi @noisefilter19,
Please assign this issue to me.
Thanks.

[2020-10-28 13:57] SousaPedro11 commented on #808
I solve it in #809

[2020-10-28 14:50] SousaPedro11 opened #810 "315 | Count of Smaller Numbers After Self | Python"
Problem name: Count of Smaller Numbers After Self
Difficulty: Hard
Language: Python

[2020-10-28 14:50] SousaPedro11 commented on #810
Hi @noisefilter19 ,
Please assign this issue to me.
Thanks.

[2020-10-28 15:26] SousaPedro11 commented on #810
I solved it in #811

[2020-10-28 16:25] SousaPedro11 opened #813 "151 | Reverse Words in a String | Python"
Problem name: Reverse Words in a String
Difficulty: Medium
Language: Python

[2020-10-28 16:25] SousaPedro11 commented on #813
Hi @noisefilter19 ,
Please assign this issue to me.
Thanks.

[2020-10-28 16:27] SousaPedro11 commented on #813
I solved it in #812
I just use split, join and slicing

[2020-10-28 16:30] SousaPedro11 opened #814 "162. | Find Peak Element | Python"
Problem name: Find Peak Element
Difficulty: Medium
Language: Python

[2020-10-28 16:30] SousaPedro11 commented on #814
Hi @noisefilter19 ,
Please assign this issue to me.
Thanks.

[2020-10-28 16:31] SousaPedro11 commented on #814
I solve it in #805

[2020-10-28 16:38] gitrahulgit commented on #814
I want to work on it

[2020-10-28 18:19] MohitRustagi commented on #709
#815

[2020-10-28 18:57] IngiRodr opened #816 "16. | 3Sum Closest | Typescript"
Problem name: 3Sum Closest
Difficulty: Medium
Language: Typescript

[2020-10-28 18:58] IngiRodr commented on #816
Please assign this issue to me. Thanks.

[2020-10-28 20:41] #672 closed

[2020-10-28 23:43] yagotome commented on #631
@noisefilter19 could you please assign this issue to me?

[2020-10-29 00:12] Claherkasten commented on #397
Can you assign this Problem to me, please?

[2020-10-29 07:54] Azanul opened #820 "4 | Median of Two Sorted Arrays | Go"
Problem name: Median of Two Sorted Arrays
Difficulty: Hard
Language: Go

[2020-10-29 07:55] Azanul commented on #820
Asking for assignment

[2020-10-29 07:57] Azanul opened #821 "25 | Reverse Nodes in k-Group | Python"
Problem name: Reverse Nodes in k-Group
Difficulty: Hard
Language: Python

[2020-10-29 07:57] Azanul commented on #821
Asking for assignment

[2020-10-29 07:57] Azanul opened #822 "25 | Reverse Nodes in k-Group | Go"
Problem name: Reverse Nodes in k-Group
Difficulty: Hard
Language: Go

[2020-10-29 07:58] Azanul commented on #822
Asking for assignment

[2020-10-29 08:08] raunaqjain opened #823 "212 | Word Search II | Python"
Problem name: Word Search II
Difficulty: Hard
Language: Python

[2020-10-29 08:08] raunaqjain commented on #823
Please assign this issue to me.

[2020-10-29 08:09] raunaqjain opened #824 "174 | Dungeon Game | Python"
Problem name: Dungeon Game
Difficulty: Hard
Language: Python

[2020-10-29 08:09] raunaqjain commented on #824
Please assign this issue to me.

[2020-10-29 08:10] raunaqjain opened #825 "297 | Serialize and Deserialize Binary Tree | Python"
Problem name: Serialize and Deserialize Binary Tree
Difficulty: Hard
Language: Python

[2020-10-29 08:12] raunaqjain opened #826 "124 | Binary Tree Maximum Path Sum | Python"
Problem name: Binary Tree Maximum Path Sum
Difficulty: Hard
Language: Python

[2020-10-29 08:12] raunaqjain commented on #826
Please assign this issue to me.

[2020-10-29 08:12] raunaqjain commented on #825
Please assign this issue to me.

[2020-10-29 08:32] noobcoder1211 opened #828 "01 | Maximum of Absolute Value Expression | C++"
Problem name:  Maximum of Absolute Value Expression
Difficulty: Medium
Language: C++

[2020-10-29 08:33] codeRider686 commented on #828
please assign me

[2020-10-29 08:34] noobcoder1211 commented on #828
please assign me

[2020-10-29 09:48] sourabhjain9887 commented on #828
please assign this issue to me.

[2020-10-29 10:55] rickben opened #832 "648 | Replace Words | Java"
Problem name: Replace Words
Difficulty: Medium
Language: Java
@noisefilter19  Please assign this to me.

[2020-10-29 11:55] rickben opened #834 "611 | Valid Triangle Number | Java"
Problem name: Valid Triangle Number
Difficulty: Medium
Language: Java
@noisefilter19 Please assign this issue to me.

[2020-10-29 12:03] rickben opened #835 "611 | Valid Triangle | Java"
Problem name: Valid Triangle
Difficulty: Medium
Language: Java
@noisefilter19 Please assign this issue to me.

[2020-10-29 12:05] rickben opened #836 "648 | Replace Words | Python"
Problem name: Replace Words
Difficulty: Medium
Language: Python
@noisefilter19 Please assign this to me.

[2020-10-29 17:26] #793 closed

[2020-10-29 17:29] noisefilter19 opened #838 "PR -> ISSUE LINKING"
Hey guys,
If you were assigned an issue and have solved it, please link the PR to issue and you can comment it down here as well so that we can get it merged ASAP

[2020-10-29 18:25] yuktagautam commented on #838
I have solved issue  Pow(x,n) #797
Please merge my PR #840
@noisefilter19

[2020-10-29 22:31] kakashi215 commented on #780
Fixes: #784
@DanialAnsari Make sure to link the issue in the PR in the above mentioned way.

[2020-10-30 06:50] prathmesh1199 opened #844 "236 | Lowest Common Ancestor of a Binary Tree | c++"
Problem name:  Lowest Common Ancestor of a Binary Tree
Difficulty:  Medium
Language: c++

[2020-10-30 08:18] ashutosh007865 commented on #844
I am working on this. please assign this problem to me

[2020-10-30 12:42] ashutosh007865 commented on #835
please assign this task to me

[2020-10-31 15:08] #806 closed

[2020-10-31 15:09] ofekMula commented on #806
This problem already opened

[2020-11-04 15:54] #832 closed

[2020-11-04 15:56] #797 closed

[2020-11-04 15:57] #745 closed

[2020-11-04 15:58] #709 closed

[2020-11-04 16:02] #632 closed

[2020-11-04 16:04] #580 closed

[2020-11-04 16:06] #191 closed

[2020-11-04 17:20] raunaqjain commented on #826
I have the pull request, it would be great if you can assign this to me before accepting it.

[2020-11-06 03:39] raunaqjain commented on #838
Issue number: #825
Problem name: Serialize and Deserialize Binary Tree
Difficulty: Hard
Language: Python
PR: #846

[2020-11-08 03:56] #318 closed

[2020-11-08 03:57] #270 closed

[2020-12-18 21:35] kingsamadesu opened #854 "921. | Minimum Add to Make Parentheses Valid | Java"
Problem name: Minimum Add to Make Parentheses Valid
Difficulty: Medium
Language: Java

[2021-01-10 16:14] #546 closed

[2021-03-01 07:10] #570 closed

[2021-09-20 16:34] #368 closed

[2021-09-20 16:35] #576 closed

[2021-09-20 16:35] #577 closed

[2021-09-20 16:35] #578 closed

[2021-10-01 03:46] Rushijaviya opened #866 "Problem No: 36 | Problem name: Valid Sudoku | Language: Python"
Problem name: Valid Sudoku
Difficulty: Medium
Language: Python

[2021-10-01 03:56] anushkarthik05 commented on #866
Can I do this problem? @Rushijaviya

[2021-10-01 04:05] Rushijaviya commented on #866
@anushkarthik05 wait till it assign!

[2021-10-01 04:06] anushkarthik05 commented on #866
@Rushijaviya Ok

[2021-10-01 04:12] anushkarthik05 commented on #866
@Rushijaviya I will wait till you assign me.

[2021-10-01 04:28] Rushijaviya commented on #866
@anushkarthik05 You are on wrong path. I am not the one who can assign this. By the way I am requesting to assign this problem to me by creating this issue.  Please read the [Contribution Guidelines](./CONTRIBUTING.md).

[2021-10-01 04:49] Anirudh906 opened #868 "Problem No. 96 | Unique Binary Search Trees | C++"
Problem name: Unique Binary Search Trees
Difficulty: Medium
Language: C++

[2021-10-01 04:51] dolamanee6122 commented on #868
Hey @Anirudh906 , I will add the solution in c++. please assign this to me

[2021-10-01 04:54] TheFenrisLycaon opened #869 "48 | Rotate Image | Python"
Problem name: 48. Rotate Image
Difficulty: Medium
Language: Python

[2021-10-01 04:54] Anirudh906 commented on #868
I am not the one who will assign this. Please read the community guidelines in the readme. By creating an issue, I am asking to assign the problem to me.

[2021-10-01 04:55] TheFenrisLycaon opened #870 "48 | Rotate Image | GoLang"
Problem name: 48. Rotate Image
Difficulty: Medium
Language: GoLang

[2021-10-01 04:56] TheFenrisLycaon opened #871 "199 | Binary Tree Right Side View | Python"
Problem name: Binary Tree Right Side View
Difficulty: Medium
Language: Python3

[2021-10-01 04:59] TheFenrisLycaon opened #872 "1561 | Max Coins you can Get | Python3"
Problem name: Maximum Number of Coins You Can Get
Difficulty: Medium
Language: Python3

[2021-10-01 05:00] TheFenrisLycaon opened #873 "10 | Regular Expression Matching | Python"
Problem name: Regular Expression Matching
Difficulty: Hard
Language: Python3

[2021-10-01 05:01] TheFenrisLycaon opened #874 "41 | First Missing Positive | Python3"
Problem name: First Missing Positive
Difficulty: Hard
Language: Python3

[2021-10-01 05:02] Anirudh906 opened #875 "Problem No. 103 | Binary Tree Zigzag Level Order Traversal | C++"
Problem name: Binary Tree Zigzag Level Order Traversa
Difficulty: Medium
Language: C++

[2021-10-01 05:02] joshi-omkar commented on #871
can I contribute?

[2021-10-01 05:03] TheFenrisLycaon opened #876 "36 | Sudoku Solver | Python3"
Problem name: Sudoku Solver
Difficulty: Hard
Language: Python3

[2021-10-01 05:04] TheFenrisLycaon opened #877 "32 | Longest Valid Parentheses | Python3"
Problem name: Longest Valid Parentheses
Difficulty: Hard
Language: Python3

[2021-10-01 05:05] TheFenrisLycaon opened #878 "44 | Wildcard Matching | Python3"
Problem name: Wildcard Matching
Difficulty: Hard
Language: Python3

[2021-10-01 05:06] TheFenrisLycaon opened #879 "45 | Jump Game II | Python"
Problem name: Jump Game
Difficulty: Medium
Language: Python3

[2021-10-01 05:06] nikita9604 commented on #872
Hi, I can provide code for this problem. Could you please assign this issue to me?

[2021-10-01 05:07] TheFenrisLycaon opened #880 "51 | N Queens | Python3"
Problem name: N Queens
Difficulty: Hard
Language: Python3

[2021-10-01 05:07] nikita9604 commented on #874
Hi, I can provide code for this problem. Could you please assign this issue to me?

[2021-10-01 05:08] TheFenrisLycaon commented on #872
Read contribution guidelines

[2021-10-01 05:09] TheFenrisLycaon commented on #874
Read contribution guidelines

[2021-10-01 05:10] nikita9604 commented on #874
Ok got it. Thanks for the info

[2021-10-01 05:10] TheFenrisLycaon opened #881 "42 | Trapping Rain Water | Python3"
Problem name: Trapping Rain Water
Difficulty: Hard
Language: Python3

[2021-10-01 05:11] nikita9604 commented on #872
Ok got it. Since, I am a beginner I wasn't aware of the process. Thanks for the info

[2021-10-01 05:15] nikita9604 opened #882 "12 | Integer to Roman | C++"
Problem name: Integer to Roman
Difficulty: Medium
Language: C++

[2021-10-01 05:17] nikita9604 opened #883 "149 | Max Points on a Line | C++"
Problem name: Max Points on a Line
Difficulty: Hard
Language: C++

[2021-10-01 05:23] krishna16sharma opened #884 "122 | Best Time to Buy and Sell Stock II | Python"
Problem name: Best Time to Buy and Sell Stock II
Difficulty: Medium
Language: Python

[2021-10-01 05:51] Anirudh906 opened #886 "Problem No. 23 | Merge k Sorted Lists | C++"
Problem name: Merge k Sorted Lists
Difficulty: Hard
Language: C++

[2021-10-01 05:52] Zaid23 commented on #886
Hey  @Anirudh906 I would like to try this, assign it to me

[2021-10-01 05:56] Anirudh906 commented on #886
@Zaid23  I am not the one who will assign this. Please read the contribution guidelines in the readme. By creating an issue, I am asking to assign the problem to me.

[2021-10-01 05:56] jayaganeshkumar commented on #882
Assign me. I have a code. Also, what are the instructions in PR?

[2021-10-01 06:01] Rohit-varma opened #887 "221 | Maximal Square | C++"
Problem name: Maximal Square containing only 1's
Difficulty: Medium
Language: C++

[2021-10-01 06:02] Rohit-varma commented on #887
I would like to contribute, @noisefilter19  please assign this issue to me.

[2021-10-01 06:27] suburban-daredevil commented on #879
Hey @TheFenrisLycaon. I would like to work on this problem. Can you please assign this to me?

[2021-10-01 06:53] Anirudh906 commented on #886
@noisefilter19  please assign this issue to me

[2021-10-01 06:53] prahasR opened #889 "32. | Longest Valid Parentheses | c++"
Problem name: Longest Valid Parentheses
Difficulty: Medium/Hard
Language: C++

[2021-10-01 06:54] Anirudh906 commented on #868
@noisefilter19  please assign this issue to me

[2021-10-01 06:54] Anirudh906 commented on #875
@noisefilter19  please assign this issue to me

[2021-10-01 07:02] nikita9604 commented on #882
Kindly read the contributing guidelines.

[2021-10-01 07:04] nikita9604 commented on #883
I would like to contribute to this problem, @noisefilter19 please assign this issue to me.

[2021-10-01 07:04] nikita9604 commented on #882
I would like to contribute to this problem, @noisefilter19 please assign this issue to me.

[2021-10-01 07:32] suburban-daredevil opened #891 "34 | Find First and Last Position of Element in Sorted Array | Python"
Problem name: Find First and Last Position of Element in Sorted Array
Difficulty: Medium
Language: Python

[2021-10-01 07:33] suburban-daredevil commented on #891
Hey @noisefilter19 . I would love to work on this problem. Would you mind assigning this to me?

[2021-10-01 07:38] avyayjain commented on #891
hi i would love to do this problem pls do assign it to me

[2021-10-01 07:40] Rohit-varma commented on #887
@noisefilter19 I have made a PR, kindly check

[2021-10-01 07:43] suburban-daredevil opened #893 "81 | Search in Rotated Sorted Array II | Python"
Problem name: Search in Rotated Sorted Array II (with duplicate elements)
Difficulty: Medium
Language: Python

[2021-10-01 07:44] suburban-daredevil commented on #893
Hey @noisefilter19. I would like to contribute. Can you please assign this issue to me?

[2021-10-01 07:49] suburban-daredevil opened #894 "540 | Single Element in a Sorted Array | Python"
Problem name: Single Element in a Sorted Array
Difficulty: Medium
Language: Python

[2021-10-01 07:50] suburban-daredevil commented on #894
Hey @noisefilter19 . I would like to contribute. Can you please assign this issue to me?

[2021-10-01 07:59] SubramaniSrinivasan opened #895 "140 | Word break II | Python"
Problem name: Word Break II
Difficulty: Hard
Language: Python3

[2021-10-01 08:03] SubramaniSrinivasan commented on #895
I would like to contribute, @noisefilter19 Kindly Please assign this issue to me.

[2021-10-01 08:06] SubramaniSrinivasan opened #896 "1579 | Remove Max Number of Edges to Keep Graph Fully Traversable | Python"
Problem name: Remove Max Number of Edges to Keep Graph Fully Traversable
Difficulty: Hard
Language: Python

[2021-10-01 08:07] SubramaniSrinivasan commented on #896
I would like to contribute, @noisefilter19 Kindly Please assign this issue to me.

[2021-10-01 08:17] AkshatAggarwal14 opened #897 "47. | Permutations II | C++"
Problem name: Permutations II
Difficulty: Medium
Language: C++

[2021-10-01 08:18] SunitaBhat101 opened #898 "36 | Valid Sudoku | Python"
Problem name:
Difficulty:
Language:

[2021-10-01 08:18] SunitaBhat101 commented on #898
Assign this to me please

[2021-10-01 08:19] SunitaBhat101 opened #899 "19 | Remove Nth Node From End of List | CPP"
Problem name:
Difficulty:
Language:

[2021-10-01 08:22] SunitaBhat101 opened #900 "45 | Jump Game II | CPP"
Problem name:
Difficulty:
Language:

[2021-10-01 09:16] #897 closed

[2021-10-01 09:16] #899 closed

[2021-10-01 09:22] #898 closed

[2021-10-01 09:24] AkshatAggarwal14 opened #906 "8. | String to Integer (atoi) | C++"
Problem name: String to Integer (atoi)
Difficulty: Medium
Language: C++

[2021-10-01 09:27] #900 closed

[2021-10-01 09:27] #887 closed

[2021-10-01 09:32] SunitaBhat101 opened #907 "23 | Merge K sorted lists | CPP"
Problem name:
Difficulty:
Language:

[2021-10-01 09:36] Koddi-Evangelista opened #908 "29 | Divide Two Numbers | Javascript"
Problem name: Divide Two Numbers
Difficulty: Medium
Language: Javascript

[2021-10-01 09:36] #907 closed

[2021-10-01 09:38] anushkarthik05 opened #910 "387 | First Unique Character in a String | C++"
Problem name: 387
Difficulty: Easy
Language: C++

[2021-10-01 10:00] Anirudh906 opened #919 "1642 | Farthest Building you can reach | C++"
Problem name: Furthest Building You Can Reach
Difficulty: Medium
Language: C++

Hello @noisefilter19 please assign me this issue.

[2021-10-01 10:02] Koddi-Evangelista opened #920 "43 | Multiply Strings | Javascript"
Problem name: Multiply Strings
Difficulty: Medium
Language: Javascript

[2021-10-01 10:06] Koddi-Evangelista opened #921 "148 | Sort List | Javascript"
Problem name: Sort List
Difficulty: Medium
Language: Javascript

[2021-10-01 10:06] Anirudh906 opened #922 "76 | Minimum Window Substring | C++"
Problem name: Minimum window substring
Difficulty: Hard
Language: C++

[2021-10-01 10:08] prahasR commented on #889
Thanks @noisefilter19  for assigning ,created PR #918

[2021-10-01 10:09] Koddi-Evangelista opened #923 "162 | Find Peak Element | Javascript"
Problem name: Find Peak Element
Difficulty: Medium
Language: Javascript

[2021-10-01 10:11] agrawal-deeksha commented on #922
Can you assign it to me?

[2021-10-01 10:11] Koddi-Evangelista opened #924 "151 |Reverse Words in a String | Javascript"
Problem name: Reverse Words in a String
Difficulty: Medium
Language: Javascript

[2021-10-01 10:12] #906 closed

[2021-10-01 10:15] Anirudh906 commented on #922
read contribution guidelines in readme

[2021-10-01 10:15] AkshatAggarwal14 opened #925 "89. | Gray Code | C++"
Problem name: Gray Code
Difficulty: Medium
Language: C++

[2021-10-01 10:16] SugatoBagchi commented on #879
Hey, I would like to take this issue. can you please assign it to me?

[2021-10-01 10:19] AkshatAggarwal14 opened #927 "464. | Can I Win | C++"
Problem name: Can I Win
Difficulty: Medium
Language: C++

[2021-10-01 10:21] AkshatAggarwal14 opened #928 "1980. | Find Unique Binary String | C++"
Problem name: Find Unique Binary String
Difficulty: Medium
Language: C++

[2021-10-01 10:21] Vaibhav2801 commented on #924
I can contribute to this. Please assign it to me.

[2021-10-01 10:22] Vaibhav2801 commented on #923
I can contribute to this. Please assign it to me.

[2021-10-01 10:23] AkshatAggarwal14 opened #929 "1930. | Unique Length-3 Palindromic Subsequences | C++"
Problem name: Unique Length-3 Palindromic Subsequences
Difficulty: Medium
Language: C++

[2021-10-01 10:24] Vaibhav2801 commented on #921
I can Do this Problem . Please assign it to me.

[2021-10-01 10:25] AkshatAggarwal14 opened #930 "1780. | Check if Number is a Sum of Powers of Three | C++"
Problem name: Check if Number is a Sum of Powers of Three
Difficulty: Medium
Language: C++

[2021-10-01 10:27] agrawal-deeksha opened #931 "60. | Permutation Sequence | C++"
Problem name: Permutation Sequence
Difficulty: Hard
Language: C++

[2021-10-01 10:30] agrawal-deeksha opened #935 "65. | Valid Number | C++"
Problem name: Valid Number
Difficulty: Hard
Language: C++

[2021-10-01 10:31] agrawal-deeksha opened #936 "68. | Text Justification | C++"
Problem name: Text Justification
Difficulty: Hard
Language: C++

[2021-10-01 10:32] hardik3008 commented on #930
I can contribute to this. Please assign it to me.

[2021-10-01 10:32] Zaid23 commented on #935
Hey @agrawal-deeksha  I would Like to take this up, assign it to me

[2021-10-01 10:33] agrawal-deeksha opened #937 "154. | Find Minimum in Rotated Sorted Array II | C++"
Problem name: Find Minimum in Rotated Sorted Array II
Difficulty: Hard
Language: C++

[2021-10-01 10:34] agrawal-deeksha opened #938 "273. | Integer to English Words | C++"
Problem name: Integer to English Words
Difficulty: Hard
Language: C++

[2021-10-01 10:34] Zaid23 commented on #936
Hey @agrawal-deeksha, I would like to do it. assign it to me

[2021-10-01 10:39] agrawal-deeksha commented on #936
Hi @Zaid23, Please read the contribution guidelines. If you need to create a PR, raise an issue for the same. You will get assigned to your issue.

[2021-10-01 10:39] agrawal-deeksha commented on #935
Hi @Zaid23, Please read the contribution guidelines. If you need to create a PR, raise an issue for the same. You will get assigned to your issue.

[2021-10-01 10:39] AkshatAggarwal14 commented on #925
@andrefpoliveira  I am not the one who will decide who works on this. Please read the [contribution guidelines](https://github.com/noisefilter19/LeetCode_Algorithms/blob/57d30bfbd8f7fa54eef0057994f1f4781902929c/CONTRIBUTING.md) . By creating an issue, I am asking the owner to assign the problem to me.

[2021-10-01 10:39] Anirudh906 opened #939 "973 | K Closest Points to Origin | C++"
Problem name: K Closest Points to Origin
Difficulty: Medium
Language: C++
This is a famous Facebook coding question

[2021-10-01 10:41] Vaibhav2801 opened #940 "518.| Coin Change 2 | C++Problem No. | Problem name | Language"
Problem name: Coin Change 2
Difficulty: Medium
Language:C++

[2021-10-01 10:45] Vaibhav2801 opened #941 "877.| Stone Game | C++"
Problem name: Stone Game
Difficulty: Medium
Language: C++

[2021-10-01 10:46] Vaibhav2801 opened #942 "1395| Count Number of Teams| C++"
Problem name: Count Number of Teams
Difficulty: Medium
Language: C++

[2021-10-01 10:47] Vaibhav2801 opened #943 "983| Minimum Cost For Tickets| C++"
Problem name: Minimum Cost For Tickets
Difficulty: Medium
Language: C++

[2021-10-01 10:49] Vaibhav2801 opened #944 "1493|Longest Subarray of 1's After Deleting One Element| C++"
Problem name: Longest Subarray of 1's After Deleting One Element
Difficulty: Medium
Language: C++

[2021-10-01 10:52] Zaid23 opened #946 "980. | Unique Paths IIII | CPP"
Problem name: Unique Paths
Difficulty: Hard
Language: CPP

[2021-10-01 10:52] hardik3008 opened #947 "1578. | Minimum Deletion Cost to Avoid Repeating Letters | C++"
Problem name: Minimum Deletion Cost to Avoid Repeating Letters
Difficulty: Medium
Language: C++

[2021-10-01 10:54] Anirudh906 opened #948 "1986 | Minimum Number of Work Sessions to Finish the Tasks | C++"
Problem name: Minimum Number of Work Sessions to Finish the Tasks
Difficulty: Medium
Language: C++

[2021-10-01 10:55] hardik3008 opened #949 "526. | Beautiful Arrangement | C++"
Problem name: Beautiful Arrangement
Difficulty: Medium
Language: C++

[2021-10-01 10:57] hardik3008 opened #950 "1387. | Sort Integers by The Power Value | C++"
Problem name: Sort Integers by The Power Value
Difficulty: Medium
Language: C++

[2021-10-01 10:58] andrefpoliveira commented on #925
@AkshatAggarwal14 np!

[2021-10-01 11:14] Ankurrsingh opened #953 "149 | Max Points on a Line | Python"
Problem name: Max Points on a Line
Difficulty: Hard
Language: Python

[2021-10-01 11:49] aditirao7 commented on #930
Can I work on this?

[2021-10-01 12:09] truthfool opened #955 "19 | Remove Nth Node From End of List | Java"
Problem name: Remove Nth Node From End of List
Difficulty: Medium
Language: Java

[2021-10-01 12:10] aditirao7 opened #956 "48. | Rotate Image | C++"
Problem name: Rotate Image
Difficulty: Medium
Language: C++

[2021-10-01 12:11] tfarnecim commented on #956
Hey, can i work on it?

[2021-10-01 12:31] kvnal commented on #921
I would like to work on this, Please assign me this task

[2021-10-01 12:31] kvnal commented on #924
I would like to work on this, Please assign me this task

[2021-10-01 12:49] jayaganeshkumar commented on #938
Can you assign this to me?

[2021-10-01 12:51] suburban-daredevil commented on #894
Hey @noisefilter19. I have raised a PR for this problem #957. Thanks!

[2021-10-01 13:02] suburban-daredevil commented on #891
Hey @avyayjain. Try checking the Contributing Guidelines

[2021-10-01 13:09] suburban-daredevil opened #958 "153 | Find Minimum in Rotated Sorted Array | Python"
Problem name: Find Minimum in Rotated Sorted Array
Difficulty: Medium
Language: Python

[2021-10-01 13:10] suburban-daredevil commented on #958
Hey @noisefilter19 . I would like to contribute. Can you please assign this issue to me?

[2021-10-01 13:11] avyayjain commented on #891
Hi I would like you to assign me issue 34 find first and last position of element in sorted array python

[2021-10-01 13:32] suburban-daredevil commented on #891
Hey @avyayjain . I am also a contributor just as you and I do not have the permission to assign issues. Try checking out the Contributing Guidelines to know how to contribute. Thanks!

[2021-10-01 14:01] Nikhil-1503 opened #959 "1328. | Break a Palindrome | C++"
Problem name: Break a Palindrome
Difficulty: Medium
Language: C++

[2021-10-01 14:04] mayankgoyal-13 opened #960 "315 | Calculator | Python"
Problem name: Creating a basic calculator
Difficulty: Easy
Language: Python 3

[2021-10-01 14:16] aditirao7 opened #962 "25 | Reverse Nodes in k-Group | C++"
Problem name: Reverse Nodes in k-Group
Difficulty: Hard
Language: C++

[2021-10-01 14:27] aditirao7 opened #963 "6 | ZigZag Conversion | C++"
Problem name: ZigZag Conversion
Difficulty: Medium
Language: C++

[2021-10-01 14:34] anusha-3 commented on #959
Can you assign me this task?

[2021-10-01 14:36] Nikhil-1503 commented on #959
Actually I wanted to work on this and waiting for the maintainer to assign this to me.

[2021-10-01 14:44] aditirao7 opened #966 "59. | Spiral Matrix II | C++"
Problem name: Spiral Matrix II
Difficulty: Medium
Language: C++

[2021-10-01 14:53] anshkush92college opened #968 "204. | Count Primes | C++"
Problem name: Count Primes
Difficulty: Medium
Language: C++

[2021-10-01 14:59] SubramaniSrinivasan commented on #895
Hey @noisefilter19. I have raised a PR for this problem #967. Thanks!

[2021-10-01 15:31] avyayjain commented on #891
I think I have followed the contribution guidelines

[2021-10-01 15:35] AkshatAggarwal14 commented on #930
Hey @anusha-3 , I am not the one who can assign the issues. Please read the [contribution guidelines](https://github.com/noisefilter19/LeetCode_Algorithms/blob/57d30bfbd8f7fa54eef0057994f1f4781902929c/CONTRIBUTING.md). By creating an issue, I am asking the owner to assign the problem to me.

[2021-10-01 15:48] TheFenrisLycaon commented on #874
@noisefilter19 please check.

[2021-10-01 16:33] aayush920 commented on #657
Hi,I would like to work on this issue

[2021-10-01 16:39] aayush920 opened #970 "24. | Swap Nodes in Pairs | C++"
Problem name: Swap Nodes in Pairs
Difficulty: Medium
Language: C++

[2021-10-01 16:42] aayush920 opened #971 "1143. | Longest Common Subsequence | C++"
Problem name: Longest Common Subsequence
Difficulty: Medium
Language: C++

[2021-10-01 16:44] aayush920 opened #972 "72. | Edit Distance | C++"
Problem name: Edit Distance
Difficulty: Hard
Language: C++

[2021-10-01 16:48] aayush920 opened #973 "300. | Longest Increasing Subsequence | C++"
Problem name: Longest Increasing Subsequence
Difficulty: Medium
Language: C++

[2021-10-01 18:11] duttabhishek0 commented on #973
Hey, can you assign me this issue?

[2021-10-01 18:12] duttabhishek0 commented on #968
Hey, I can work on this issue, can you assign it to me?

[2021-10-01 18:19] aayush920 commented on #973
You have misunderstood it. I have created this issue so that someone can assign it to me. Please read the guidelines carefully and raise issue yourself on another problem

[2021-10-01 18:22] duttabhishek0 commented on #973
Sorry, misunderstood it.

[2021-10-01 21:43] classerase commented on #820
could i have this assigned to me please?

[2021-10-02 07:00] Anirudh906 opened #978 "124 | Binary Tree Maximum Path Sum | C++"
Problem name: Binary Tree Maximum Path Sum
Difficulty: Hard
Language: C++

[2021-10-02 07:04] beheradibas commented on #978
Assign me.

[2021-10-02 07:06] beheradibas commented on #968
Please assign me.

[2021-10-02 07:30] Pretty-19 commented on #955
@truthfool  can you assign this issue to me?

[2021-10-02 07:37] avyayjain commented on #960
pls assign me this issue

[2021-10-02 08:04] truthfool commented on #955
@Pretty-19 actually im waiting for the contributors to assign it to me.Please read the contribution guidelines : https://github.com/noisefilter19/LeetCode_Algorithms/blob/main/CONTRIBUTING.md

[2021-10-02 08:11] Koddi-Evangelista commented on #924
@noisefilter19 can I start to dev this one?

[2021-10-02 08:12] Koddi-Evangelista commented on #921
@noisefilter19 can I start to dev this one also? Thanks.

[2021-10-02 08:12] Pretty-19 commented on #955
okay got that

[2021-10-02 08:28] #866 closed

[2021-10-02 08:31] #919 closed

[2021-10-02 08:42] #931 closed

[2021-10-02 08:48] prkapadnis commented on #891
hey @noisefilter19, I am a beginner and I want to learn git and how to work on a project or repo. Do you mind sending it over to me? It will start my journey of open source

[2021-10-02 08:54] noisefilter19 commented on #891
Assigned to @suburban-daredevil .
@prkapadnis please open a new issue if you want to work on it

[2021-10-02 08:59] noisefilter19 opened #982 "Test"
Problem name:
Difficulty:
Language:

[2021-10-02 08:59] #920 closed

[2021-10-02 09:00] #982 closed

[2021-10-02 09:06] harshita9621 commented on #966
@aditirao7 can you please assign me this . I am part of hacktoberfest2021.

[2021-10-02 09:07] harshita9621 commented on #973
@aayush920 can you please assign me this. I am part of hacktoberfest2021.

[2021-10-02 09:08] harshita9621 commented on #956
@aditirao7 can you please assign me this. I am part of hacktoberfest2021.

[2021-10-02 09:08] harshita9621 commented on #963
@aditirao7 can you please assign me this. I am part of hacktoberfest2021.

[2021-10-02 09:10] Koddi-Evangelista opened #983 "39 | Combination Sum | Javascript"
Problem name: Combination Sum
Difficulty: Medium
Language: Javascript

[2021-10-02 09:14] saaiiravi commented on #953
Can you assign this to me?

[2021-10-02 09:15] Koddi-Evangelista opened #984 "40 |Combination Sum II | Javascript"
Problem name: Combination Sum II
Difficulty: Medium
Language: Javascript

[2021-10-02 09:20] Koddi-Evangelista opened #985 "216 | Combination Sum III | Javascript"
Problem name: Combination Sum III
Difficulty: Medium
Language: Javascript

[2021-10-02 09:29] aditirao7 commented on #966
Hey! @harshita9621 I think you haven't read the contribution guidelines [Contribution Guidelines](https://github.com/noisefilter19/LeetCode_Algorithms/blob/main/CONTRIBUTING.md). I opened this issue because I want the maintainers to assign it to me.

[2021-10-02 09:30] KuraPriyanka opened #987 "1545 | Find Kth Bit in Nth Binary String | Cpp"
Problem name: Find Kth Bit in Nth Binary String
Difficulty: Medium
Language: Cpp

[2021-10-02 09:32] KuraPriyanka opened #988 "779 | K-th Symbol in Grammar | Cpp"
Problem name: K-th Symbol in Grammar
Difficulty: Medium
Language: Cpp

[2021-10-02 09:34] KuraPriyanka opened #990 "42 | Trapping Rain Water | Cpp"
Problem name: Trapping Rain Water
Difficulty: Hard
Language:Cpp

[2021-10-02 09:37] KuraPriyanka opened #991 "149 | Max Points on a Line | Cpp"
Problem name: Max Points on a Line
Difficulty: Hard
Language:Cpp

[2021-10-02 09:37] Anubha13kumari commented on #990
I want to work on this issue.

[2021-10-02 09:40] harshita9621 opened #992 "Search a 2D Matrix"
Problem name: Search a 2D Matrix
Difficulty: Medium
Language: cpp

[2021-10-02 09:41] harshita9621 opened #993 "Sort Colors"
Problem name: Sort Colors
Difficulty: Medium
Language: cpp

[2021-10-02 09:41] KuraPriyanka commented on #990
You have misunderstood it. I have created this issue so that someone can assign it to me. Please read the guidelines carefully and raise issue for yourself on another problem

[2021-10-02 09:47] anshkush92college commented on #968
I believe I don't have the power to assign the issue to someone. I made it for myself so the maintainer can assign it to me.
In [contributing guidelines](https://github.com/noisefilter19/LeetCode_Algorithms/blob/main/CONTRIBUTING.md), it is written to contribute an algorithm, you should raise a issue so I raised issue for that only.

[2021-10-02 09:49] aayush920 commented on #973
You have misunderstood it. I have created this issue so that someone can assign it to me. Please read the guidelines carefully and raise issue yourself on another problem

[2021-10-02 10:00] Anubha13kumari commented on #988
I want to work on this issue.

[2021-10-02 10:09] KuraPriyanka commented on #988
I have already mentioned to you in another issue comments you are misunderstanding it. I have created this issue so that someone can assign it to me. Please read the comments and guidelines carefully and raise issue for yourself on another problem

[2021-10-02 10:57] ManviGoel26 opened #996 "1381 | Design a Stack With Increment Operation | C++"
Problem name: Design a Stack With Increment Operation
Difficulty: Medium
Language: C++

[2021-10-02 11:32] #908 closed

[2021-10-02 12:46] mayankgoyal-13 commented on #960
I have created the pull request with the code. Pull request number is #961. Pls check and merge the pr.

[2021-10-02 12:56] Pepejovi commented on #996
@ManviGoel26 I can grab this if it's still open.

[2021-10-02 14:26] prkapadnis opened #997 "34 | Find First and Last Position of Element in Sorted Array | Python"
Problem name: Find First and Last Position of Element in Sorted Array
Difficulty: Medium
Language: Python

[2021-10-02 14:27] prkapadnis commented on #891
okay

[2021-10-02 14:32] prkapadnis commented on #891
After creating a new issue then how can I work on it means if it will be assigned to me then how can I work on the problem.

[2021-10-02 15:11] saadfareed commented on #997
Assign it to me

[2021-10-02 15:14] saadfareed commented on #930
Can you assign this task to me?

[2021-10-02 16:18] LyndonFan commented on #983
Hi, is this issue available? I can work on it!

[2021-10-02 16:18] LyndonFan commented on #984
Hi, is this issue available? I can work on it!

[2021-10-02 16:18] LyndonFan commented on #985
Hi, is this issue available? I can work on it!

[2021-10-02 16:25] SubramaniSrinivasan opened #999 "424 | Longest Repeating Character Replacement | Python"
Problem name: Longest Repeating Character Replacement
Difficulty: Medium
Language: Python

[2021-10-02 16:26] SubramaniSrinivasan commented on #999
I would like to contribute, @noisefilter19 Kindly Please assign this issue to me.

[2021-10-02 17:40] prkapadnis commented on #997
How can I assigned it to you

[2021-10-02 18:22] Rushijaviya commented on #866
@anushkarthik05 In case you want to contribute in open source you can contribute here. [https://github.com/Rushijaviya/Mezzo-Projects]

[2021-10-02 19:19] Alekhya77 commented on #877
@noisefilter19 assign this to me.

[2021-10-02 19:40] Alekhya77 opened #1001 "151 | Reverse Words in a String | Python"
Problem name: Reverse Words in a String
Difficulty: Medium
Language: Python

[2021-10-02 19:41] Alekhya77 commented on #1001
@noisefilter19 I would like to contribute the solution for the problem.

[2021-10-02 19:47] Alekhya77 opened #1002 "622 | Design Circular Queue | Python"
Problem name: Design Circular Queue
Difficulty: Medium
Language: Python

[2021-10-02 19:49] Alekhya77 commented on #1002
@noisefilter19 I would like to contribute the solution for the problem.

[2021-10-02 21:47] neodark commented on #1001
Can I work on this one please?

[2021-10-03 04:43] tuminzee opened #1007 "2024. | Maximize the Confusion of an Exam | Java"
Problem name: Maximize the Confusion of an Exam
Difficulty: Medium
Language: Java

[2021-10-03 04:46] tuminzee opened #1008 "2023 | Number of Pairs of Strings With Concatenation Equal to Target | Java"
Problem name: Number of Pairs of Strings With Concatenation Equal to Target
Difficulty: Medium
Language: Java

[2021-10-03 04:47] tuminzee opened #1009 "2024 | Maximize the Confusion of an Exam | Java"
Problem name: Maximize the Confusion of an Exam
Difficulty: Medium
Language: Java

[2021-10-03 04:47] #1009 closed

[2021-10-03 06:27] Rohit-varma opened #1010 "611 | Valid Triangle Number | C++"
Problem name: Valid Triangle Number
Difficulty: Medium
Language: C++

[2021-10-03 06:28] Rohit-varma commented on #1010
I am willing to work on this issue, @noisefilter19 please assign this issue to me.

[2021-10-03 06:45] ananya0504 commented on #1001
Hi, I would like to contribute to this issue.

[2021-10-03 07:41] Ishika2 commented on #971
I would like to take this issue. Please assign this to me.

[2021-10-03 08:07] Ishika2 opened #1012 "31. | Next Permutation | C++"
Problem name: Next Permutation
Difficulty: Medium
Language: C++

[2021-10-03 08:08] Ishika2 commented on #1012
Very excited to take this issue as this is my first time. Please assign this to me.

[2021-10-03 08:47] aayush920 commented on #971
You have misunderstood it. I have created this issue so that someone can assign it to me. Please read the guidelines carefully and raise issue yourself on another problem

[2021-10-04 04:26] YushChaudhary commented on #997
Done you can close this issue Thanks #1017

[2021-10-04 08:33] joshi-omkar opened #1018 "4. | Median of Two Sorted Arrays | C++"
Problem name: Median of Two Sorted Arrays
Difficulty: Hard
Language: C++

[2021-10-04 08:35] joshi-omkar commented on #1018
Please assign this to me.

[2021-10-04 08:36] joshi-omkar opened #1019 "33 | Search in Rotated Sorted Array | C++"
Problem name: Search in Rotated Sorted Array
Difficulty: Medium
Language: C++

[2021-10-04 08:36] joshi-omkar commented on #1019
Please assign this to me.

[2021-10-04 09:10] TechieNK commented on #993
Can I work on this issue under Hacktoberfest'21?

[2021-10-04 11:38] Shruti-Bibra commented on #993
assign this issue to me

[2021-10-04 11:44] Mr-codermp commented on #1001
May I solve this issue?

[2021-10-04 12:00] tanya-0708 commented on #1018
Hi
Please can you assign this issue to me.
Thank you

[2021-10-04 16:50] YushChaudhary commented on #997
@prkapadnis  check my fix and merge it using haketoberfest accepted label 🏷  so I can count it.

[2021-10-05 05:29] joshi-omkar commented on #1018
/assign

[2021-10-05 14:37] prahasR commented on #889
@noisefilter19 please review the PR

[2021-10-05 17:26] #891 closed

[2021-10-05 17:26] #894 closed

[2021-10-05 17:26] #895 closed

[2021-10-05 17:30] #935 closed

[2021-10-05 17:48] ShubhaIn opened #1023 "15 | 3Sum | CPP"
Problem name:
Difficulty:
Language:

[2021-10-05 17:50] #1023 closed

[2021-10-05 17:53] ShubhaIn opened #1025 "300 | Longest Increasing Subsequence | CPP"
Problem name:
Difficulty:
Language:

[2021-10-05 18:15] ShubhaIn opened #1027 "384 | Shuffle An Array | C++"
Problem name:
Difficulty:
Language:

[2021-10-05 18:16] #1025 closed

[2021-10-05 18:18] #936 closed

[2021-10-05 18:19] SOURAB-BAPPA commented on #877
I want to solve this in python

[2021-10-05 18:36] #1001 closed

[2021-10-05 18:40] #730 closed

[2021-10-05 18:42] gokul5102 opened #1032 "797. | All Paths From Source to Target | cpp"
Problem name:All Paths From Source to Target
Difficulty:Medium
Language:cpp

[2021-10-05 18:43] gokul5102 commented on #1032
Please assign this problem to me.I would like to contribute to this repository.

[2021-10-05 22:43] suburban-daredevil commented on #958
Hey @noisefilter19 . I really would love to work on this issue. Can you please assign this issue to me?

[2021-10-06 05:48] joshi-omkar commented on #1018
https://github.com/noisefilter19/LeetCode_Algorithms/pull/1037

[2021-10-06 12:58] chetan-2002 commented on #992
Hey @noisefilter19 , I am very much excited to work on this issue. Can you please assign it to me?

[2021-10-06 14:47] hitesh22rana opened #1040 "1877 | Minimize Maximum Pair Sum in Array | JAVA"
Problem name: Minimize Maximum Pair Sum in Array
Difficulty: Medium
Language: JAVA

[2021-10-06 14:48] hitesh22rana commented on #1040
Please assign @noisefilter19 this issue to me

[2021-10-06 15:07] shrutigore commented on #1008
Please assign this issue to me, I'm interested in working on it!

[2021-10-06 15:08] shrutigore commented on #1007
I'm interested in working on it, Please assign this issue to me.

[2021-10-06 15:12] shrutigore commented on #955
I'm interested in working on this issue, please assign it to me!

[2021-10-06 15:12] shrutigore commented on #854
I'm interested in working on this issue, please assign it to me!

[2021-10-06 17:25] SubramaniSrinivasan commented on #896
Hey @noisefilter19. I have raised a PR for this problem #1041. Thanks!

[2021-10-06 19:07] noisefilter19 commented on #1008
@shrutigore please read the guidelines

[2021-10-06 19:27] tuminzee commented on #1008
#1042

[2021-10-06 20:14] hitesh22rana opened #1044 "1689 | Partitioning Into Minimum Number Of Deci-Binary Numbers | JAVA"
Problem name: Partitioning Into Minimum Number Of Deci-Binary Numbers
Difficulty: Medium
Language: JAVA

[2021-10-06 20:14] hitesh22rana commented on #1044
@noisefilter19  Kindly , assign this issue to me

[2021-10-07 14:48] chetan-2002 opened #1046 "124 | Binary Tree Maximum Path Sum | C++"
Problem name: Binary Tree Maximum Path Sum
Difficulty: Hard
Language: C++

[2021-10-07 14:49] chetan-2002 commented on #1046
Hey @noisefilter19, I am really very excited to work on this issue. Can you please assign this issue to me?

[2021-10-07 15:21] hitesh22rana opened #1047 "410 | Split Array Largest Sum | JAVA"
Problem name: Split Array Largest Sum
Difficulty: Hard
Language: JAVA

[2021-10-07 15:22] hitesh22rana commented on #1047
@noisefilter19 Please Assign this issue to me. I am pretty excited to work on this issue
Thanks

[2021-10-08 06:32] azhar1038 opened #1048 "127 | Word Ladder | Python"
Problem name: Word Ladder
Difficulty: Hard
Language: Python 3

[2021-10-08 13:12] chetan-2002 commented on #1046
Because there was no response from your side,I am closing this issue.

[2021-10-08 13:12] #1046 closed, assigned to nobody

[2021-10-09 05:08] SubramaniSrinivasan opened #1049 "17 | Letter Combinations of a Phone Number | Python"
Problem name: Letter Combinations of a Phone Number
Difficulty: Medium
Language: Python

[2021-10-09 05:08] SubramaniSrinivasan commented on #1049
Please assign @noisefilter19 this issue to me

[2021-10-09 05:09] #1049 closed, assigned to nobody

[2021-10-09 05:12] SubramaniSrinivasan opened #1050 "1970 | Last Day Where You Can Still Cross | Python"
Problem name : Last Day Where You Can Still Cross
Difficulty : Hard
Language : Python

[2021-10-09 05:12] SubramaniSrinivasan commented on #1050
@noisefilter19 Kindly, assign this issue to me.

[2021-10-09 06:00] tuminzee opened #1051 "212 | Word Search II | Java"
Problem name: Word Search II
Difficulty: Hard
Language: Java

[2021-10-09 06:01] tuminzee opened #1052 "208 | Implement Trie (Prefix Tree) | Java"
Problem name: Implement Trie (Prefix Tree)
Difficulty: Medium
Language: Java

[2021-10-09 06:45] priyadarshan1995 commented on #1048
pls assign to me

[2021-10-09 16:16] ShrutiSolani commented on #1052
Please assign it to me. I will implement it.

[2021-10-10 09:39] tuminzee opened #1053 "2033 | Minimum Operations to Make a Uni-Value Grid | Java"
Problem name: Minimum Operations to Make a Uni-Value Grid
Difficulty: Medium
Language: Java

[2021-10-10 09:41] tuminzee opened #1054 "2034 | Stock Price Fluctuation | Java"
Problem name: Stock Price Fluctuation
Difficulty: Medium
Language: Java

[2021-10-10 16:32] KanakalathaVemuru opened #1056 "600 | Non-negative Integers without Consecutive Ones | C++"
Problem name: Non-negative Integers without Consecutive Ones
Difficulty: Hard
Language: C++

[2021-10-10 16:33] KanakalathaVemuru opened #1057 "1483 | Kth Ancestor of a Tree Node | C++"
Problem name: Kth Ancestor of a Tree Node
Difficulty: Hard
Language: C++

[2021-10-10 16:36] KanakalathaVemuru opened #1058 "1755 | Closest Subsequence Sum | C++"
Problem name: Closest Subsequence Sum
Difficulty: Hard
Language: C++

[2021-10-10 16:44] smily31 commented on #1058
/assign this issue to me

[2021-10-10 23:14] dro-1 opened #1059 "912 | Sort an Array | Javascript"
Problem name: Sort an Array
Difficulty: Medium
Language: Javascript

[2021-10-10 23:18] dro-1 opened #1060 "3 | Longest Substring Without Repeating Characters | Javascript"
Problem name: Longest Substring Without Repeating Characters
Difficulty: Medium
Language: Javascript

[2021-10-10 23:23] abhinav-exp commented on #1060
@dro-1  , I would like to work on this. Kindly please assign this issue to me.

[2021-10-10 23:49] abhinav-exp opened #1061 "894 | All Possible Full Binary Trees | C++"
Problem name: All Possible Full Binary Trees
Difficulty: Medium
Language: C++

[2021-10-11 00:41] jitendrajaria commented on #1060
I would like to work on this, can you please assign this issue to me.

[2021-10-11 00:42] jitendrajaria commented on #1061
I would like to work on this, can you please assign this issue to me.

[2021-10-11 00:43] jitendrajaria commented on #1059
@dro-1  I would like to work on this, can you please assign this to me.

[2021-10-11 00:44] jitendrajaria commented on #1052
Is it in progress, I can work on this?

[2021-10-11 06:14] Aniket27100709 commented on #1056
I can do it.Can you assign it to me?

[2021-10-11 09:12] abhijeet-crypto commented on #1018
i would like to work on this

[2021-10-11 09:13] abhijeet-crypto commented on #796
i would like to work on this

[2021-10-11 09:14] abhijeet-crypto commented on #539
i would like to work on this

[2021-10-12 02:08] azizijunaid commented on #1059
@dro-1 Please assign it to me if it is available.

[2021-10-13 05:09] #962 closed

[2021-10-13 05:09] #963 closed

[2021-10-13 21:27] hitesh22rana commented on #1040
@noisefilter19  Sir! you have assigned this issue to me kindly see , and i have pushed a PR to merge . Kindly see

[2021-10-14 17:30] harshita9621 commented on #993
Can I work on this isssue

[2021-10-17 12:51] MohitGupta121 commented on #987
@KuraPriyanka I want to work on this issue.
Can you please assign me.

[2021-10-17 14:43] azhar1038 commented on #1048
Closing because you didn't respond.

[2021-10-17 14:43] #1048 closed, assigned to nobody

[2021-10-17 17:18] Richa812 opened #1076 "437. | Path Sum III | cpp"
Problem name: Path Sum III
Difficulty: Medium
Language: cpp

[2021-10-17 17:19] Richa812 commented on #1076
kindly assign me this issue

[2021-10-18 14:47] tejasvicsr1 opened #1077 "204. | Count Primes | Python"
Problem name: Count Primes
Difficulty: Medium
Language: Python